<template name="sidebarLayout">
	{{> header}}
	<div class="ui page grid" style="{{getStatusPageStyle}}">
		<div class="row">
			<div class="four wide column">
				<div class="ui blue vertical feature segment">
					{{> yield 'sidebar'}}
				</div>
				{{>pomodoroSegment}}
			</div>
			<div class="twelve wide column">
				{{> yield}}
			</div>
		</div>
		{{> footer}}
	</div>
</template>
