<!--
data context: {skill, course, topic, theme}
-->
<template name="skillEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{skill.title}}
				<div class="sub header">
					Topic
					<a href="{{pathFor 'topicPage' courseId=course._id topicId=topic._id}}">{{topic.title}}</a>
					in theme
					<a href="{{pathFor 'themePage' courseId=course._id themeId=theme._id}}">{{theme.title}}</a>
				</div>
			</div>
		</h1>
		<form class="ui form">
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" placeholder="Short title" value="{{skill.title}}">
			</div>
			<div class="field">
				<label>Short Description:</label>
				<input type="text" name="description" placeholder="One-sentence description of the contents of this skill" value="{{skill.description}}">
			</div>
			<button class="ui blue submit button">Update Skill</button>
		</form>
	</div>
</template>
