/* These styles are used everywhere we use JointJS in Informa */

/* paper */
.paper {
 /*border: 1px solid hsl(0,0%,80%);*/
 background-color: white;
}
.stencil {
 background-color: hsl(208,100%,97%);
}

/* ports */
.port-body {
  fill: hsl(200, 100%, 40%);
}
.available-magnet {
  fill: orange;
}
.outPorts .port-body:hover {
  fill: orange;
}
.inPorts .port-label {
  display: none;
}
.port-label {
  fill: white;
  font-size: 7pt;
}

/* elements */
.body {
  fill: hsl(200, 100%, 40%);
}
.available-cell .body {
  fill: hsl(200, 100%, 50%);
}
.label {
  fill: white;
}
.element .element-tools {
    display: none;
    cursor: pointer;
}
.element:hover .element-tools {
    display: inline;
}
.stencil .element:hover .element-tools {
    display: none;
    cursor: pointer;
}

/* links */
