<template name="learning-tips">
  <div class="ui top attached feature segment">
    <h1 class="ui dividing header">Learning Tips</h1>
    <h3 class="ui header">Skim before Reading</h3>
    <p>
      When starting a reading task, first skim through the text, possibly looking at the figures and section headers,
      to get an overview of what is to come.
      This can help you to better place the various points you then read into the broader picture.
    </p>
    <h3 class="ui header">Recall</h3>
    <p>
      After a <strong>study task</strong>, try to recall (without looking at the book/notes/informa) what you just learned.
      Ideally by writing it down.
      This can be increadibly effective in boosting your learning.
      Do so in different physical environments (e.g., in the library, a cafe, at home).
      This will make it easier for your brain to retreive your newly learned skills
      independently from the physical environment you're in.
    </p>
    <h3 class="ui header">Interleaving</h3>
    <p>
      Interleaving enables deeper learning.
      We have you group several different <strong>topics</strong> into each <strong>mastery check</strong>.
      We interleave different topics in each <strong>lab</strong>.
      And the <strong>textbook</strong> interleaves different topics in each chapter.
      This interleaving of topics helps you learn more deeply.
      It increases your flexibility and creativity,
      and it helps you to form connections between different topics.
    </p>
    <h3 class="ui header">Chunking</h3>
    <p>
      A conceptual chunk is a compact package of information which your mind can easily access.
      Each <strong>topic</strong> in the course corresponds to such a chunk.
      A topic combines a set of <strong>skills</strong> that come together to form a meaningful
      and easy to remember whole.
    </p>
    <p>
      To form a chunk, you need focused, repetitive practice.
      First, you need to focus. That means, you have to eliminate distractions (e.g., turn off notifications on your computer and phone)
      before you start studying.
      Second, you need to understand the concept (read the book).
      However, just understanding how a problem was solved (e.g., by following the main text of the book) is not enough.
      Thus, third, it is essential for you to perform the various exercises,
      so that <strong>you</strong> need to decide how to solve a certain problem.
      Fourth, test yourself by doing a mastery check with a peer.
      Such peer checks help you to identify confusions and mistakes in your understanding early on.
    </p>
    <h3 class="ui header">Deliberate Practice</h3>
    <p>
      To practice for a mastery check, go through each skill of each topic check you selected.
      You can look at each such skill as a "generic" question, or a "template" for questions.
      When practicing, you have to "instantiate" that template
      (come up with concrete questions).
      For example, come up with a small piece of code on which you can demonstrate that skill.
      Better yet, come up with several different pieces of code and demonstrate the skill on each of them.
    </p>
    <p>
      Assume a skill formulated as follows:
    </p>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="one wide column">
        <i class="large bullseye icon"></i>
      </div>
      <div class="fifteen wide column">
        <div class="ui small header">Perform subtraction</div>
        <div class="description">Given two integer values between 1 and 10, subtract one from the other. Explain.</div>
      </div>
    </div>
    <div class="ui divider"></div>
    <p>
      To "instantiate" this skill, you could create the following concrete questions:
    </p>
    <ul>
      <li>5 - 0 = ? (to show that x - 0 = x)</li>
      <li>5 - 5 = ? (to show that x - x = 0)</li>
      <li>9 - 2 = ? (to show a "normal" example)</li>
      <li>5 - 8 = ? (to show a case of x - y where y>x)</li>
    </ul>
    <p>
      This process of creating a "good" set of concrete questions is very educational.
      It might well be that this is where most of your learning actually happens!
    </p>
    <p>
      Don't get stuck on practicing skills you already know,
      or skills for which you are not ready yet
      (e.g., because you haven't read the corresponding sections in the book yet).
      Spend your time on practicing skills in your "zone of proximal development"
      (e.g., skills in your current grade level).
    </p>
    <p>
      For deliberate practice to be effective, practice skill checks with your peers,
      so they can provide you with feedback.
      If you get stuck, ask a question on Informa or in class.
    </p>
    <h3 class="ui header">Collaboration</h3>
    <p>
      Study with your peers. Collaborate as much as you possibly can.
    </p>
    <h3 class="ui header">Mistakes</h3>
    <p>
      Make lots of mistakes so you can learn from them.
    </p>
  </div>
</template>
