<template name="masteryCheckPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<div class="content">
				Mastery Check
				<div class="sub header">
					{{#with getUser studentId}}
						<strong>{{profile.firstName}} {{profile.lastName}}</strong>
					{{/with}}
					<br>
					Week {{formatWeekInCourse courseId startDate}},
					{{formatWeekday startDate}},
					{{formatTime startDate}}
				</div>
			</div>
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			<div class="ui grid">
	    		<div class="eight wide column">
					Tester:
					{{#with getUser testerId}}
						<strong>{{profile.firstName}} {{profile.lastName}}</strong>
					{{/with}}
	    		</div>
	    		<div class="eight wide right aligned column">
	    			{{#if finished}}
	    				Duration:
	    				<strong>{{getDurationInMinutes startDate endDate}} minutes</strong>
	    			{{else}}
						<i class="spinner icon"></i>
						Duration so far:
						<strong>{{getMinutesSincePageRendered}} minutes</strong>
					{{/if}}
	    		</div>
	    	</div>
			<table class="ui compact table">
				{{#each getTopicChecksForMasteryCheck _id}}
					{{>topicCheckTablePart}}
				{{/each}}
			</table>
			{{#if isOnTeachingTeam courseId}}
				<div class="ui secondary segment">
					{{#if finished}}
						<h5 class="ui header">Notes for the teaching team (hidden from student):</h5>
						{{#markdownFix}}{{notes}}{{/markdownFix}}
					{{else}}
						<div class="ui form">
							<div class="field">
								<label>Notes for teaching team (hidden from student)</label>
								{{>markdownLabel}}
								<textarea class="mastery-check-notes" placeholder="Enter notes about this mastery check for the teaching team">{{notes}}</textarea>
							</div>
						</div>
					{{/if}}
				</div>
			{{/if}}
			{{#unless finished}}
				<button class="finish-mastery-check-button compact blue ui button">Finish</button>
			{{/unless}}
		{{/if}}
		{{#if isRegisteredAsInstructor courseId}}
			<div class="ui error message">
				<div class="header">
					Modify Mastery Check Result
				</div>
				<p>
					This mastery check has been finished.
					It shouldn't really be changed.
					However, if some mistake was made, you, as the instructor,
					can reopen (and edit) the check, or you can delete it.
				</p>
				<div class="ui grid">
					{{#if finished}}
						<div class="three wide column">
							<button class="reopen-mastery-check-button fluid yellow ui button">Reopen</button>
						</div>
						<div class="thirteen wide column">
							If you reopen it, you can edit
							the feedback and skills mastered for each topic, and the comment for the teaching team.
							You cannot modify the start or end date or the tester.
						</div>
					{{/if}}
					<div class="three wide column">
						<button class="delete-mastery-check-button fluid red ui button">Delete</button>
					</div>
					<div class="thirteen wide column">
						<strong>Warning!</strong>
						If you delete this check, it will be gone.
						Moreover, if the student had mastered a topic in this check,
						that topic will not be mastered anymore.
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</template>


<template name="topicCheckTablePart">
	<thead>
		<tr>
			{{#with getTopic topicId}}
				<th class="collapsing">
					{{#with getTheme themeId}}
						<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
					{{/with}}
				</th>
				<th>
					<strong>{{title}}</strong>
				</th>
				<th class="collapsing">
					{{#if ../mastered}}
						<div class="ui label"><i class="trophy icon"></i>Mastered</div>
					{{else}}
						Mastered?
					{{/if}}
				</th>
			{{/with}}
		</tr>
	</thead>
	<tbody>
		{{#each getSkillChecksForTopicCheck _id}}
			{{>skillCheckRow}}
		{{/each}}
		<tr style="color: #7d6c00; background-color: #fffbe6">
			<td></td>
			<td>
				{{#if ../finished}}
					{{#if feedback}}
						<p>
							<strong>Feedback:</strong>
							<br>
							{{#markdownFix}}{{feedback}}{{/markdownFix}}
						</p>
					{{else}}
						<p><i>No feedback.</i></p>
					{{/if}}
				{{else}}
					<div class="ui form">
						<div class="field">
							{{#with getTopic topicId}}
								<label>Feedback for student on their {{title}} skills</label>
							{{/with}}
							{{>markdownLabel}}
							<textarea class="topic-feedback" placeholder="Enter actionable feedback">{{feedback}}</textarea>
						</div>
					</div>
				{{/if}}
			</td>
			<td></td>
		</tr>
	</tbody>
</template>


<template name="skillCheckRow">
	<tr>
		{{#with getSkill skillId}}
			<td class="center aligned collapsing"><i class="bullseye icon"></i></td>
			<td><strong>{{title}}</strong><br>{{#markdownFix}}{{description}}{{/markdownFix}}</td>
			<td class="collapsing">
				{{#if ../../../finished}}
					{{#if ../mastered}}
						<i class="green checkmark icon"></i>
					{{else}}
						not yet
					{{/if}}
				{{else}}
					{{#if ../mastered}}
						<button class="clear-mastered-button right floated compact green ui icon button"><i class="checkmark icon"></i></button>
					{{else}}
						<button class="set-mastered-button right floated compact ui icon button"><i class="checkmark icon"></i></button>
					{{/if}}
				{{/if}}
			</td>
		{{/with}}
	</tr>
</template>


<template name="weekStudentMatrixPage">
	<div class="ui top attached feature segment">
		{{>courseHeader}}
		<h3 class="ui dividing header">
			<div class="content">
				Week/Student Matrix
				<div class="sub header">Overview of weekly checking activities by student.</div>
			</div>
		</h3>
		{{#if isOnTeachingTeam _id}}
			<table class="ui celled table">
				<thead>
					<tr>
						<th>Student</th>
						{{#each getWeeksInCourse _id}}
							<th class="collapsing">
								{{number}}
							</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each getTopicStudentMatrixRows _id}}
						<tr>
							<td>
								{{#with findStudentRegistrationByUser studentId}}
									<a href="/studentRegistration/{{_id}}">
										{{#with getUser studentId}}
											{{> userStatusLabel user=this courseId=../courseId}}
										{{/with}}
									</a>
								{{/with}}
							</td>
							{{#each weeks}}
								<td>
									{{#each checkInfos}}
										<a href="/masteryCheck/{{masteryCheck._id}}">
											<div class="mastery-check-label ui circular label">
												<span style="color: green">{{#if masteredTopicCount}}{{masteredTopicCount}}{{/if}}</span>&nbsp;<span style="color: red">{{#if notYetMasteredTopicCount}}{{notYetMasteredTopicCount}}{{/if}}</span>
											</div>
											<div class="ui special popup">
												<div class="header">
													Week {{formatWeekInCourse courseId masteryCheck.startDate}} &mdash;
													{{formatWeekday masteryCheck.startDate}} &mdash;
													{{formatTime masteryCheck.startDate}}
												</div>
												Tester:
												{{#with getUser masteryCheck.testerId}}
													{{profile.firstName}}
												{{/with}}
												<br>
												{{masteredTopicCount}} topics mastered<br>
												{{notYetMasteredTopicCount}} topics not yet mastered
											</div>
											<script>$('.mastery-check-label').popup({inline: true, position: 'top center'});</script>
										</a>
									{{/each}}
								</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
	</div>
</template>
