#readingViz {
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 9px;
  }

  circle:hover {
		fill: orange;
  }

  #durationRect {
    fill: #fafafa;
    stroke-width: 0px;
  }
  #startDateLine {
    stroke: #e0e0e0;
    stroke-width: 1px;
  }
  #endDateLine {
    stroke: #e0e0e0;
    stroke-width: 1px;
  }
  .quizzes line {
    stroke: #d95c5c
  }
}
