<template name="topicStudentMatrixPage">
	<div class="ui top attached feature segment">
		{{>courseHeader}}
		<h3 class="ui dividing header">
			<div class="content">
				Topic/Student Matrix
				<div class="sub header">Overview of topics mastered by student.</div>
			</div>
		</h3>
		{{#if currentUser}}
			{{#if isOnTeachingTeam _id}}
				<table class="ui compact small table">
					<thead>
						<tr>
							<th class="collapsing"></th>
							{{#each getTopicsForCourse _id}}
								<th>
									{{#with getTheme themeId}}
										<a href="{{pathFor 'topicPage' courseId=../../_id topicId=../_id}}">
											<i class="topic-icon circular inverted {{color}} {{icon}} icon"></i>
											<div class="ui special popup">
												<div class="header">{{../title}}</div>
											</div>
											<script>$('.topic-icon').popup({inline: true, position: 'top center'});</script>
										</a>
									{{/with}}
								</th>
							{{/each}}
						</tr>
						<tr>
							<th class="collapsing"></th>
							{{#each getTopicsForCourse _id}}
								<th class="center aligned">
									{{masteryRequiredForGrade}}+
								</th>
							{{/each}}
						</tr>
					</thead>
					<tbody>
						{{#each getStudentRegistrationsForCourse _id}}
							<tr>
								<th>
									{{#with getUser studentId}}
										{{> userStatusLabel user=this courseId=courseId}}
									{{/with}}
								</th>
								{{#each getTopicsForCourse ../_id}}
									<td class="center aligned">
										{{#with getTopicStatusForTopicAndStudent _id ../studentId}}
											{{#if mastered}}
												<i class="mastered-icon trophy icon"></i>
												<div class="ui special popup">
													<div class="header">{{../title}}</div>
													Mastered on {{formatDate masteredDate}}
												</div>
												<script>$('.mastered-icon').popup({inline: true, position: 'top center'});</script>
											{{else}}
												{{#if toBeChecked}}
													<i class="scheduled-icon green wait icon"></i>
													<div class="ui special popup">
														<div class="header">{{../title}}</div>
														Scheduled for next mastery check
													</div>
													<script>$('.scheduled-icon').popup({inline: true, position: 'top center'});</script>
												{{else}}
													.
												{{/if}}
											{{/if}}
										{{else}}
											.
										{{/with}}
									</td>
								{{/each}}
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				<p>You need to be on the teaching team of this course to see this.</p>
			{{/if}}
		{{else}}
			<p>You need to be signed in and on the teaching team of this course to see this.</p>
		{{/if}}
	</div>
</template>
