<!-- placed in a separate template so we can get notified whenever it is rendered, and give it focus -->
<template name="annotationBodyField">
	<form class="ui form">
		<div class="field">
			<textarea class="body-field" placeholder="Enter your text here...">{{text}}</textarea>
		</div>
	</form>
</template>
