.ui.annotation.rail {
	/* Semantic UI default rail width is 300px */
	width: 250px !important;
	/* Semantic UI sets box-sizing to content-box, which causes contents to exceed the rail */
	box-sizing: border-box !important;
}

.attached-annotation-segment {
	border: 0px !important;
}
