<template name="annotation">
	{{#if kindIsUndefinedOr "question"}}
		<p style="margin-bottom:5px; margin-left:13px;">
			<a href="{{pathFor 'questionPage' courseId=courseId questionId=_id}}" class="question-annotation-label ui left pointing blue label">
				<i class="question icon"></i>
				{{score}}
				&nbsp;&middot;&nbsp;
				{{#if getAnswerCount _id}}
					{{#if isOpen _id}}
						answered&nbsp;&nbsp;<i class="check mark icon"></i>
					{{else}}
						answered
					{{/if}}
				{{else}}
					unanswered
				{{/if}}
				{{#unless isMe userId}}
					&nbsp;&nbsp;<i class="users icon"></i>
				{{/unless}}
			</a>
			<div class="ui flowing popup top left transition hidden">
				<div class="ui blue inverted segment">
					{{#markdownFix}}{{text}}{{/markdownFix}}
				</div>
				<p>
					{{#with getUser userId}}
						{{> userStatusLabel user=this courseId=../courseId}}
					{{/with}}
					{{formatDateFromNow modificationDate}}
					&nbsp;
					<a href="{{pathFor 'questionPage' courseId=courseId questionId=_id}}">Details...</a>
				</p>
			</div>
		</p>
	{{/if}}
	{{#if kindIs "note"}}
		<p style="margin-bottom:5px;">
			<div class="ui secondary inverted yellow stacked segment">
				<div class="ui top attached yellow label">
					<i class="remove-annotation-button close icon"></i>
					&nbsp;&nbsp;&nbsp;
					Note
					<div class="detail">
						{{formatDateFromNow creationDate}}
					</div>
				</div>
				{{#if editing}}
					{{> annotationBodyField}}
				{{else}}
					<p class="body-label">
						{{#markdownFix}}{{text}}{{/markdownFix}}
					</p>
				{{/if}}
			</div>
		</p>
	{{/if}}
	{{#if kindIs "bookmark"}}
		<p style="margin-bottom:5px; margin-left:20px;">
			<div class="ui red label">
				<i class="bookmark icon"></i>
				{{formatDateFromNow creationDate}}
				<i class="remove-annotation-button close icon"></i>
			</div>
		</p>
	{{/if}}
	{{#if kindIs "tag"}}
		<p style="margin-bottom:5px; margin-left:20px;">
			<!--TODO: replace "span" with "a" once we have a userTagListPage route-->
			<span class="ui green tag label body-label" href="{{pathFor 'studentTagListPage' courseId=courseId _id=userId}}">
				{{#if editing}}
					{{> annotationBodyInput}}
				{{else}}
					{{text}}
					<i class="remove-annotation-button close icon"></i>
				{{/if}}
			</span>
		</p>
	{{/if}}
</template>
