<template name="annotationTextCell">
	<a href="{{pathFor 'questionPage' courseId=courseId questionId=_id}}">
		{{#if text}}
			{{text}}
		{{else}}
			<i>empty question</i>
		{{/if}}
	</a>
</template>
