<template name="courseQuestionListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="question icon"></i>
			<div class="content">
				Community Questions
				<div class="sub header">
					The community asked
					{{countQuestionsForCourse _id}} questions in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
		</h1>
		{{>communityQuestionsMenu}}
    <h2 class="ui dividing header">
      <div class="content">
        All Questions
        <div class="sub header">
          Open questions as well as questions with accepted answers
        </div>
      </div>
    </h2>
		{{#if isRegisteredAsAnything _id}}
			{{#if countQuestionsForCourse _id}}
				{{#with getQuestionsForCourse _id}}
					{{>reactiveTable collection=this settings=makeSettings}}
				{{/with}}
			{{else}}
				<p>
					There are no questions yet in this course.
				</p>
				<div class="ui message">
					To ask a question about something, pick
					<strong><i class="help icon"></i>Add Question</strong>
					from a
					<i class="remove bookmark icon"></i>dropdown menu
					in the margin of a page (e.g., in the various
					<a href="{{pathFor 'labListPage' courseId=_id}}">lab pages</a>).
				</div>
			{{/if}}
		{{/if}}
	</div>
</template>
