<template name="questionAnswer">
	<div class="center aligned three wide column">
		<div class="ui two column grid">
			<div class="left aligned column">
				<span style="font-size: 0.8em; color: #b0b0b0">
					Score
				</span>
			</div>
			<div class="right aligned column">
				<span style="font-size: 2em">
					{{score}}
				</span>
			</div>
		</div>
		<div class="center aligned column">
			{{#unless isMe userId}}
				<div class="3 fluid ui buttons">
					<div class="ui compact {{#if haveUpvoted this}}green{{else}}{{/if}} icon button upvote-answer-button">
						+1
					</div>
					<div class="ui compact {{#if haveNotVoted this}}yellow{{else}}{{/if}} icon button clearvote-answer-button">
						0
					</div>
					<div class="ui compact {{#if haveDownvoted this}}red{{else}}{{/if}} icon button downvote-answer-button">
						-1
					</div>
				</div>
			{{/unless}}
			{{#if annotationIsMine annotationId}}
				{{#unless accepted}}
					{{#unless annotationHasOtherAcceptedAnswer annotationId _id}}
						<p style="margin-top: 5px">
							<div class="ui fluid compact icon button accept-answer-button">
								<i class="check mark icon"></i> Accept
							</div>
						</p>
					{{/unless}}
				{{/unless}}
			{{/if}}
		</div>
		{{#if accepted}}
			<div class="center aligned column">
				<span style="font-size: 2em">
					<i class="green check mark icon"></i>
				</span>
			</div>
		{{/if}}
	</div>
	<div class="thirteen wide column">
		<div class="ui tertiary inverted blue segment">
			{{#if isEditing}}
				<form class="ui form">
					<div class="field">
						{{>markdownLabel}}
						<textarea class="answer-text-field">{{text}}</textarea>
					</div>
				</form>
			{{else}}
				{{#markdownFix}}{{text}}{{/markdownFix}}
			{{/if}}
		</div>
		<div class="ui three column grid">
			<div class="column">
				{{#with getUser userId}}
					{{> userStatusLabel user=this courseId=courseId}}
				{{/with}}
			</div>
			<div class="column">
				Created <strong>{{formatDateFromNow creationDate}}</strong>
			</div>
			<div class="column">
				Edited <strong>{{formatDateFromNow modificationDate}}</strong>
			</div>
		</div>
		{{#if isMe userId}}
			<div class="ui two column grid">
				<div class="left aligned column">
					<div class="edit-answer-button ui primary button">
						{{#if isEditing}}
							Save Answer
						{{else}}
							Edit Answer
						{{/if}}
					</div>
				</div>
				<div class="right aligned column">
					<div class="remove-answer-button ui red button">
						Delete Answer
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</template>
