<template name="studentAnnotationMenu">
	<div class="ui secondary  menu">
		<a class="{{isActiveRoute "studentQuestionListPage"}} item" href="{{pathFor 'studentQuestionListPage' courseId=courseId _id=_id}}">
			<i class="help icon"></i> Questions
			<div class="floating ui blue label">{{countStudentQuestions studentId}}</div>
		</a>
		<a class="{{isActiveRoute "studentNoteListPage"}} item" href="{{pathFor 'studentNoteListPage' courseId=courseId _id=_id}}">
			<i class="write icon"></i> Notes
			<div class="floating ui blue label">{{countStudentNotes studentId}}</div>
		</a>
		<a class="{{isActiveRoute "studentTagListPage"}} item" href="{{pathFor 'studentTagListPage' courseId=courseId _id=_id}}">
			<i class="tag icon"></i> Tags
			<div class="floating ui blue label">{{countStudentTags studentId}}</div>
		</a>
		<a class="{{isActiveRoute "studentBookmarkListPage"}} item" href="{{pathFor 'studentBookmarkListPage' courseId=courseId _id=_id}}">
			<i class="bookmark icon"></i> Bookmarks
			<div class="floating ui blue label">{{countStudentBookmarks studentId}}</div>
		</a>
	</div>
</template>
