<template name="studentTagListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Annotations
		</h2>
		{{>studentAnnotationMenu}}
		<h3 class="ui dividing header">
			<div class="content">
				Tags
				<div class="sub header">
					{{#if countUserTagsForCourse studentId course._id}}
						You tagged {{countUserTagsForCourse studentId course._id}} things.
					{{/if}}
					Tags are not visible to other students
				</div>
			</div>
		</h3>
		{{#each getUserTagTextsForCourse studentId course._id}}
			<div class="ui basic green secondary segment">
				<p>
					<div class="ui green tag label">{{.}}</div>
				</p>
			</div>
			{{#each getUserTagsForCourseAndText ../studentId ../courseId .}}
				<div class="ui basic segment">
					<div class="ui grid">
						<div class="one wide column">
							{{#if contentItemId}}
								{{#with getContentItem contentItemId}}
									{{#if containerIs _id "Labs"}}
										<i class="right floated circular lab icon"></i>
									{{/if}}
								{{/with}}
							{{else}}
								{{#if sectionId}}
									<i class="right floated circular book icon"></i>
								{{else}}
									{{#with getSkill skillId}}
										{{#with getTopic topicId}}
											{{#with getTheme themeId}}
												<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
											{{/with}}
										{{/with}}
									{{/with}}
								{{/if}}
							{{/if}}
						</div>
						<div class="ten wide column">
							{{#if contentItemId}}
								{{#with getContentItem contentItemId}}
									{{#if containerIs _id "Labs"}}
										{{#with getLab containerId}}
											<a class="header" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
												{{title}}<br><strong>Item {{../index}}</strong>
											</a>
										{{/with}}
									{{/if}}
								{{/with}}
							{{else}}
								{{#if sectionId}}
									{{#with getSection sectionId}}
										{{#with getChapter chapterId}}
											{{#with getBook bookId}}
												{{abbreviation}}, Section {{../../number}}<br>
											{{/with}}
											<a class="header" href="/course/{{courseId}}/book/{{bookId}}/chapter/{{_id}}/section/{{../_id}}">
												{{title}}<br><strong>{{../title}}</strong>
											</a>
										{{/with}}
									{{/with}}
								{{else}}
									{{#with getSkill skillId}}
										{{#with getTopic topicId}}
											<a class="header" href="/course/{{courseId}}/topic/{{_id}}#skill_{{../_id}}">
												{{title}}<br><strong>{{../title}}</strong>
											</a>
										{{/with}}
									{{/with}}
								{{/if}}
							{{/if}}
						</div>
						<div class="four wide column">
							<div class="meta">
								{{formatDateFromNow modificationDate}}
							</div>
						</div>
						<div class="one wide column">
							<div class="remove-annotation-button right floated compact red icon ui button"><i class="minus icon"></i></div>
						</div>
					</div>
				</div>
			{{/each}}
		{{else}}
			<p>
				You have not tagged anything.
			</p>
			<div class="ui message">
				<div class="header">
					Why tag stuff?
				</div>
				Here are some ideas for how to use tags:
				<ul>
					<li>Tag lab items with "review" so you don't forget to discuss them with your team mate before submission</li>
					<li>Tag book sections you want to read again with "reread"</li>
					<li>Tag skills with "discuss" to remember to bring them up in an exam review session</li>
				</ul>
				Create any tags you like, for whatever purpose suits you best.
				To tag something, pick
				<strong><i class="tag icon"></i>Add Tag</strong>
				from a
				<i class="remove bookmark icon"></i>dropdown menu
				in the margin of a page (e.g., in the various
				<a href="{{pathFor 'labListPage' _id=course._id}}">lab pages</a>).
			</div>
		{{/each}}
	</div>
</template>
