<template name="courseFeedPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="feed icon"></i>
			<div class="content">
				Community Feed
				<div class="sub header">
					Activity in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
		</h1>
		<div class="ui feed">
			{{#each getEvents courseId}}
				<div class="event">
					{{> Template.dynamic template=event}}
				</div>
			{{else}}
				<p>
					Course feed is still empty.
				</p>
			{{/each}}
		</div>
		{{#if hasMoreEvents courseId}}
			<p>
				<div class="ui fluid button more-events-button">More...</div>
			</p>
		{{/if}}
	</div>
</template>
