<template name="eventTopic">
	{{#with getTopic topicId}}
		{{#with getTheme themeId}}
			<i class="{{color}} {{icon}} circular inverted icon"></i><a href="{{pathFor 'topicPage' courseId=courseId topicId=../_id}}">{{../title}}</a>
		{{/with}}
	{{/with}}
</template>
