<template name="IAbortedAPomodoro">
	<div class="label">
		<i class="wait icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			aborted a pomodoro with the goal
			{{#with getPomodoro pomodoroId}}
				"{{goal}}"
				{{>pomodoroInfo}}
			{{/with}}
		</div>
		{{#with getPomodoro pomodoroId}}
			{{#if reason}}
				<div class="extra text">
					{{reason}}
				</div>
			{{/if}}
		{{/with}}
	</div>
</template>
