<template name="IAcceptedAnAnswer">
	<div class="label">
		<i class="help icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			{{#with getAnnotationResponse annotationResponseId}}
				{{#with getAnnotation annotationId}}
					accepted an answer to
					&lsaquo;<a href="{{pathFor 'questionPage' courseId=courseId questionId=_id}}">{{text}}</a>&rsaquo;
					in
					{{>annotationContext}}
				{{/with}}
			{{/with}}
		</div>
	</div>
</template>
