<template name="ICreatedAnAnnotation">
	<div class="label">
		{{#with getAnnotation annotationId}}
			<i class="{{iconForAnnotationKind kind}} icon"></i>
		{{/with}}
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			{{#with getAnnotation annotationId}}
				{{#if equals kind "question"}}
					asked
					&lsaquo;<a href="{{pathFor 'questionPage' courseId=courseId questionId=_id}}">{{text}}</a>&rsaquo;
					in
				{{else}}
					{{#if equals kind "note"}}
						created a note in
					{{else}}
						{{#if equals kind "tag"}}
							added tag "{{text}}" to
						{{else}}
							{{#if equals kind "bookmark"}}
								bookmarked
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
				{{>annotationContext}}
			{{/with}}
		</div>
	</div>
</template>
