<template name="IFeaturedAPracticeProblem">
	<div class="label">
		<i class="university icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			featured
			{{#with getPracticeProblem practiceProblemId}}
				&lsaquo;<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId practiceProblemId=_id}}">{{title}}</a>&rsaquo;
				in
				{{>eventTopic}}
			{{/with}}
		</div>
	</div>
</template>
