<template name="IFinishedReadingTextbookSection">
	<div class="label">
		<i class="book icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			finished reading Section
			{{#with getSection sectionId}}
				<a href="{{pathFor 'sectionPage' courseId=courseId sectionId=_id}}">{{number}}. {{title}}</a>
				of
				{{#with getBook bookId}}
					<a href="{{pathFor 'bookPage' courseId=courseId bookId=_id}}">{{abbreviation}}</a>
				{{/with}}
			{{/with}}
		</div>
	</div>
</template>
