<template name="IMarkedSkillAsReady">
	<div class="label">
		<i class="target icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			marked
			{{#with getSkill skillId}}
				&lsaquo;<a href="{{pathFor 'topicPage' courseId=courseId topicId=topicId}}">{{title}}</a>&rsaquo;
				in
				{{>eventTopic}}
			{{/with}}
			as ready
		</div>
	</div>
</template>
