<template name="IRemovedTopicToBeChecked">
	<div class="label">
		<i class="marker icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			removed
			{{>eventTopic}}
			as ready for check
		</div>
	</div>
</template>
