<template name="IStartedStudyTask">
	<div class="label">
		<i class="student icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			started Study Task
			{{#with getStudyTask studyTaskId}}
				<a href="{{pathFor 'studyTaskPage' courseId=courseId studyTaskId=_id}}">{{title}}</a>
				of
        {{>eventTopic}}
			{{/with}}
		</div>
	</div>
</template>
