<template name="IStartedAPomodoro">
	<div class="label">
		<i class="wait icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			started a pomodoro with the goal
			{{#with getPomodoro pomodoroId}}
				"{{goal}}"
				{{>pomodoroInfo}}
			{{/with}}
		</div>
	</div>
</template>
