<template name="ISubmittedAPracticeProblemSolution">
	<div class="label">
		<i class="university icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			solved
			{{#with getPracticeProblemSolution practiceProblemSolutionId}}
				{{#with getPracticeProblem practiceProblemId}}
					&lsaquo;<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId practiceProblemId=_id}}">{{title}}</a>&rsaquo;
					in
					{{>eventTopic}}
				{{/with}}
			{{/with}}
		</div>
	</div>
</template>
