<template name="ISubmittedALabFeedback">
	<div class="label">
		<i class="lab icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
      {{#with getLabFeedback labFeedbackId}}
        submitted <a href="{{pathFor 'userLabFeedbackPage' courseId=course._id labId=labId userId=userId}}">feedback</a> on
        {{#with getLab labId}}
          <i class="right floated circular lab icon"></i>
          <a class="header" href="/course/{{course._id}}/lab/{{_id}}">
            {{title}}
          </a>
        {{/with}}
      {{/with}}
		</div>
	</div>
</template>
