<template name="ISubmittedAContentItemSubmission">
	<div class="label">
		<i class="lab icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			{{>eventUser}}
			submitted
			{{#with getContentItemSubmission contentItemSubmissionId}}
				{{#with getContentItem itemId}}
          {{#if equals containerCollection "Labs"}}
            {{#with getLab containerId}}
              <a class="header" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
                Item {{../index}}
              </a>
              of
              <i class="right floated circular lab icon"></i>
              <a class="header" href="/course/{{course._id}}/lab/{{_id}}">
                {{title}}
              </a>
            {{/with}}
          {{/if}}
				{{/with}}
			{{/with}}
		</div>
    {{#with getContentItemSubmission contentItemSubmissionId}}
			{{#if value}}
				<div class="extra text">
					{{value}}
				</div>
			{{/if}}
		{{/with}}
	</div>
</template>
