<template name="SomeoneSubmittedFeedbackToMyPracticeProblem">
	<div class="label">
		<i class="university icon"></i>
	</div>
	<div class="content">
		<div class="date">
			{{formatDateFromNow date}}
		</div>
		<div class="summary">
			Someone provided feedback on
			{{#with getPracticeProblemSolution practiceProblemSolutionId}}
				{{#with getPracticeProblem practiceProblemId}}
					&lsaquo;<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId practiceProblemId=_id}}">{{title}}</a>&rsaquo;
					in
					{{>eventTopic}}
				{{/with}}
				{{#if quality}}
					&mdash; Quality: {{getQualityText quality}}
				{{/if}}
				{{#if difficulty}}
					&mdash; Difficulty: {{difficulty}}
				{{/if}}
			{{/with}}
		</div>
		{{#with getPracticeProblemSolution practiceProblemSolutionId}}
			{{#if comment}}
				<div class="extra text">
					{{comment}}
				</div>
			{{/if}}
		{{/with}}
	</div>
</template>
