<template name="studentFeedPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Feed
			<div class="sub header">
				Your Activity in
				{{#with getCourse courseId}}
					{{abbreviation}} {{instance}}
				{{/with}}
			</div>
		</h2>
		<div class="ui feed">
			{{#each getEvents courseId studentId}}
				<div class="event">
					{{> Template.dynamic template=event}}
				</div>
			{{else}}
				<p>
					Your feed is still empty.
				</p>
			{{/each}}
		</div>
		{{#if hasMoreEvents courseId studentId}}
			<p>
				<div class="ui fluid button more-events-button">More...</div>
			</p>
		{{/if}}
	</div>
</template>
