<!-- context:
course
-->
<template name="courseFilesPage">
  <div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="black inverted circled file icon"></i>
			<div class="content">
				Course Files
				<div class="sub header">Files for {{abbreviation}} {{instance}}</div>
			</div>
		</h1>
  </div>
  <div class="ui attached feature segment">
    <div class="basic segment">
      <div class="ui grid">
        <div class="ten wide column">
          <p>
            Here you can manage the files,
            such as pictures or archives you use in labs,
            or slides you provide in lessons.
          </p>
          <p>
            Files: <strong>{{getCourseFilesCount _id}}</strong>
          </p>
          <p>
            Size: <strong>{{getCourseFilesSize _id}}</strong>
          </p>
        </div>
        <div class="six wide column">
          {{>courseFileUploadArea}}
        </div>
      </div>
    </div>

    <h2 class="ui dividing header">
      <div class="content">
        Existing Files
      </div>
    </h2>
    {{#if getCourseFilesCount courseId}}
      <p>
        Files with size 0 are shown as "(incomplete)".
        They may indeed have had size 0,
        or their upload may have failed.
      </p>
      {{> reactiveTableFilter id="myFilter" class="ui input" label="Filter (by 'File Name', can use regex):" fields=["length"]}}
      {{> reactiveTable collection=getCourseFiles rowsPerPage=10 settings=settings}}
    {{else}}
      <h2 class="ui center aligned disabled icon header">
        <i class="file icon"></i>
        No Files Yet
        {{#if isRegisteredAsInstructor courseId}}
          <div class="sub header">Upload some above</div>
        {{/if}}
      </h2>
    {{/if}}

  </div>
</template>
