<template name="courseFileUploadArea">
  <div class="ui center aligned secondary blue segment uploadArea">
    <h3 class="ui header">Drag file here</h3>
    <p>
      Or, if you prefer...
    </p>
    <p>
      <input class="uploadInput" type="file" style="display:none" multiple/>
      <button class="ui compact primary button uploadButton">Choose file to upload</button>
    </p>
  </div>
</template>
