<head>
	<title>Informa</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
	<link rel="apple-touch-icon" href="/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/favicon-144.png">
	<meta name="msapplication-config" content="/browserconfig.xml">
</head>

<body>
</body>

<template name="footer">
	<!--<h6 class="ui horizontal header divider">Provided with <i class="heart icon"></i>by the University of Lugano</h6>-->
	<div class="ui center aligned row">
		<div class="sixteen wide column">
			Provided with <i class="heart icon"></i>by the University of Lugano
		</div>
		<div class="sixteen wide column">
			<div class="ui horizontal bulleted link list">
				<a class="item" href="/learning-tips">Learning Tips</a>
				<a class="item" href="/privacy">Privacy Policy</a>
				<a class="item" href="/terms-of-use">Terms of Use</a>
				<a class="item" href="/about">About</a>
			</div>
		</div>
	</div>
</template>

<template name="notFound">
	<h1>Not Found</h1>
</template>

<template name="home">
	<div class="ui top attached vertical feature segment">
		<img class="ui centered image" src="/images/InformaBrain.png">
		<h1 class="ui huge center aligned header">Asynchronous Blended Mastery Learning</h1>
	</div>
	<div class="ui bottom attached vertical feature segment">
		<div class="ui two column center aligned stackable divided grid">
			<div class="column">
				<div class="ui icon header">
					<i class="student icon"></i>
					Courses
				</div>
				<p>Check out and participate in our courses.</p>
				<p>
					<a class="ui blue button" href="{{pathFor 'courseListPage'}}">Learn</a>
				</p>
			</div>
			<div class="column">
				<div class="ui icon header">
					<i class="user icon"></i>
					Participate
				</div>
				<p>Sign Up to register for courses.</p>
				<p>
					<a class="ui blue button" href="{{pathFor 'atSignUp'}}">Sign Up</a>
				</p>
			</div>
		</div>
	</div>
</template>


<template name="privacy">
	<div class="ui feature segment">
		<h1 class="ui dividing header">
			<div class="content">
				Privacy Policy
			</div>
		</h1>
		<p>
			To be written...
		</p>
	</div>
</template>

<template name="terms-of-use">
	<div class="ui feature segment">
		<h1 class="ui dividing header">
			<div class="content">
				Terms of Use
			</div>
		</h1>
		<p>
			To be written...
		</p>
	</div>
</template>
