<template name="classSessionStatusPanel">
  {{#if isOnTeachingTeam courseId}}
    {{#if equals classSession.status "hidden"}}
      <div class="ui message">
        <div class="header">
          <i class="hide icon"></i> Hidden
        </div>
        <div class="ui grid">
          <div class="twelve wide column">
            <p>
              This class session is hidden and cannot be seen by students.
            </p>
          </div>
          <div class="four wide column">
            <a href="#" class="ui blue button show-button"><i class="unhide icon"></i> Show</a>
          </div>
        </div>
      </div>
    {{else}}
      <!--status is either "showing" or not defined -->
      <div class="ui message">
        <div class="header">
          <i class="unhide icon"></i> Showing
        </div>
        <div class="ui grid">
          <div class="twelve wide column">
            <p>
              This class session can be seen by students.
            </p>
          </div>
          <div class="four wide column">
            <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
          </div>
        </div>
      </div>
      {{#if classSession.ongoing}}
        <div class="ui positive message">
          <div class="header">
            <i class="wait icon"></i> Class Session Ongoing!
          </div>
          <p>
            This class session is currently ongoing.
          </p>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</template>
