<template name="classSessionListEditPage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="student icon"></i>
			<div class="content">
				Class Sessions
				<div class="sub header">Class Sessions for {{course.abbreviation}} {{course.instance}}</div>
			</div>
		</h1>
		<form class="ui form">
			<div class="field">
				<label>Why attend class sessions?</label>
				{{>markdownLabel}}
				<textarea name="introduction" class="introduction-field">{{course.classSessionListIntroduction}}</textarea>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>
		<h2>Edit the List of Class Sessions</h2>
		<div class="ui celled list">
			{{#each getClassSessions course._id}}
				<div class="item">
					<button class="remove-class-session-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor 'classSessionEditPage' courseId=courseId classSessionId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="student icon"></i>
					<div class="content">
						<div class="header"><a href="{{pathFor 'classSessionPage' courseId=courseId classSessionId=_id}}">{{title}}</a></div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each getClassSessions}}
		{{else}}
			<p>
				This course does not yet have any class sessions.
			</p>
		{{/each}}
		<p>
			<button class="add-class-session-button compact green ui button"><i class="plus icon"></i> Add Class Session</button>
		</p>
	</div>
</template>
