<template name="classSessionCard">
	<a class="card" href="{{pathFor 'classSessionPage' courseId=course._id classSessionId=_id}}">
    	<div class="content">
			<i class="right floated large black student icon"></i>
      <div class="header">
				{{#if title}}
					{{title}}
				{{else}}
					<i>Untitled class session</i>
				{{/if}}
			</div>
			<div class="description">
				{{description}}
			</div>
		</div>
    <div class="extra content">
      <span class="right floated">
        {{formatTimeHoursMinutes date}}
        <!--{{duration}} min-->
      </span>
      <span>
        {{formatDateShort date}}
      </span>
    </div>
		{{#if currentUser}}
			<div class="extra content">
				{{#if equals status "hidden"}}
					<i class="hide icon"></i> Hidden
				{{else}}
					<!--status is either "showing" or not defined -->
					{{#if ongoing}}
						<i class="green wait icon"></i> Ongoing
					{{else}}
						{{#if stopDate}}
							<i class="red stop circle icon"></i> Ended
						{{else}}
							{{#if isOnTeachingTeam courseId}}
								<i class="yellow unhide icon"></i> Showing
							{{else}}
								{{#if isRegisteredAsStudent courseId}}
									<i class="yellow unhide icon"></i> Scheduled
								{{/if}}
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			</div>
		{{/if}}
	</a>
</template>
