<template name="bookEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="black inverted circled book icon"></i>
			<div class="content">
				{{book.title}}
				<div class="sub header">{{book.subtitle}}</div>
			</div>
		</h1>
		<div class="ui breadcrumb">
			<a href="{{pathFor 'bookListEditPage' courseId=course._id}}" class="section">Books</a>
			<i class="right chevron icon divider"></i>
			<div class="active section">{{book.abbreviation}}</div>
		</div>

		<h2>Edit Meta Information</h2>
		<form class="update-form ui form">
			<div class="field">
				<label>Abbreviation:</label>
				<input type="text" name="abbreviation" class="abbreviation-field" value="{{book.abbreviation}}">
			</div>
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" class="title-field" value="{{book.title}}">
			</div>
			<div class="field">
				<label>Subtitle:</label>
				<input type="text" name="subtitle" class="title-field" value="{{book.subtitle}}">
			</div>
			<div class="field">
				<label>Author:</label>
				<input type="text" name="author" class="author-field" value="{{book.author}}">
			</div>
			<div class="field">
				<label>Book Homepage URL:</label>
				<input type="text" name="url" class="url-field" value="{{book.url}}">
			</div>
			<div class="field">
				<label>Book Cover Image URL:</label>
				<input type="text" name="imageUrl" class="image-url-field" value="{{book.imageUrl}}">
			</div>
			<div class="field">
				<label>Description:</label>
				{{>markdownLabel}}
				<textarea name="description" class="description-field">{{book.description}}</textarea>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>

		<h2>Edit List of Chapters</h2>
		<div class="ui celled list">
			{{#each chapters}}
				<div class="item">
					<button class="remove-chapter-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor "chapterEditPage" courseId=courseId bookId=bookId chapterId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="book icon"></i>
					<div class="content">
						<div class="header"><a href="{{pathFor 'chapterPage' courseId=courseId bookId=bookId chapterId=_id}}">Chapter {{number}}</a></div>
						{{title}}
					</div>
				</div>
			{{/each}}
		</div>
		{{#each chapters}}
		{{else}}
			<p>
				This book does not yet have any chapters.
			</p>
		{{/each}}
		<p>
			<button class="add-chapter-button compact green ui button"><i class="plus icon"></i> Add Chapter</button>
		</p>

		<h2>Bulk-Create Chapters and Sections</h2>
		<p>
			If you have the table of contents of this book in electronic form,
			you can paste it here to create all chapters and sections at once.
		</p>
		<form class="bulk-create-book-structure-form ui form">
			<div class="field">
				<label>Paste the book's table of contents here</label>
				<textarea name="toc" class="toc-field" placeholder="One line per chapter or section, starting with the number ('1. Chapter Title' or '1.1 Section Title')"></textarea>
			</div>
			<button class="ui blue submit button">Parse and Preview</button>
		</form>

		{{> bookStructureCreationPreview structure=getStructure courseId=course._id bookId=book._id}}
	</div>
</template>
