<template name="sectionRecallsPage">
	{{>sectionPageHeader}}
	{{>sectionPageMenu}}

  <div class="ui attached feature segment">
    <h3 class="ui header">Recalls</h3>
    <p>
      {{countStartedStatuses section._id}} started,
      {{countFinishedStatuses section._id}} finished,
      {{countRecalledStatuses section._id}} recalled.
      {{#with getMostRecentlyStartedStatus section._id}}
        The most recent reading started {{formatDateFromNow this.startedReadingDate}}.
      {{/with}}
    </p>
    {{#if countRecalledStatuses section._id}}
      <h4 class="ui header">All {{countRecalledStatuses section._id}} Recalls of this Section</h4>
      {{#each getRecalledStatuses section._id}}
        <div class="ui inverted blue segment">
          {{recallText}}
        </div>
        <div class="ui grid">
          <div class="six wide column">
            {{#with getUser userId}}
              {{> userStatusLabel user=this courseId=../courseId}}
            {{/with}}
          </div>
          <div class="ten wide column">
            Last saved: <strong>{{formatDate modificationDate}}</strong> at {{formatTime modificationDate}}
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>

</template>
