<template name="sectionPageHeader">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'sectionEditPage' courseId=course._id bookId=book._id chapterId=chapter._id sectionId=section._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="black inverted circled book icon"></i>
			<div class="content">
				{{book.title}}
				<div class="sub header">{{book.subtitle}}</div>
			</div>
		</h1>

		<div class="ui grid">
			<div class="twelve wide column">
				<div class="ui breadcrumb">
					<a href="{{pathFor 'bookListPage' courseId=course._id}}" class="section">Books</a>
					<i class="right chevron icon divider"></i>
					<a href="{{pathFor 'bookPage' courseId=course._id bookId=book._id}}" class="section">{{book.abbreviation}}</a>
					<i class="right chevron icon divider"></i>
					<a href="{{pathFor 'chapterPage' courseId=course._id bookId=book._id chapterId=chapter._id}}" class="section">{{chapter.number}} {{chapter.title}}</a>
					<i class="right chevron icon divider"></i>
				</div>
			</div>
			<div class="right aligned four wide column">
				{{#if section.duration}}
					<i class="ui wait icon"></i>{{section.duration}} min
				{{/if}}
			</div>
		</div>

		<div class="ui basic {{#if hasOwnBookmark section._id}}tertiary inverted red{{/if}} segment" style="margin-top: -14px">
			<div class="ui grid">
				<div class="fifteen wide column" style="padding-left: 0">
					<h1 class="ui header">
						<div class="content">
							Section {{section.number}} {{section.title}}
						</div>
					</h1>
				</div>
				<div class="right aligned one wide column" style="padding-right: 0">
					{{#if isRegisteredAsAnything section.courseId}}
						{{>annotationButton sectionId=section._id}}
					{{/if}}
				</div>
			</div>
			{{#if hasAnnotationsToDisplay section._id}}
				<div class="ui right attached annotation rail">
					{{#each getOwnAnnotations section._id}}
						{{> annotation }}
					{{/each}}
					{{#each getOtherQuestions section._id}}
						{{> annotation }}
					{{/each}}
				</div>
			{{/if}}
		</div>

		<div id="NOT-topic-mini-card-container" class="ui three cards">
			{{#each getTopicsForSectionId section._id}}
				{{>topicMiniCard}}
			{{/each}}
		</div>

		<div class="ui two column grid">
			<div class="left aligned column">
				{{#with getPreviousSection section}}
					<a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=_id}}">
						&lt;
						{{number}}
						{{title}}
					</a>
				{{/with}}
			</div>
			<div class="right aligned column">
				{{#with getNextSection section}}
					<a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=_id}}">
						{{number}}
						{{title}}
						&gt;
					</a>
				{{/with}}
			</div>
		</div>

	</div>
</template>
