<template name="sectionPage">
	{{>sectionPageHeader}}
	{{>sectionPageMenu}}

	{{#if isRegisteredAsAnything course._id}}
		<div class="ui attached secondary feature segment">
			{{#with getOwnStatusOrNullObject section._id}}
				<div class="ui ordered steps">
				  <div class="{{prepareState this}} step">
				    <div class="content">
				      <div class="title">Prepare</div>
				      <div class="description">Get ready to read</div>
				    </div>
				  </div>
				  <div class="{{readState this}} step">
				    <div class="content">
				      <div class="title">Read</div>
				      <div class="description">Work through the section</div>
				    </div>
				  </div>
					<div class="{{recallState this}} step">
				    <div class="content">
				      <div class="title">Recall</div>
				      <div class="description">Recall from memory</div>
				    </div>
				  </div>
				  <div class="{{reviewState this}} step">
				    <div class="content">
				      <div class="title">Review</div>
				      <div class="description">Review section and recall</div>
				    </div>
				  </div>
				</div>
			{{/with}}
		</div>

		{{#with getOwnStatusOrNullObject section._id}}
			{{#if stageIs this "prepare"}}
				<div class="ui attached feature segment">
					<p>
						Do you have
						{{#if ../section.duration}}
							about {{../section.duration}} minutes of
						{{else}}
							some
						{{/if}}
						uninterrupted time to study this section now?
					</p>
					<button type="submit" class="start-button ui primary submit button">Start reading</button>
				</div>
			{{/if}}
			{{#if stageIs this "read"}}
				<div class="ui attached info message">
					<p>
						Please focus for a few minutes to read this section.
					</p>
					<p>
						Question? Click <i class="remove bookmark icon"></i>on the right above.
						Answers often come very quickly!
					</p>
				</div>
				{{#with ..}}
					{{>sectionPageContents}}
				{{/with}}
				<div class="ui attached feature segment">
					<button type="submit" class="finish-button ui primary submit button">Done reading. Ready to recall!</button>
				</div>
			{{/if}}
			{{#if stageIs this "recall"}}
				<div class="ui attached info message">
					<p>
						Please recall what you just learned in this section.
						Do not look at the text now.
						Recall from your brain.
						This recalling helps to commit things into your long-term memory.
					</p>
					<form class="ui form">
						<div class="ui field">
							<textarea name="recallText" placeholder="What do you remember about this section?">{{recallText}}</textarea>
						</div>
						<button type="submit" class="save-recall-text-button ui primary submit button">Save Recall Statement</button>
					</form>
				</div>
			{{/if}}
			{{#if stageIs this "review"}}
				<div class="ui attached info message">
					<p>
						Feel free to reread the section and update your recall statement at any time.
					</p>
					<form class="ui form">
						<div class="ui field">
							<textarea name="recallText" placeholder="What do you remember about this section?">{{recallText}}</textarea>
						</div>
						<button type="submit" class="save-recall-text-button ui primary submit button">Update Recall Statement</button>
						Last saved: <strong>{{formatDate modificationDate}}</strong> at {{formatTime modificationDate}}
					</form>
				</div>
				{{#with ..}}
					{{>sectionPageContents}}
				{{/with}}
			{{/if}}
		{{/with}}
	{{/if}}




	{{#if isRegisteredAsAnything course._id}}
		{{#with getOwnStatusOrNullObject section._id}}
			{{#if stageIs this "prepare"}}
				<div class="ui bottom attached info message">
					<h2 class="ui dividing header">
						<i class="idea icon"></i>
						<div class="content">
							Learning Tip
							<div class="sub header">
								Recalling helps you to commit information to your long-term memory
							</div>
						</div>
					</h2>
					<p>
						Simply recalling what you read, right after reading, without looking at the book,
						has been shown to be more effective than more complicated learning techniques.
					</p>
					<p>
						For this to work, though, you have to <strong>focus</strong> while you read a section.
						Ideally do your reading in a <strong>pomodoro</strong>
						(you may be able to read a small number of sections in a 25-minute pomodoro).
						While reading the section,
						always think that right after you finish reading
						you will have to recall what you read.
					</p>
					<p>
						Right after you finish reading, recall what you just read,
						but do <strong>NOT</strong> look at the book
						(otherwise it won't help your learning)!
						Recalling is not about rereading or scanning the text to extract the highlights.
						Recalling is about
						<i>pulling facts out of your own memory</i>,
						and thereby helping to <i>burn them into your long-term memory</i>.
						If you just scan the book, pull out the facts from there,
						and write them down, your memory won't be involved,
						and you won't learn much.
					</p>
				</div>
			{{/if}}
		{{/with}}
	{{/if}}

</template>
