<template name="sectionPageMenu">
  {{#if isOnTeachingTeam courseId}}
    <div class="ui attached feature segment">
    	<div class="ui secondary menu">
    		<a class="{{isActiveRoute "sectionPage"}} item" href="{{pathFor 'sectionPage' courseId=courseId bookId=book._id chapterId=chapter._id sectionId=section._id}}">
    			<i class="home icon"></i> Show
    		</a>
        <a class="{{isActiveRoute "sectionRecallsPage"}} item" href="{{pathFor 'sectionRecallsPage' courseId=courseId bookId=book._id chapterId=chapter._id sectionId=section._id}}">
          <i class="quote right icon"></i> Recalls
    		</a>
    	</div>
    </div>
  {{/if}}
</template>
