<template name="adminUserPage">
	<div class="ui top attached feature segment">
		<div class="ui grid">
			<div class="ten wide column">
				<h1 class="ui dividing header">
					<div class="content">
						{{getUserFirstName _id}} {{getUserLastName _id}}
						<!--<div class="sub header">...</div>-->
					</div>
				</h1>
				<div class="ui grid">
					<div class="ten wide column">
						Account created on: <strong>{{formatDate createdAt}}</strong>
					</div>
					<div class="six wide right aligned column">
						<div class="ui button impersonate"><i class="user icon"></i> Impersonate</div>
					</div>
				</div>
				<h3>Emails</h3>
				<div class="ui list">
					{{#each emails}}
						<div class="item">
							<i class="mail icon"></i>
							<div class="content">
								{{address}}
								{{#if verified}}
									<i class="green check square icon"></i> <strong>address verified</strong>
								{{else}}
									<i class="red minus circle icon"></i> <strong><emph>address not yet verified!</emph></strong> (ask student to verify)
								{{/if}}
							</div>
						</div>
					{{/each}}
				</div>
				{{#if getUserBiography _id}}
					<h3>Biography</h3>
					<p>
						{{#markdownFix}}{{getUserBiography _id}}{{/markdownFix}}
					</p>
				{{/if}}
			</div>
			<div class="six wide right aligned column">
				{{> userGravatarLarge this}}
			</div>
		</div>
		<h3>Courses</h3>
		<table class="ui table">
			<thead>
				<tr>
					<th>Course</th>
					<th>Student</th>
					<th>Assistant</th>
					<th>Instructor</th>
				</tr>
			</thead>
			<tbody>
				{{#each courses}}
					{{>userCourseRegistrationRow}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
