<!-- data context:
user
course
-->
<template name="userPracticeProblemSolvedListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>userPracticeProblemMenu}}
    <h3 class="ui dividing header">Practice Problems Solved by Me</h3>
		{{#if countUserPracticeProblemSolutions studentId}}
			{{#with findUserPracticeProblemSolutions studentId}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			You have not yet solved any practice problems.
			Why not <a href="{{pathFor 'userPracticeProblemUnsolvedListPage' courseId=course._id userId=user._id}}">solve one</a>?
		{{/if}}
	</div>
</template>
