<!-- data context:
user
course
-->
<template name="userMasteryCheckListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    {{>userMasteryCheckMenu}}
    <h3 class="ui dividing header">
      Finished Mastery Checks
      <div class="sub header">
        Mastery checks you completed
      </div>
    </h3>
    {{> masteryCheckTable ofCourseId=course._id ofStudentId=user._id}}
  </div>
</template>
