<!-- data context:
user
studyTask
course
-->
<template name="userStudyTaskItem">
  <div class="item">
    <a href="{{pathFor 'studyTaskPage' courseId=course._id studyTaskId=studyTask._id}}"><div class="right floated compact ui button">More...</div></a>
    {{#if equals studyTask.kind "Textbook"}}
      {{#if bookStudyTaskCompleted studyTask._id user._id}}
        <i class="right floated big green check circle icon"></i>
      {{else}}
        {{#if getSumOfDurationsOfRemainingSections studyTask.detail.sectionIds user._id}}
          <span class="right floated ui disabled compact basic button"><i class="clock icon"></i> {{getSumOfDurationsOfRemainingSections studyTask.detail.sectionIds}} min</span>
        {{/if}}
        <div class="right floated ui label">
          {{countUserRecalledStudyTaskSections studyTask._id}} of {{countStudyTaskSections studyTask._id}}
        </div>
      {{/if}}
    {{else}}
      {{#if studyTaskCompleted studyTask._id user._id}}
        <i class="right floated big green check circle icon"></i>
      {{else}}
        {{#if studyTask.duration}}
          <span class="right floated ui disabled compact basic button"><i class="clock icon"></i>{{studyTask.duration}} min</span>
        {{/if}}
      {{/if}}
    {{/if}}
    <i class="{{iconForStudyTaskKind studyTask.kind}} icon"></i>
    <div class="content">
      <div class="header"><a href="{{pathFor 'studyTaskPage' courseId=course._id studyTaskId=studyTask._id}}">{{studyTask.title}}</a></div>
      <div>
        {{studyTask.description}}
      </div>
    </div>
  </div>
</template>
