<!-- data context:
user
course
-->
<template name="userNoteListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      Notes
      <div class="sub header">
        {{#if countUserNotesForCourse user._id course._id}}
          Notes for {{countUserNotesForCourse user._id course._id}} items.
        {{/if}}
        Notes are not visible for other students
      </div>
    </h2>
    {{#each getUserNotesForCourse user._id course._id}}
      <div class="ui basic segment">
        <div class="ui grid">
          <div class="one wide column">
            {{#if contentItemId}}
              {{#with getContentItem contentItemId}}
                {{#if containerIs _id "Labs"}}
                  <i class="right floated circular lab icon"></i>
                {{/if}}
              {{/with}}
            {{else}}
              {{#if sectionId}}
                <i class="right floated circular book icon"></i>
              {{else}}
                {{#with getSkill skillId}}
                  {{#with getTopic topicId}}
                    {{#with getTheme themeId}}
                      <i class="right floated circular inverted {{color}} {{icon}} icon"></i>
                    {{/with}}
                  {{/with}}
                {{/with}}
              {{/if}}
            {{/if}}
          </div>
          <div class="six wide column">
            {{#if contentItemId}}
              {{#with getContentItem contentItemId}}
                {{#if containerIs _id "Labs"}}
                  {{#with getLab containerId}}
                    <a class="header" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
                      {{title}}<br><strong>Item {{../index}}</strong>
                    </a>
                  {{/with}}
                {{/if}}
              {{/with}}
            {{else}}
              {{#if sectionId}}
                {{#with getSection sectionId}}
                  {{#with getChapter chapterId}}
                    {{#with getBook bookId}}
                      {{abbreviation}}, Section {{../../number}}<br>
                    {{/with}}
                    <a class="header" href="/course/{{courseId}}/book/{{bookId}}/chapter/{{_id}}/section/{{../_id}}">
                      {{title}}<br><strong>{{../title}}</strong>
                    </a>
                  {{/with}}
                {{/with}}
              {{else}}
                {{#with getSkill skillId}}
                  {{#with getTopic topicId}}
                    <a class="header" href="/course/{{courseId}}/topic/{{_id}}#skill_{{../_id}}">
                      {{title}}<br><strong>{{../title}}</strong>
                    </a>
                  {{/with}}
                {{/with}}
              {{/if}}
            {{/if}}
            <div class="meta">
              {{formatDateFromNow modificationDate}}
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui yellow inverted segment">
              {{#markdownFix}}{{text}}{{/markdownFix}}
            </div>
          </div>
          <div class="one wide column">
            <div class="remove-annotation-button right floated compact red icon ui button"><i class="minus icon"></i></div>
          </div>
        </div>
      </div>
    {{else}}

      <h2 class="ui center aligned disabled icon header">
        <i class="write icon"></i>
        No Notes Yet
        <div class="sub header">
          You have not taken any notes yet
        </div>
      </h2>

      <div class="ui message">
        To attach a note to something, pick
        <strong><i class="write icon"></i>Add Note</strong>
        from a
        <i class="remove bookmark icon"></i>dropdown menu
        in the margin of a page (e.g., in the various
        <a href="{{pathFor 'labListPage' courseId=course._id}}">lab pages</a>).
      </div>
    {{/each}}
  </div>
</template>
