<template name="userBioPane">
  <h3 class="ui dividing header">
    Biography
    {{#if isMe _id}}
      <div class="ui horizontal label">
        <a href="{{pathFor 'profilePage'}}"><i class="edit icon"></i> Edit</a>
      </div>
    {{/if}}
  </h3>
  {{#if getUserBiography _id}}
    <div>
      {{#markdownFix}}{{getUserBiography _id}}{{/markdownFix}}
    </div>
  {{else}}
    {{#if isMe _id}}
      <div class="ui secondary segment">
        <a href="/profile">Edit your profile</a>
        to provide information about yourself
        that might be of interest to other students.
      </div>
    {{else}}
      <div class="ui secondary segment">
        {{#if profile.firstName}}
          {{profile.firstName}} hasn't provided a bio yet.
        {{else}}
          No bio available.
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</template>
