<!-- data context:
user
course
-->
<template name="userSkillListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      <div class="content">
        Skills
        <div class="sub header">
          This course has {{countSkills course._id}} skills:
          {{countGreenSkills course._id user._id}} green,
          {{countAmberSkills course._id user._id}} amber,
          {{countRedSkills course._id user._id}} red
        </div>
      </div>
    </h2>

    {{#if getTopicCountForCourse course._id}}
	    <div class="ui grid">
				{{#each getTopicsForCourse course._id}}
	        <div class="sixteen wide column">
	          <div class="ui header">
	            {{#with getTheme themeId}}
	              <i class="circular inverted {{color}} {{icon}} icon"></i>
	            {{/with}}
	            <div class="content">
	        			<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">
	        				{{#if title}}
	        					{{title}}
	        				{{else}}
	        					<i>Untitled topic</i>
	        				{{/if}}
	        			</a>
	              <div class="sub header">
	                {{#with getTheme themeId}}
	                  {{title}}
	                {{/with}}
	              </div>
	            </div>
	          </div>
	          <div class="ui celled list">
	            {{#each getSkillsForTopic _id}}
	              <div class="item">
									<div class="right floated content">
										{{#if isSkillGreen _id ../../user._id}}
											<button class="clear-button right floated compact green ui icon button" style="margin-left: 2px"><i class="checkmark icon"></i></button>
										{{else}}
											<button class="set-green-button right floated compact ui icon button" style="margin-left: 2px"><i class="checkmark icon"></i></button>
										{{/if}}
										{{#if isSkillAmber _id ../../user._id}}
											<button class="clear-button right floated compact yellow ui icon button" style="margin-left: 2px"><i class="help icon"></i></button>
										{{else}}
											<button class="set-amber-button right floated compact ui icon button" style="margin-left: 2px"><i class="help icon"></i></button>
										{{/if}}
										{{#if isSkillRed _id ../../user._id}}
											<button class="clear-button right floated compact red ui icon button"><i class="remove icon"></i></button>
										{{else}}
											<button class="set-red-button right floated compact ui icon button"><i class="remove icon"></i></button>
										{{/if}}
									</div>
	                <i class="large bullseye icon"></i>
	                <div class="content">
	                  <div class="header">{{title}}</div>
	                  <div>{{description}}</div>
	                </div>
	              </div>
	            {{/each}}
	          </div>
	        </div>
				{{/each}}
			</div>
		{{else}}
			<h2 class="ui center aligned disabled icon header">
				<i class="target icon"></i>
				No Skills Yet
				{{#if isRegisteredAsInstructor course._id}}
					<div class="sub header">Edit a theme to create topics, then add skills</div>
				{{/if}}
			</h2>
		{{/if}}


  </div>
</template>
