<template name="userMasteryCheckMenu">
  <h2 class="ui dividing header">
		Mastery Checks
  </h2>
  <div class="ui secondary  menu">
    <a class="{{isActiveRoute 'userMasteryCheckCurrentPage'}} item" href="{{pathFor 'userMasteryCheckCurrentPage' courseId=course._id userId=user._id}}">
      <i class="play icon"></i> Current
    </a>
    <a class="{{isActiveRoute 'userMasteryCheckListPage'}} item" href="{{pathFor 'userMasteryCheckListPage' courseId=course._id userId=user._id}}">
      <i class="sign out icon"></i> Finished
    </a>
    <a class="{{isActiveRoute 'userFailedTopicListPage'}} item" href="{{pathFor 'userFailedTopicListPage' courseId=course._id userId=user._id}}">
      <i class="bug icon"></i> Bugs
    </a>
    <a class="{{isActiveRoute 'userPassedTopicListPage'}} item" href="{{pathFor 'userPassedTopicListPage' courseId=course._id userId=user._id}}">
      <i class="trophy out icon"></i> Mastered
    </a>
  </div>
</template>
