<!-- data context:
user
course
-->
<template name="userPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    {{#with getInstructorRegistration user._id course._id}}
      {{>instructorInfoPane}}
    {{else}}
      {{#with getAssistantRegistration user._id course._id}}
        {{>assistantInfoPane}}
      {{else}}
        {{#with getStudentRegistration user._id course._id}}
          {{>studentInfoPane}}
        {{/with}}
      {{/with}}
    {{/with}}
    {{#with user}}
      {{>userContactInfoPane}}
      {{>userBioPane}}
      {{>userLearningPane}}
    {{/with}}
    {{#with getStudentRegistration user._id course._id}}
      {{>userGuerillaMailPane}}
    {{/with}}
  </div>
  {{#if isRegisteredAsInstructor course._id}}
    {{#with getStudentRegistration user._id course._id}}
      {{>studentRegistrationModificationPane}}
    {{/with}}
    {{#with getAssistantRegistration user._id course._id}}
      {{>assistantRegistrationModificationPane}}
    {{/with}}
  {{/if}}
</template>
