<!-- data context:
user
course
-->
<template name="userHomePage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<div class="content">
				{{course.title}}
				<div class="sub header">
					{{course.description}}
				</div>
			</div>
		</h1>

    {{>studentPageClassSessionPane}}
    {{>studentPageLabPane}}

  </div>
</template>
