<!-- data context:
user
lab
labTeam
labFeedback
-->
<template name="userLabFeedbackPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      {{lab.title}}
      <div class="sub header">
        {{lab.description}}
      </div>
    </h2>
    {{>userLabPageMenu}}
  </div>
  <div class="ui attached feature segment">
    <h3 class="ui header">Feedback</h3>
    <p>
      Please provide feedback on the
      <a href="/course/{{courseId}}/lab/{{lab._id}}">"{{lab.title}}" lab</a>.
    </p>
    <div class="ui form">
      <h4 class="ui header">Feedback about Teamwork: How well did your team do?</h4>
      <p>
        Team:
        {{#each labTeam.memberIds}}
          {{#with getUser this}}
            {{> userStatusLabel user=this courseId=../../lab.courseId}}
          {{/with}}
        {{/each}}
      </p>
      <div class="field">
        <label>The collaboration in our team...</label>
        <div class="ui three column grid">
          <div class="column">
            <button class="collaborationWorkedWell ui fluid {{#if qualityIs labFeedback 'collaborationWorkedWell'}}green{{/if}} labeled icon button">
              <i class="smile icon"></i>
              worked well
            </button>
          </div>
          <div class="column">
            <button class="collaborationWorkedMostlyFine ui fluid {{#if qualityIs labFeedback 'collaborationWorkedMostlyFine'}}yellow{{/if}} labeled icon button">
              <i class="meh icon"></i>
              worked mostly fine
            </button>
          </div>
          <div class="column">
            <button class="collaborationDidNotWorkWell ui fluid {{#if qualityIs labFeedback 'collaborationDidNotWorkWell'}}red{{/if}} labeled icon button">
              <i class="frown icon"></i>
              didn't work well
            </button>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
  				<label>What worked well?</label>
          {{#if isMe user._id}}
            <textarea class="teamworkPositive" placeholder="List positive aspects of your collaboration">{{getField labFeedback 'teamworkPositive'}}</textarea>
          {{else}}
            <textarea readonly="readonly">{{getField labFeedback 'teamworkPositive'}}</textarea>
          {{/if}}
        </div>
        <div class="field">
  				<label>What did not work well?</label>
          {{#if isMe user._id}}
            <textarea class="teamworkNegative" placeholder="List negative aspects of your collaboration">{{getField labFeedback 'teamworkNegative'}}</textarea>
          {{else}}
            <textarea readonly="readonly">{{getField labFeedback 'teamworkNegative'}}</textarea>
          {{/if}}
        </div>
      </div>
      <div class="field">
				<label>What will <i>you</i> do differently next time?</label>
        {{#if isMe user._id}}
          <textarea class="teamworkSelfImprovement" placeholder="List how you will change your own approach to collaboration next time">{{getField labFeedback 'teamworkSelfImprovement'}}</textarea>
        {{else}}
          <textarea readonly="readonly">{{getField labFeedback 'teamworkSelfImprovement'}}</textarea>
        {{/if}}
      </div>
      <div class="field">
				<label>Failed teamwork grade compensation</label>
        <p>
          In the <i>exceptional</i> situation that your team failed to collaborate
          because of another team member,
          you can request for us to adjust your grade in this lab.
          However, for us to consider your request,
          you need to
          (1) select the red button to indicate that your collaboration didn't work well,
          (2) provide details above on what did not work well,
          (3) provide details above on how <i>you</i> will do things differently next time, and
          (4) propose, below, what you consider would be a fair adjustment of your grade in this lab.
        </p>
        {{#if isMe user._id}}
          <textarea class="teamworkGradeCompensation" placeholder="Propose how we should adjust your grade for this lab">{{getField labFeedback 'teamworkGradeCompensation'}}</textarea>
        {{else}}
          <textarea readonly="readonly">{{getField labFeedback 'teamworkGradeCompensation'}}</textarea>
        {{/if}}
      </div>
      <h4 class="ui header">Feedback about Lab: How well did the teaching team do?</h4>
      <p>
        Please provide comments to help the teaching team improve.
        This is a good place for providing high-level feedback,
        including comments on workload,
        on how interesting the lab was,
        or on how effective and efficient it was in helping you learn.
      </p>
      <p>
        If you have questions about the contents of specific items in the lab,
        do not ask them here, but
        please ask those directly next to the corresponding item on the
        <a href="/course/{{courseId}}/lab/{{lab._id}}">lab page</a>
        (by clicking the <i class="ui bookmark outline icon"></i> button).
      </p>
      <div class="two fields">
        <div class="field">
  				<label>Positive aspects:</label>
          {{#if isMe user._id}}
            <textarea class="labPositive" placeholder="List positive aspects of the lab">{{getField labFeedback 'labPositive'}}</textarea>
          {{else}}
            <textarea readonly="readonly">{{getField labFeedback 'labPositive'}}</textarea>
          {{/if}}
        </div>
        <div class="field">
  				<label>Negative aspects:</label>
          {{#if isMe user._id}}
            <textarea class="labNegative" placeholder="List negative aspects of the lab">{{getField labFeedback 'labNegative'}}</textarea>
          {{else}}
            <textarea readonly="readonly">{{getField labFeedback 'labNegative'}}</textarea>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
