<template name="userLastName">
	{{#if profile.lastName}}
		<a href="{{pathFor "adminUserPage" _id=_id}}">{{profile.lastName}}</a>
	{{else}}
		<i><a href="{{pathFor "adminUserPage" _id=_id}}">unknown</a></i>
	{{/if}}
</template>
