<!-- data context:
user
course
-->
<template name="userLabListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      <div class="content">
        Past Labs
        <div class="sub header">
          Team member in {{countPastLabsTaken course._id user._id}}
          of the {{countPastLabs course._id}} past labs
        </div>
      </div>
    </h2>
    {{#if countPastLabs course._id}}
      <table class="ui table">
        <thead>
          <tr>
            <th>Lab</th>
            <th>Teammates</th>
            <th>Feedback</th>
            <th>Score</th>
            <th>Max Score</th>
          </tr>
        </thead>
        <tbody>
          {{#each getPastLabs course._id}}
            <tr>
              <td><a href="{{pathFor 'userLabPage' courseId=courseId userId=../user._id labId=_id}}">{{title}}</a></td>
              {{#with getLabTeam _id ../user._id}}
                <td>
                  {{#each memberIds}}
                    {{#unless equals this ../../../user._id}}
                      {{#with getUser this}}
                        {{> userStatusLabel user=this courseId=../../courseId}}
                      {{/with}}
                      {{#with getLabFeedback ../labId this}}
                        <a href="{{pathFor 'userLabFeedbackPage' courseId=courseId userId=userId labId=labId}}">
                          {{#if equals collaborationQuality 'collaborationWorkedWell'}}
                            <i class="green smile icon"></i>
                          {{else}}
                            {{#if equals collaborationQuality 'collaborationWorkedMostlyFine'}}
                              <i class="yellow meh icon"></i>
                            {{else}}
                              {{#if equals collaborationQuality 'collaborationDidNotWorkWell'}}
                                <i class="red frown icon"></i>
                              {{else}}
                                <i class="disabled help circle icon"></i>
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        </a>
                      {{else}}
                      {{/with}}
                    {{/unless}}
                  {{/each}}
                </td>
                <td>
                  {{#with getLabFeedback ../_id ../../user._id}}
                    {{#if equals collaborationQuality 'collaborationWorkedWell'}}
                      <i class="green smile icon"></i>
                    {{else}}
                      {{#if equals collaborationQuality 'collaborationWorkedMostlyFine'}}
                        <i class="yellow meh icon"></i>
                      {{else}}
                        {{#if equals collaborationQuality 'collaborationDidNotWorkWell'}}
                          <i class="red frown icon"></i>
                        {{else}}
                          <i class="disabled help circle icon"></i>
                        {{/if}}
                      {{/if}}
                    {{/if}}
                    <a class="compact ui button" href="{{pathFor 'userLabFeedbackPage' courseId=courseId userId=../../../user._id labId=../../_id}}">Edit</a>
                  {{else}}
                    <i class="disabled help circle icon"></i>
                    <a class="compact blue ui button" href="{{pathFor 'userLabFeedbackPage' courseId=courseId userId=../../user._id labId=../_id}}">Add</a>
                  {{/with}}
                </td>
                <td>{{computeOverallScore ../_id _id}}</td>
              {{else}}
                <td>not done</td>
                <td>-</td>
                <td>0</td>
              {{/with}}
              <td>{{computeMaxOverallScore _id}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</template>
