<!-- data context:
user
course
-->
<template name="userPracticeProblemUnsolvedListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>userPracticeProblemMenu}}
		<h3 class="ui dividing header">Practice Problems I Could Solve</h3>
		{{#if countUserUnsolvedPracticeProblems user._id}}
			{{#with findUserUnsolvedPracticeProblems user._id}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			There currently are no practice problems you could solve.
			Why not <a href="{{pathFor 'userPracticeProblemOwnListPage' courseId=course._id userId=user._id}}">create your own</a>?
		{{/if}}
	</div>
</template>
