<!-- data context:
user
course
-->
<template name="userPracticeProblemOwnListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>userPracticeProblemMenu}}
		<h3 class="ui dividing header">Practice Problems Created by Me</h3>
		{{#if countUserOwnPracticeProblems user._id}}
			{{#if countUserOwnPublishedUnarchivedPracticeProblems user._id}}
				You published {{countUserOwnPublishedUnarchivedPracticeProblems user._id}} practice problems that your peers can solve.
			{{else}}
				You may want to publish some of your problems, so your peers can see and solve them.
			{{/if}}
			{{#with findUserOwnPracticeProblems user._id}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
      <h2 class="ui center aligned disabled icon header">
  			<i class="university icon"></i>
  			No Practice Problems Yet
				<div class="sub header">
          Create one for a specific topic
        </div>
  		</h2>
		{{/if}}
		<p>
			&nbsp;
		</p>
		<p>
			Practice problems are related to a topic.
			Go to a <a href="{{pathFor 'topicListPage' courseId=course._id}}">topic page</a>
			to create a practice problem for that topic.
		</p>
	</div>
</template>
