<!-- data context:
user
course
-->
<template name="userPageHeader">
  <div class="ui top attached feature segment">
    <h1 class="ui header">
      <i class="user icon"></i>
      <div class="content">
        {{user.profile.firstName}} {{user.profile.lastName}}
        <div class="sub header">
          {{#with getInstructorRegistration user._id course._id}}
            Instructor in
          {{else}}
            {{#with getAssistantRegistration user._id course._id}}
              Assistant in
            {{else}}
              {{#with getStudentRegistration user._id course._id}}
                Student in
              {{else}}
                Not registered in
              {{/with}}
            {{/with}}
          {{/with}}
          {{course.abbreviation}} {{course.instance}}
        </div>
      </div>
      {{#with user}}
        {{> userStatusIndicator}}
      {{/with}}
    </h1>
  </div>
</template>
