<template name="userCourseRegistrationRow">
	<tr>
		<td>
			<i class="student icon"></i>
			<a href="/course/{{_id}}">{{abbreviation}} {{instance}}</a>
			&mdash; {{title}}
		</td>
		<td>
			{{#with getUserStudentRegistration ../_id _id}}
				<a href="{{pathFor "studentPage" courseId=../_id _id=_id}}">Student registration</a>
			{{else}}
				<button class="register-as-student-button compact blue ui button">Register as student</button>
			{{/with}}
		</td>
		<td>
			{{#with getUserAssistantRegistration ../_id _id}}
				<a href="{{pathFor "assistantPage" courseId=../_id _id=_id}}">Assistant registration</a>
			{{else}}
				<button class="register-as-assistant-button compact blue ui button">Register as assistant</button>
			{{/with}}
		</td>
		<td>
			{{#with getUserInstructorRegistration ../_id _id}}
				<a href="{{pathFor "instructorPage" courseId=../_id _id=_id}}">Instructor registration</a>
			{{else}}
				<button class="register-as-instructor-button compact blue ui button">Register as instructor</button>
			{{/with}}
		</td>
	</tr>
</template>
