<!-- data context:
user
course
-->
<template name="userPageMenu">
  {{#if isMeOrOnTeachingTeam user._id course._id}}
  	<div class="ui secondary borderless pointing icon menu">
  		<a class="{{isActiveRoute 'userPage'}} item" href="{{pathFor 'userPage' courseId=course._id userId=user._id}}">
  			<i class="user icon"></i>
  		</a>
      <a class="{{isActiveRoute 'userSkillListPage'}} item" href="{{pathFor 'userSkillListPage' courseId=course._id userId=user._id}}">
  			<i class="target icon"></i>
  		</a>
      <a class="{{isActiveRoute 'userStudyTaskListPage'}} item" href="{{pathFor 'userStudyTaskListPage' courseId=course._id userId=user._id}}">
  			<i class="edit icon"></i>
  		</a>
      <a class="{{isActiveRoute 'userReadingPage'}} item" href="{{pathFor 'userReadingPage' courseId=course._id userId=user._id}}">
  			<i class="book icon"></i>
  		</a>
      <a class="{{isActiveRoute 'userLabListPage|userLabPage|userLabFeedbackPage'}} item" href="{{pathFor 'userLabListPage' courseId=course._id userId=user._id}}">
  			<i class="lab icon"></i>
  		</a>
      <a class="{{isActiveRoute 'userPracticeProblemOwnListPage|userPracticeProblemSolvedListPage|userPracticeProblemUnsolvedListPage'}} item" href="{{pathFor 'userPracticeProblemOwnListPage' courseId=course._id userId=user._id}}">
  			<i class="university icon"></i>
  		</a>
      {{#if course.useQuizzes}}
        <a class="{{isActiveRoute 'userQuizListPage|userQuizAttemptPage'}} item" href="{{pathFor 'userQuizListPage' courseId=course._id userId=user._id}}">
          <i class="checkmark box icon"></i>
        </a>
      {{/if}}
      {{#if course.useMasteryChecks}}
        <a class="{{isActiveRoute 'userMasteryCheckCurrentPage|userMasteryCheckListPage|userPassedTopicListPage|userFailedTopicListPage'}} item" href="{{pathFor 'userMasteryCheckListPage' courseId=course._id userId=user._id}}">
          <i class="trophy icon"></i>
        </a>
      {{/if}}
      <a class="{{isActiveRoute 'userQuestionListPage'}} item" href="{{pathFor 'userQuestionListPage' courseId=course._id userId=user._id}}">
        <i class="help icon"></i>
      </a>
      <a class="{{isActiveRoute 'userNoteListPage'}} item" href="{{pathFor 'userNoteListPage' courseId=course._id userId=user._id}}">
  			<i class="write icon"></i>
  		</a>
  		<a class="{{isActiveRoute 'userTagListPage'}} item" href="{{pathFor 'userTagListPage' courseId=course._id userId=user._id}}">
  			<i class="tag icon"></i>
  		</a>
  		<a class="{{isActiveRoute 'userBookmarkListPage'}} item" href="{{pathFor 'userBookmarkListPage' courseId=course._id userId=user._id}}">
  			<i class="bookmark icon"></i>
  		</a>
      <a class="{{isActiveRoute 'userPomodoroListPage'}} item" href="{{pathFor 'userPomodoroListPage' courseId=course._id userId=user._id}}">
        <i class="wait icon"></i>
      </a>
      <a class="{{isActiveRoute 'userFeedPage'}} item" href="{{pathFor 'userFeedPage' courseId=course._id userId=user._id}}">
        <i class="feed icon"></i>
      </a>

    </div>
  {{/if}}
</template>
