<!-- data context:
user
course
-->
<template name="userReadingPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
		<h2 class="ui dividing header">
			Recalled Readings
			<div class="sub header">
				Recalled {{countUserCourseSectionStatuses course._id user._id}}
        <!--of {{countCourseSections course._id}}--> textbook sections
			</div>
		</h2>
    <p>
      Here is a one-page overview of your reading recalls.
      To add or edit a recall, click on the corresponding chapter or section title.
    </p>
    {{> readingViz courseId=course._id studentId=user._id}}
  </div>
  {{#if isMeOrOnTeachingTeam user._id course._id}}
  	{{#each getBooks courseId}}
      <div class="ui attached feature segment">
        <div class="ui items">
  				<div class="item">
  					<div class="ui small image">
  						<img src="{{imageUrl}}">
  					</div>
  					<div class="content">
  						<div class="header"><a href="{{pathFor 'bookPage' courseId=courseId bookId=_id}}">{{title}}{{#if subtitle}}: {{subtitle}}{{/if}}</a></div>
              <div class="meta">
    						<span class="author">{{author}}</span>
    					</div>
    					<div class="extra">
    						{{url}}
    					</div>
              <div class="description">{{#markdownFix}}{{book.description}}{{/markdownFix}}</div>
              <div class="extra">
                You recalled {{countUserBookSectionStatuses _id ../user._id}} of {{countBookSections _id}} sections in this book.
              </div>
  						<div class="extra">
  							<a class="compact ui button" href="{{pathFor 'bookPage' courseId=courseId bookId=_id}}">Contents...</a>
  						</div>
  					</div>
          </div>
        </div>
        {{#each getChapters _id}}
          {{#if countUserChapterSectionStatuses _id ../../user._id}}
            <a href="{{pathFor 'chapterPage' courseId=courseId bookId=../_id chapterId=_id}}">
              <h3 class="ui header">
                {{number}}. {{title}}
                <div class="right floated ui label">
                  {{countUserChapterSectionStatuses _id ../../user._id}} of {{countChapterSections _id}}
                </div>
              </h3>
            </a>
            {{#each getSections _id}}
              {{#if hasUserSectionStatus _id ../../../user._id}}
                <a href="{{pathFor 'sectionPage' courseId=courseId bookId=../../_id chapterId=../_id sectionId=_id}}">
                  <h4 class="ui header">{{number}}. {{title}}</h4>
                </a>
                <div class="ui inverted blue segment">
                  {{#with getUserSectionStatus _id ../../../user._id}}{{recallText}}{{/with}}
                </div>
              {{else}}
                <a href="{{pathFor 'sectionPage' courseId=courseId bookId=../../_id chapterId=../_id sectionId=_id}}">
                  <h4 class="ui header" style="color: #c0c0c0;">{{number}}. {{title}}</h4>
                </a>
              {{/if}}
            {{/each}}
          {{else}}
            <a href="{{pathFor 'chapterPage' courseId=courseId bookId=../_id chapterId=_id}}">
              <h3 class="ui header" style="color: #c0c0c0;">{{number}}. {{title}}</h3>
            </a>
          {{/if}}
        {{/each}}
  		</div>
  	{{/each}}
  {{/if}}
</template>
