<template name="userPrimaryMail">
	{{#if emails.[0]}}
		{{#if emails.[0].verified}}
			<i class="green check square icon"></i>
		{{else}}
			<i class="red minus circle icon"></i>
		{{/if}}
		<a href="mailto:{{emails.[0].address}}">{{emails.[0].address}}</a>
		<br>
	{{/if}}
</template>
