<!-- data context:
. (studentRegistration)
-->
<template name="userGuerillaMailPane">
  {{#if isMeOrOnTeachingTeam studentId courseId}}
    <h3 class="ui dividing header">
      Guerilla Mail Account
    </h3>
    {{#if isRegisteredAsInstructor courseId}}
      <form class="guerillamail-form ui form">
        <div class="two fields">
          <div class="field">
            <label>Cleartext address (part before @):</label>
            <input name="guerillamailCleartextAddress" type="text" placeholder="e.g., rnubofvx" value="{{guerillamailCleartextAddress}}">
          </div>
          <div class="field">
            <label>Scrambled address (part before @):</label>
            <input name="guerillamailScrambledAddress" type="text" placeholder="e.g., 3rpw27+396cdosa0rokk" value="{{guerillamailScrambledAddress}}">
          </div>
        </div>
        <button class="ui blue submit button">Submit</button>
      </form>
    {{else}}
      {{#if guerillamailCleartextAddress}}
        <p>
          To provide detailed and consistent feedback on your paper-based graded exams,
          we created a gradescope account for you.
          However, to keep your information in gradescope anonymous,
          we did not use your official information (name, email address, ...) in gradescope.
          Instead, we created an anonymous Guerilla Mail email address for you.
          There are two versions of that address: the <strong>cleartext</strong> version,
          which is what you need so you can see your mailbox on GuerillaMail.com,
          and the <strong>scrambled</strong> version,
          which is what you need to log into gradescope.
        </p>
        <p>
          Cleartext address: <strong>{{guerillamailCleartextAddress}}</strong>@guerrillamailblock.com
        </p>
        <p>
          Scrambled address: <strong>{{guerillamailScrambledAddress}}</strong>@guerrillamailblock.com
        </p>
        <p>
          To access your paper-based graded exams on gradescope:
        </p>
        <ul>
          <li>Go to <a href="https://gradescope.com/" target="_blank">gradescope</a></li>
          <li>Click on "Log in"</li>
          <li>Click on "Forgot your password?"</li>
          <li>As the email address, enter your scrambled Guerilla Mail address (<strong>{{guerillamailScrambledAddress}}@guerrillamailblock.com</strong>)</li>
          <li>Go to <a href="https://www.guerrillamail.com/" target="_blank">Guerilla Mail</a></li>
          <li>Click the button to set the cleartext Guerrilla Mail address to <strong>{{guerillamailCleartextAddress}}</strong> (without @...)</li>
          <li>Now you should see your mailbox, containing at least one email (the welcome mail)</li>
          <li>You may have to wait for a couple of minutes for the gradescope password reset email to arrive (subject "Gradescope.com Password Reset")</li>
          <li>Once it arrives, open that mail, and click on the link in the mail</li>
          <li>You will be sent to a page on gradescope where you can set your gradescope password</li>
          <li>Set the password (pick whatever password you like)</li>
          <li>This will log you into your gradescope account, where you can see all your graded paper-based exams</li>
        </ul>
        <p>
          If you want to log into gradescope in the future, you can use your scrambled Guerilla Mail address and this password
          (no need to reset the password each time).
        </p>
      {{else}}
        <p>
          The instructor has not connected this account to a Guerilla Mail account.
        </p>
      {{/if}}
    {{/if}}
  {{/if}}
</template>
