<template name="userPracticeProblemMenu">
	<div class="ui secondary  menu">
		<a class="{{isActiveRoute 'userPracticeProblemUnsolvedListPage'}} item" href="{{pathFor 'userPracticeProblemUnsolvedListPage' courseId=course._id userId=user._id}}">
			<i class="file outline icon"></i> Unsolved
		</a>
		<a class="{{isActiveRoute 'userPracticeProblemSolvedListPage'}} item" href="{{pathFor 'userPracticeProblemSolvedListPage' courseId=course._id userId=user._id}}">
			<i class="file excel outline icon"></i> Solved
		</a>
		<a class="{{isActiveRoute 'userPracticeProblemOwnListPage'}} item" href="{{pathFor 'userPracticeProblemOwnListPage' courseId=course._id userId=user._id}}">
			<i class="user icon"></i> Own
		</a>
	</div>
</template>
