<template name="courseItem">
	<div class="item">
		<div class="ui small image">
			<a href="{{pathFor 'coursePage' courseId=_id}}"><img src="{{logoUrl}}"></a>
		</div>
		<div class="content">
			<a class="header"><a href="{{pathFor 'coursePage' courseId=_id}}">{{title}}</a></a>
			<div class="meta">
				<span>{{abbreviation}}</span>
				<span>{{instance}}</span>
			</div>
			<div class="description">
				{{description}}
			</div>
			<div class="extra">
				<a class="ui right floated primary button" href="{{pathFor 'coursePage' courseId=_id}}">
					Go
					<i class="right chevron icon"></i>
				</a>
				{{#if openForRegistration}}
					<div class="ui yellow label">Open for registrations</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
