<template name="courseMenu">
	<h4 class="ui dividing header">
		<!--<a class="teal item" href="/course/{{_id}}">{{abbreviation}} {{instance}}</a>-->
		<a class="{{isActiveRoute 'userHomePage'}} blue item" href="{{pathFor 'userHomePage' courseId=_id userId=getMyUserId}}">
			{{abbreviation}} {{instance}}
		</a>
	</h4>
	{{#if getOngoingQuiz _id}}
		{{#if isOnTeachingTeam _id}}
			{{#with getOngoingQuiz _id}}
				{{#unless isActiveRoute "quizRunPage"}}
					<a class="ui fluid green button" href="{{pathFor 'quizRunPage' courseId=../_id quizId=_id}}">Help Running Quiz</a>
				{{/unless}}
			{{/with}}
		{{/if}}
		{{#if isRegisteredAsStudent _id}}
			{{#with getOngoingQuiz _id}}
				{{#unless isActiveRoute "quizTakePage"}}
					<a class="ui fluid green button" href="{{pathFor 'quizTakePage' courseId=../_id quizId=_id}}">Take Quiz!</a>
				{{/unless}}
			{{/with}}
		{{/if}}
	{{/if}}
	{{#if ended}}
		<div class="ui red label">This course has ended!</div>
	{{/if}}
	<div class="ui fluid secondary vertical menu">
		{{#if isRegisteredAsAnything _id}}
			<a class="{{isActiveRoute 'userPage'}} blue item" href="{{pathFor 'userPage' courseId=_id userId=getMyUserId}}">
				<i class="user icon"></i> Me
			</a>
			<a class="{{isActiveRoute 'userSkillListPage'}} blue item" href="{{pathFor 'userSkillListPage' courseId=course._id userId=getMyUserId}}">
				<i class="target icon"></i> My Skills
			</a>
			<a class="{{isActiveRoute 'userStudyTaskListPage|studyTaskPage|studyTaskRecallsPage|studyTaskEditPage'}} blue item" href="{{pathFor 'userStudyTaskListPage' courseId=course._id userId=getMyUserId}}">
				<i class="edit icon"></i> My Study Tasks
			</a>
			<a class="{{isActiveRoute 'userPracticeProblemOwnListPage|userPracticeProblemSolvedListPage|userPracticeProblemUnsolvedListPage'}} blue item" href="{{pathFor 'userPracticeProblemOwnListPage' courseId=_id userId=getMyUserId}}">
				<i class="university icon"></i> My Problems
			</a>
			{{#if useMasteryChecks}}
				<a class="{{isActiveRoute 'userMasteryCheckCurrentPage|userMasteryCheckListPage'}} blue item" href="{{pathFor 'userMasteryCheckCurrentPage' courseId=_id userId=getMyUserId}}">
					<i class="trophy icon"></i> My Checks
				</a>
			{{/if}}
			<a class="{{isActiveRoute 'userQuestionListPage'}} blue item" href="{{pathFor 'userQuestionListPage' courseId=_id userId=getMyUserId}}">
				<i class="help icon"></i> My Questions
			</a>
			<a class="{{isActiveRoute 'userNoteListPage'}} blue item" href="{{pathFor 'userNoteListPage' courseId=_id userId=getMyUserId}}">
				<i class="write icon"></i> My Notes
			</a>
			<a class="{{isActiveRoute 'userTagListPage'}} blue item" href="{{pathFor 'userTagListPage' courseId=_id userId=getMyUserId}}">
				<i class="tag icon"></i> My Tags
			</a>
			<a class="{{isActiveRoute 'userBookmarkListPage'}} blue item" href="{{pathFor 'userBookmarkListPage' courseId=_id userId=getMyUserId}}">
				<i class="bookmark icon"></i> My Bookmarks
			</a>
			<a class="{{isActiveRoute 'userFeedPage'}} blue item" href="{{pathFor 'userFeedPage' courseId=_id userId=getMyUserId}}">
				<i class="feed icon"></i> My Feed
			</a>
		{{/if}}
		{{#if isRegisteredAsAnything _id}}
			<a class="{{isActiveRoute "communityPage"}} blue item" href="{{pathFor "communityPage" _id=_id}}">
				<i class="users icon"></i> Community
			</a>
			<a class="{{isActiveRoute "coursePracticeProblemListPage"}} blue item" href="/course/{{_id}}/coursePracticeProblems">Community Problems</a>
			<a class="{{isActiveRoute "communityOpenQuestionsPage|courseQuestionListPage"}} blue item" href="/course/{{_id}}/communityOpenQuestions">Community Questions</a>
		{{/if}}
		{{#if isOnTeachingTeam _id}}
			<a class="{{isActiveRoute "courseFeedPage"}} blue item" href="{{pathFor "courseFeedPage" courseId=_id}}">
				Community Feed
			</a>
		{{/if}}
		<a class="{{isActiveRoute "themePage|themeListPage|themeEditPage|themeListEditPage"}} blue item" href="{{pathFor "themeListPage" courseId=_id}}">
			<i class="theme icon"></i> Themes
		</a>
		<a class="{{isActiveRoute "topicPage|topicPassedChecksPage|topicFailedChecksPage|topicQuestionsPage|topicListPage|topicEditPage"}} blue item" href="{{pathFor "topicListPage" courseId=_id}}">
			<i class="marker icon"></i> Topics
		</a>
		<a class="{{isActiveRoute "labPage|labListPage|userLabFeedbackPage|labListOutcomePage|labEditPage|labListEditPage"}} blue item" href="{{pathFor "labListPage" courseId=_id}}">
			<i class="lab icon"></i> Labs
		</a>
		<a class="{{isActiveRoute "bookListPage|bookPage|chapterPage|sectionPage|sectionRecallsPage|bookListEditPage|bookEditPage|chapterEditPage|sectionEditPage"}} blue item" href="{{pathFor "bookListPage" courseId=_id}}">
			<i class="book icon"></i> Books
		</a>
		<a class="{{isActiveRoute 'classSessionListPage|classSessionListEditPage|classSessionPage|classSessionEditPage'}} blue item" href="{{pathFor "classSessionListPage" courseId=_id}}">
			<i class="student icon"></i> Class Sessions
		</a>
		{{#if useQuizzes}}
			<a class="{{isActiveRoute "quizListPage|quizPage|quizRunPage"}} blue item" href="{{pathFor "quizListPage" courseId=_id}}">
				<i class="checkmark box icon"></i> Quizzes
			</a>
		{{/if}}
		{{#if useMasteryChecks}}
			{{#if isOnTeachingTeam _id}}
				<a class="{{isActiveRoute 'masteryCheckRegistrationListPage|newMasteryCheckPage|masteryCheckQueuePage|masteryCheckListPage'}} blue item" href="{{pathFor 'masteryCheckRegistrationListPage' courseId=_id}}">
					<i class="trophy icon"></i> Mastery Checks
				</a>
			{{/if}}
		{{/if}}
		{{#if isOnTeachingTeam _id}}
			<a class="{{isActiveRoute 'misconceptionListPage|misconceptionListEditPage|misconceptionPage|misconceptionEditPage'}} blue item" href="{{pathFor 'misconceptionListPage' courseId=_id}}">
				<i class="bug icon"></i> Misconceptions
			</a>
		{{/if}}
		<a class="{{isActiveRoute "syllabusPage"}} blue item" href="{{pathFor "syllabusPage" courseId=_id}}">
			<i class="protect icon"></i> Syllabus
		</a>
		{{#if isOnTeachingTeam _id}}
			<a class="{{isActiveRoute "courseFilesPage"}} blue item" href="{{pathFor "courseFilesPage" courseId=_id}}">
				<i class="file icon"></i> Files
			</a>
			<a class="teal item" href="/course/{{_id}}/nextMasteryCheckTopics">Topics in Next Mastery Check</a>
			<a class="teal item" href="/course/{{_id}}/topicStudentMatrix">Topic/Student Matrix</a>
			<a class="teal item" href="/course/{{_id}}/weekStudentMatrix">Week/Student Matrix</a>
			<a class="teal item" href="/course/{{_id}}/questions">My Questions</a>
			<a class="teal item" href="/course/{{_id}}/ttPracticeProblems">TT Problems</a>
			<a class="teal item" href="/course/{{_id}}/allPomodoros">All Pomodoros</a>
			<a class="{{isActiveRoute "studentListPage"}} blue item" href="{{pathFor 'studentListPage' courseId=_id}}">Students</a>
		{{/if}}
	</div>
	<div>
		<div class="ui divider"></div>
		{{#if currentUser}}
			{{#if isRegisteredAsInstructor _id}}
				<p>Registered as instructor</p>
			{{else}}
				{{#if isRegisteredAsAssistant _id}}
					<p>Registered as assistant</p>
				{{else}}
					{{#if isRegisteredAsStudent _id}}
						<p>Registered as student</p>
					{{else}}
						<button class="ui primary button">Register for {{abbreviation}} {{instance}}</button>
					{{/if}}
				{{/if}}
			{{/if}}
			{{#with currentUser}}
				{{#unless emails.[0].verified}}
					<div class="ui warning message">
						Please <a href="/profile">verify your email address</a>.
					</div>
				{{/unless}}
			{{/with}}
			{{#unless isProfileComplete}}
				<div class="ui warning message">
					Please complete your <a href="/profile">profile</a>.
				</div>
			{{/unless}}
			{{#if isRegisteredAsStudent _id}}
				{{#if isNotYetApprovedAsStudent _id}}
					<div class="ui info message">
						Your student registration is awaiting approval by the teaching team.
						You will have limited access
						and you will not be able to fully participate
						before your registration has been approved.
					</div>
				{{/if}}
			{{/if}}
		{{else}}
			<p><a href="/sign-in">Sign in</a> to register for this course.</p>
		{{/if}}
	</div>
</template>
