<template name="courseVisibility">
	{{#if visible}}
		<button class="hide-course-button right floated compact green ui icon button"><i class="checkmark icon"></i></button>
	{{else}}
		<button class="show-course-button right floated compact ui icon button"><i class="checkmark icon"></i></button>
	{{/if}}
</template>
