<template name="markdownLabel">
	<div class="markdown-label ui label">Use <a target="informa-help" href="http://daringfireball.net/projects/markdown/">markdown</a> for formatting</div>
	<div class="ui flowing popup" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0">
		<table class="ui celled striped table" style="border: 0">
			<thead>
				<tr>
					<th colspan="2">Markdown Quick Reference</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<code style="font-size: 80%">**Bold** and *italics text*</code>
					</td>
					<td>
						{{#markdownFix}}**Bold** and *italics text*{{/markdownFix}}
					</td>
				</tr>
				<tr>
					<td>
						<code style="font-size: 80%">Inline `code()`</code>
					</td>
					<td>
						{{#markdownFix}}Inline `code()`{{/markdownFix}}
					</td>
				</tr>
				<tr>
					<td>
						<code style="font-size: 80%">```<br>while (true) {<br>&nbsp;&nbsp;// code block<br>}<br>```</code>
					</td>
					<td>
						{{#markdownFix}}```
while (true) {
  // code block
}
```{{/markdownFix}}
					</td>
				</tr>
				<tr>
					<td>
						<code style="font-size: 80%">Go [USI](http://usi.ch/)</code>
					</td>
					<td>
						{{#markdownFix}}Go [USI](http://usi.ch/){{/markdownFix}}
					</td>
				</tr>
				<tr>
					<td>
						<code style="font-size: 80%">* Bulleted<br>* List</code>
					</td>
					<td>
						{{#markdownFix}}* Bulleted
* List{{/markdownFix}}
					</td>
				</tr>
				<tr>
					<td>
						<code style="font-size: 80%">1. Numbered<br>1. List</code>
					</td>
					<td>
						{{#markdownFix}}1. Numbered
1. List{{/markdownFix}}
					</td>
				</tr>
				<tr>
					<td>
						<code style="font-size: 80%">A paragraph.<br>This.<br><br>Paragraph two.</code>
					</td>
					<td>
						{{#markdownFix}}A paragraph.
This.

Paragraph two.
{{/markdownFix}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
