<template name="allPomodoroListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<img width="50" src="/images/pomodoro.png">
			<div class="content">
				Pomodoros
				<div class="sub header">
					{{countCompletedPomodoros _id}} completed and {{countAbortedPomodoros _id}} aborted pomodoros
					in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
		</h1>
		{{#if countPomodoros _id}}
			{{#with getPomodoros _id}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			No pomodoros yet.
		{{/if}}
		<h2>What is a Pomodoro?</h2>
		<p>
			A pomodoro is an uninterrupted 25-minute period of focused work.
		</p>
		<p>
			With Informa's <strong>Pomodoro Timer</strong> users can:
		</p>
		<ul>
			<li>
				Get notified after 25 minutes, with:
				<ul>
					<li>a ringing school bell sound (so you know you're done with work even when working outside Informa)</li>
					<li>a message on top of all your course pages</li>
				</ul>
			</li>
			<li>See the remaining minutes on the left of each page</li>
			<li>Let your peers see your online status as "In Pomodoro", indicating the remaining time (so they won't disturb you until you're done)</li>
			<li>Log your pomodoros, so you can analyze and tune your own study approach</li>
			<li>Specify a goal for each pomodoro, and a topic or lab you want to work on</li>
			<li>Keep track of whether you reached your goal</li>
			<li>Abort a pomodoro&mdash;but only if you really, really have to</li>
		</ul>
		<p>
			Read more about the Pomodoro Technique
			on the <a href="http://pomodorotechnique.com/get-started/">Pomodoro Technique web site</a>
			and this <a href="http://www.mindtools.com/pages/article/pomodoro-technique.htm">Mind Tools article</a>.
		</p>
	</div>
</template>
