<template name="pomodoroAbortModal">
	<div class="abort-pomodoro-modal ui modal">
		{{>pomodoroAbortModalInner}}
	</div>
</template>


<template name="pomodoroAbortModalInner">
	<i class="close icon"></i>
	<div class="header">
		Abort this Pomodoro
	</div>
	<div class="content">
		<div class="image">
			<img class="ui image" src="/images/pomodoro.png">
		</div>
		<div class="description">
			<div class="ui header">A Pomodoro Should Consist of 25 Minutes of Uninterrupted Focused Work</div>

			<form class="ui form">
				<div class="field">
					<label>I need to abort this pomodoro because:</label>
					<input class="reason-field" type="text" placeholder="My reason">
				</div>
			</form>

		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button">Don't abort</div>
		<div class="ui red ok button"><i class="remove icon"></i> Abort</div>
	</div>
</template>
