<template name="pomodoroCompletedCell">
	{{#if ongoing}}
	<i class="circular inverted red wait icon"></i>
	{{else}}
		{{#if aborted}}
			<i class="red remove icon"></i>
		{{else}}
			<i class="green check icon"></i>
		{{/if}}
	{{/if}}
</template>
