<template name="pomodoroSegment">
	{{#if currentUser}}
		{{#with course}}
			{{#if isRegisteredAsAnything _id}}

				{{>pomodoroStartModal}}
				{{>pomodoroAbortModal}}
				{{>pomodoroCompleteModal}}
				{{#unless countOngoingPomodoros}}
					<div class="ui red feature segment">
						<h2 class="ui header">Pomodoro Timer</h2>
						<p>
							<button class="start-pomodoro-button ui red button"><i class="wait icon"></i> Start a Pomodoro</button>
						</p>
						<p>
							A <strong>pomodoro</strong> is a 25-minute uninterrupted period of work.
						</p>
						<p>
							<div class="ui label">
								Completed Pomodoros:
								<div class="detail">{{countCompletedPomodoros}}</div>
							</div>
						</p>
						<p>
							<small>Read more on the <a href="http://pomodorotechnique.com/get-started/">Pomodoro Technique</a>.</small>
						</p>
					</div>
				{{else}}
					<div class="ui red inverted feature segment">
						<h2 class="ui header">Pomodoro Timer</h2>
						{{#with getOngoingPomodoro}}
							{{#if goal}}
							<p>
								<strong>My goal:</strong><br>{{goal}}
							</p>
							{{/if}}
						{{/with}}
						<div class="ui grid">
							<div class="center aligned column">
								<div class="ui inverted statistic">
									<div class="value">
										{{getMinutesLeftInOngoingPomodoro}}
									</div>
									<div class="label">
										Minutes Left
									</div>
								</div>
							</div>
						</div>
						<p>
							&nbsp;
						</p>
						<p>
							Keep working.
							Only abort if you <strong>absolutely have to</strong>.
						</p>
						<p>
							<button class="abort-pomodoro-button ui fluid compact button"><i class="remove icon"></i> Abort Pomodoro</button>
						</p>
					</div>
				{{/unless}}

			{{/if}}
		{{/with}}
	{{/if}}
</template>
