<template name="studentPageLabPane">
  {{#if countOngoingLabs courseId}}
    <h3 class="ui dividing header">
      <div class="content">
        Ongoing Lab
      </div>
    </h3>
    <div class="ui two cards">
      {{#each getOngoingLabs courseId}}
        {{>labCard}}
      {{/each}}
      {{>studentPageLabInfoCard courseId}}
    </div>
  {{else}}
    {{#with getNextLab courseId}}
      <h3 class="ui dividing header">
        <div class="content">
          Next Lab
        </div>
      </h3>
      <div class="ui two cards">
        {{>labCard}}
        {{>studentPageLabInfoCard courseId}}
      </div>
    {{/with}}
  {{/if}}
</template>
