<template name="studentListPage1">
	<div class="ui top attached feature segment">
		{{>courseHeader}}
		<h3 class="ui dividing header">
			<div class="content">
				Students
				<div class="sub header">These are the {{getStudentCountForCourse _id}} students studying in this course.</div>
			</div>
		</h3>
		<table class="ui table">
			<thead>
				<tr>
					<th class="collapsing"></th>
					<th>First</th>
					<th>Last</th>
					{{#if isOnTeachingTeam _id}}
						<th>Email (Verified?)</th>
						<th class="collapsing">Approved</th>
						<th class="right aligned collapsing">Mastery<br>Checks</th>
						<th class="right aligned collapsing">Topics<br>Scheduled</th>
						<th class="right aligned collapsing">Topics<br>Mastered</th>
					{{/if}}
				</tr>
			</thead>
			<tbody>
				{{#each findStudentRegistrationsForCourse _id}}
					<tr>
						{{#with getUser studentId}}
							<td><i class="user icon"></i></td>
							<td><a href="{{pathFor "studentPage" courseId=../courseId _id=../_id}}">{{profile.firstName}}</a></td>
							<td><a href="{{pathFor "studentPage" courseId=../courseId _id=../_id}}">{{profile.lastName}}</a></td>
						{{/with}}
						{{#if isOnTeachingTeam ../_id}}
							<td>
								{{#with getUser studentId}}
									{{#if emails.[0]}}
										{{#if emails.[0].verified}}
											<i class="green check square icon"></i>
										{{else}}
											<i class="red minus circle icon"></i>
										{{/if}}
										{{emails.[0].address}}
									{{/if}}
								{{/with}}
							</td>
							<td>
								{{#if approved}}
									<i class="checkmark icon"></i>
								{{/if}}
							</td>
							<td class="right aligned">{{getMasteryChecksCount courseId studentId}}</td>
							<td class="right aligned">{{getTopicsReadyCount courseId studentId}}</td>
							<td class="right aligned">{{getTopicsMasteredCount courseId studentId}}</td>
						{{/if}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
