<!--
data context:
quiz
quizAttempt
-->
<template name="studentQuizAttemptCard">
	<a class="card" href="{{#if quizAttempt}}{{pathFor 'userQuizAttemptPage' courseId=quiz.courseId userId=quizAttempt.studentId quizAttemptId=quizAttempt._id}}{{else}}{{pathFor 'quizPage' courseId=quiz.courseId quizId=quiz._id}}{{/if}}" style="{{#unless quizAttempt}}background-color: #ffe8e8{{/unless}}">
    	<div class="content">
			<i class="right floated large black checkmark box icon"></i>
      <div class="header">
				{{#if quiz.title}}
					{{quiz.title}}
				{{else}}
					<i>Untitled quiz</i>
				{{/if}}
			</div>
			<div class="description">
				{{quiz.description}}
        <!--
        quiz.courseId: {{quiz.courseId}}
        quizAttempt.studentId: {{quizAttempt.studentId}}
        quizId: {{quiz._id}}
        pathFor 'userQuizAttemptPage': {{pathFor 'userQuizAttemptPage' courseId=quiz.courseId userId=quizAttempt.studentId quizAttemptId=quizAttempt._id}}
        (/course/:courseId/user/:userId/quizAttempt/:quizAttemptId)
        -->
			</div>
		</div>
    <div class="extra content">
      <span>
        {{formatDate quiz.startDate}}
      </span>
      <span class="right floated">
        {{formatTime quiz.startTime}}
      </span>
    </div>
    {{#if quizAttempt}}
  	  <div class="extra content">
				<span>
          Duration:
          <strong>{{getDurationInMinutes quizAttempt.startDate quizAttempt.endDate}}</strong>
          /
          <strong>{{quiz.duration}}</strong>
          min
				</span>
        <span class="right floated">
          <strong>{{countCorrectQuizAttemptItems quizAttempt}}</strong>
          /
          <strong>{{quiz.practiceProblemIds.length}}</strong>
          Points
        </span>
  		</div>
    {{else}}
      <div class="extra content">
        <span>
          Duration:
          <strong>{{quiz.duration}}</strong>
          min
				</span>
        <span class="right floated">
          <i class="warning sign icon"></i> You did not take this quiz
        </span>
      </div>
    {{/if}}
	</a>
</template>
