<!-- data context:
. (studentRegistration)
-->
<template name="studentRegistrationModificationPane">
  <div class="ui attached warning message">
    <h3 class="ui dividing header">
      Modify Student Registration
    </h3>
    <div class="ui grid">

      {{#if isUserNotYetApprovedAsStudent studentId courseId}}
        <div class="four wide column">
          <button class="approve-user-as-student-button fluid blue ui button">Approve as student</button>
        </div>
        <div class="twelve wide column">
          <p>
            This student self-registered for
            {{#with getCourse courseId}}
              <strong>{{abbreviation}} {{instance}}</strong>
            {{/with}}
            on {{formatDate creationDate}}.
            That registration has not been approved yet.
          </p>
          <p>
            To prevent impersonation, you may want to only approve users with a verified university email address corresponding to their name:
          </p>
          <ul class="ui list">
            {{#with getUser studentId}}
              {{#each emails}}
                <div class="item">
                  <i class="mail icon"></i>
                  <div class="content">
                    {{address}}
                    {{#if verified}}
                      <i class="green check square icon"></i> <strong>address verified</strong>
                    {{else}}
                      <i class="red minus circle icon"></i> <strong><emph>address not yet verified!</emph></strong> (ask student to verify)
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            {{/with}}
          </ul>
          <p>
            You can undo this approval.
          </p>
          <p>
            Note: The student has to reload the page for this change to fully affect their view.
          </p>
        </div>
      {{else}}
        <div class="four wide column">
          <button class="undo-approval-user-as-student-button fluid yellow ui button">Undo approval as student</button>
        </div>
        <div class="twelve wide column">
          <p>
            If this student was approved by mistake,
            you can undo this here.
            Students who are not approved do not have access to all information in the course
            (e.g., they cannot see the list of community members).
            You can later approve the student again.
          </p>
          <p>
            Note: The student has to reload the page for this change to fully affect their view.
          </p>
        </div>
      {{/if}}

      {{#unless withdrawn}}
        <div class="four wide column">
          <button class="withdraw-button fluid yellow ui button">Withdraw</button>
        </div>
        <div class="twelve wide column">
          <p>
            You can withdraw this student &mdash;
            {{#with getUser studentId}}
              {{profile.firstName}} {{profile.lastName}}
            {{/with}}
            &mdash; from this course.
            This does <i>not</i> delete any of the student's information.
            You can later undo the withdrawal.
          </p>
        </div>
      {{/unless}}

      {{#if withdrawn}}
        <div class="four wide column">
          <button class="undo-withdrawal-button fluid yellow ui button">Undo Withdrawal</button>
        </div>
        <div class="twelve wide column">
          <p>
            This student had withdrawn from this course on
            {{formatDate withdrawalDate}}.
            You can undo this withdrawal.
            The student will then again show up on the community page.
          </p>
        </div>
      {{/if}}
    </div>
  </div>
</template>
