<template name="studentTopicCheckRow">
	<tr>
		<td>
			{{#with getMasteryCheck masteryCheckId}}
				<a href="{{pathFor 'newMasteryCheckPage' masteryCheckId=_id}}">
					<strong>
						Week {{formatWeekInCourse courseId startDate}}<br>
						{{formatWeekday startDate}}<br>
					</strong>
					{{formatTime startDate}}
				</a>
			{{/with}}
		</td>
		<td>
			{{#with getTopic topicId}}
				{{#with getTheme themeId}}
					<i class="circular inverted {{color}} {{icon}} icon"></i>
				{{/with}}
				<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">{{title}}</a>
			{{/with}}
		</td>
		<td>
			{{#with getUser testerId}}
				{{> userStatusLabel user=this courseId=../courseId}}
			{{/with}}
		</td>
		<td>
			{{#if feedback}}
				<div class="ui warning message">
					{{#markdownFix}}{{feedback}}{{/markdownFix}}
				</div>
			{{/if}}
		</td>
	</tr>
</template>
