<template name="studentPassedChecksPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
			<h2 class="ui dividing header">
				Mastered Topics
				<div class="sub header">
					Topics you demonstrated mastery in
				</div>
			</h2>
			{{#if hasMasteredTopicChecksForCourseAndStudent courseId studentId}}
				<table class="ui table">
					<thead>
						<tr>
							<th>Check</th>
							<th>Topic</th>
							<th>Tester</th>
							<th>Feedback</th>
						</tr>
					</thead>
					<tbody>
						{{#each getMasteredTopicChecksForCourseAndStudent courseId studentId}}
							{{>studentTopicCheckRow}}
						{{/each}}
					</tbody>
				</table>
				<p>
					<strong>Note:</strong>
					While you demonstrated mastery in the topics above,
					we still might have provided some feedback to you.
					Please do not ignore that feedback.
					If we asked you to practice some more, do so.
					We might ask you questions in future mastery checks
					where you again will need to demonstrate mastery
					of some of these skills.
				</p>
			{{else}}
				<h2 class="ui center aligned disabled icon header">
					<i class="trophy icon"></i>
					No Mastered Topics Yet
					{{#unless isOnTeachingTeam courseId}}
						<div class="sub header"><a href="{{pathFor 'masteryCheckPreparationPage' _id=courseId}}">Prepare a Mastery Check</a></div>
					{{/unless}}
				</h2>
			{{/if}}
		{{/if}}
	</div>
</template>
