<template name="studentLastName">
	{{#with findStudentRegistrationByCourseAndUser courseId _id}}
		{{#if ../profile.lastName}}
			<a href="{{pathFor 'userPage' courseId=courseId userId=../_id}}">{{../profile.lastName}}</a>
		{{else}}
			<i><a href="{{pathFor 'userPage' courseId=courseId userId=../_id}}">unknown</a></i>
		{{/if}}
	{{/with}}
</template>
