<template name="studentQuizListPage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
      <h2 class="ui dividing header">
        <div class="content">
          Past Quizzes
          <div class="sub header">You have taken {{countPastQuizzesTaken course._id studentId}} of the {{countPastQuizzes course._id}} past quizzes</div>
        </div>
      </h2>
      {{#if countPastQuizzes course._id}}
        <div class="ui two cards">
          {{#each getPastQuizzes course._id}}
            {{#with getQuizAttempt _id ../studentId}}
              {{>studentQuizAttemptCard quiz=.. quizAttempt=this}}
            {{else}}
              {{>studentQuizAttemptCard quiz=this quizAttempt=null}}
            {{/with}}
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>
