<template name="studentFirstName">
	{{#with findStudentRegistrationByCourseAndUser courseId _id}}
		{{#if ../profile.firstName}}
			<a href="{{pathFor 'userPage' courseId=courseId userId=../_id}}">{{../profile.firstName}}</a>
		{{else}}
			<i><a href="{{pathFor 'userPage' courseId=courseId userId=../_id}}">unknown</a></i>
		{{/if}}
	{{/with}}
</template>
