<template name="studentPageLabInfoCard">
  <div class="ui blue card">
    <div class="content">
      <div class="header">Labs</div>
    </div>
    <div class="content">
      <p>
        Labs are assignments in which you apply and practice the skills.
      </p>
      <h4 class="ui sub header">Information</h4>
      List of <a href="{{pathFor 'labListPage' courseId=courseId}}">all labs</a>
    </div>
  </div>
</template>
