<template name="studentListPage">
	<div class="ui top attached feature segment">
		{{>courseHeader}}
		<h3 class="ui dividing header">
			<div class="content">
				Students
			</div>
		</h3>
		{{#with makeSettings _id}}
			{{#with findUsers ../_id}}
				{{> reactiveTable collection=this settings=..}}
			{{/with}}
		{{/with}}
	</div>
</template>
