<template name="studentPageClassSessionPane">
  {{#if getOngoingClassSession courseId}}
    <h3 class="ui dividing header">
      <div class="content">
        Ongoing Class Session
      </div>
    </h3>
    <div class="ui two cards">
      {{#with getOngoingClassSession courseId}}
        {{>classSessionCard}}
      {{/with}}
      {{>studentPageClassSessionInfoCard courseId}}
    </div>
  {{else}}
    {{#with getNextClassSession courseId}}
      <h3 class="ui dividing header">
        <div class="content">
          Next Class Session
        </div>
      </h3>
      <div class="ui two cards">
        {{>classSessionCard}}
        {{>studentPageClassSessionInfoCard courseId}}
      </div>
    {{/with}}
  {{/if}}
</template>
