<!--
data context:
lab
user
labTeam
-->
<template name="userLabCard">
	<a class="card" href="{{#if labTeam}}{{pathFor 'userLabPage' courseId=lab.courseId userId=user._id labId=lab._id}}{{else}}{{pathFor 'labPage' courseId=lab.courseId labId=lab._id}}{{/if}}" style="{{#unless labTeam}}background-color: #ffe8e8{{/unless}}">
    	<div class="content">
			<i class="right floated large black lab icon"></i>
      <div class="header">
				{{#if lab.title}}
					{{lab.title}}
				{{else}}
					<i>Untitled lab</i>
				{{/if}}
			</div>
			<div class="description">
				{{lab.description}}
			</div>
		</div>
    <div class="extra content">
      <span>
        {{formatDate lab.deadlineDate}}
      </span>
      <span class="right floated">
        {{formatTime lab.deadlineDate}}
      </span>
    </div>
    {{#if labTeam}}
  	  <div class="extra content">
				<span>
          {{#each labTeam.memberIds}}
  					{{#with getUser this}}
  						{{> userStatusLabel user=this courseId=../../labTeam.courseId}}
  					{{/with}}
  				{{/each}}
        </span>
  		</div>
    {{else}}
      <div class="extra content">
        <span>
          ...
				</span>
        <span class="right floated">
          <i class="warning sign icon"></i> You did not do this lab
        </span>
      </div>
    {{/if}}
	</a>
</template>
