<!--
data context: theme
-->
<template name="themePage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{color}} {{icon}} icon"></i>
			<div class="content">
				{{#if title}}
					{{title}}
				{{else}}
					<i>Untitled theme</i>
				{{/if}}
				<div class="sub header">{{description}}</div>
			</div>
		</h1>
		{{#if isRegisteredAsInstructor courseId}}
			<div class="top right attached ui blue label">
				<a href="{{pathFor 'themeEditPage' courseId=courseId themeId=_id}}"><i class="ui edit icon"></i> Edit</a>
			</div>
		{{/if}}
		{{#if isOnTeachingTeam courseId}}
			{{>themeStatusPanel}}
		{{/if}}
		<p class="ui {{color}} ribbon label"><strong>Why</strong> master these topics?</p>
		<p>{{#markdownFix}}{{why}}{{/markdownFix}}</p>
		<h3 class="ui dividing header">
			Topics
			<div class="sub header">This theme includes the following {{getTopicCountForTheme _id}} topics.</div>
		</h3>
		<div id="topic-card-container" class="ui two cards">
			{{#each getTopicsForTheme _id}}
				{{>topicCard}}
			{{/each}}
		</div>
		{{#each getTopicsForTheme _id}}
		{{else}}
			<p>No topics yet.</p>
		{{/each}}
	</div>
</template>
