<template name="themeListEditPage">
	<div class="ui top attached feature segment">

		<h1 class="ui dividing header">
			<i class="theme icon"></i>
			<div class="content">
				Themes
				<div class="sub header">Course Information and Themes in {{course.abbreviation}} {{course.instance}}</div>
			</div>
		</h1>

		<h2>Edit Course Information</h2>
		<form class="ui form">
			<div class="two fields">
				<div class="field">
					<label>Abbreviation:</label>
					<input type="text" name="abbreviation" placeholder="E.g., CS1" value="{{course.abbreviation}}">
				</div>
				<div class="field">
					<label>Instance:</label>
					<input type="text" name="instance" placeholder="E.g., 2016" value="{{course.instance}}">
				</div>
			</div>
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" placeholder="Course title" value="{{course.title}}">
			</div>
			<div class="field">
				<label>Description:</label>
				<input type="text" name="description" placeholder="Course description" value="{{course.description}}">
			</div>
			<div class="field">
				<label>Overview:</label>
				{{>markdownLabel}}
				<textarea name="overview" class="introduction-field">{{course.overview}}</textarea>
			</div>
			<div class="field">
				<label>Logo URL:</label>
				<input type="text" name="logoUrl" placeholder="URL of course logo/image" value="{{course.logoUrl}}">
			</div>
			<div class="three fields">
				<div class="field">
					<label>Mastery Checks:</label>
					<div class="ui toggle checkbox useMasteryChecks-checkbox">
						<input type="checkbox" name="useMasteryChecks" checked="{{course.useMasteryChecks}}">
						<label>Use Mastery Checks</label>
					</div>
				</div>
				<div class="field">
					<label>&nbsp;</label>
					<div class="ui toggle checkbox masteryChecksDetermineGrade-checkbox">
						<input type="checkbox" name="masteryChecksDetermineGrade" checked="{{course.masteryChecksDetermineGrade}}">
						<label>Determine Grade</label>
					</div>
				</div>
				<div class="field">
					<label>Max. Topics per Check:</label>
					<input type="text" name="maxTopicsPerMasteryCheck" placeholder="E.g., 4" value="{{course.maxTopicsPerMasteryCheck}}">
				</div>
			</div>
			<div class="field">
				<label>Quizzes:</label>
				<div class="ui toggle checkbox useQuizzes-checkbox">
					<input type="checkbox" name="useQuizzes" checked="{{course.useQuizzes}}">
					<label>Use Quizzes</label>
				</div>
			</div>
			<div class="three fields">
				<div class="field">
					<label>Status:</label>
					<div class="ui toggle checkbox visible-checkbox">
						<input type="checkbox" name="visible" checked="{{course.visible}}">
						<label>Listed</label>
					</div>
				</div>
				<div class="field">
					<label>&nbsp;</label>
					<div class="ui toggle checkbox openForRegistration-checkbox">
						<input type="checkbox" name="openForRegistration" checked="{{course.openForRegistration}}">
						<label>Open for Registration</label>
					</div>
				</div>
				<div class="field">
					<label>&nbsp;</label>
					<div class="ui toggle checkbox ended-checkbox">
						<input type="checkbox" name="ended" checked="{{course.ended}}">
						<label>Ended</label>
					</div>
				</div>
			</div>
			<div class="three fields">
				<div class="field">
					<label>Start Date:</label>
					<div class="ui icon input">
						<i class="calendar icon"></i>
						<input class="datepicker startDate" type="text" name="startDate" data-value="{{formatDateForPickadate course.startDate}}">
					</div>
				</div>
				<div class="field">
					<label>End Date:</label>
					<div class="ui icon input">
						<i class="calendar icon"></i>
						<input class="datepicker endDate" type="text" name="endDate" data-value="{{formatDateForPickadate course.endDate}}">
					</div>
				</div>
				<div class="field">
					<label>Duration:</label>
					<input class="duration" type="text" readOnly name="duration" value="?">
				</div>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>

		<h2>Edit List of Themes</h2>
		<div class="ui celled list">
			{{#each themes}}
				<div class="item">
					<button class="remove-theme-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor "themeEditPage" courseId=courseId themeId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="circular inverted {{color}} {{icon}} icon"></i>
					<div class="content">
						<div class="header">
							<a href="{{pathFor 'themePage' courseId=courseId themeId=_id}}">
								{{#if title}}
									{{title}}
								{{else}}
									<i>Untitled theme</i>
								{{/if}}
							</a>
						</div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each themes}}
		{{else}}
			<p>
				This course does not yet have any themes.
			</p>
		{{/each}}
		<p>
			<button class="add-theme-button compact green ui button"><i class="plus icon"></i> Add Theme</button>
		</p>
	</div>
</template>
