<template name="connectionStatusIndicator">
  {{#with getStatus}}
    {{#unless connected}}
      <span class="item element-with-popup" data-title="{{status}}" data-content="There is a problem with your connection. Do NOT reload your page, or you might lose your last few changes!">
        <i class="red signal icon"></i>
        {{#if equals status "waiting"}}
          Waiting {{seconds}} s.
          Tried {{retryCount}} times.
          <button class="red small compact ui button retryNowButton">Retry Now</button>
        {{else}}
          {{#if equals status "connecting"}}
            Reconnecting...
            Tried {{retryCount}} times.
          {{else}}
            {{#if equals status "failed"}}
              Failed: {{reason}}
            {{else}}
              {{status}}.
            {{/if}}
          {{/if}}
        {{/if}}
      </span>
    {{/unless}}
  {{/with}}
</template>
