<template name="header">
	<nav class="ui menu">
		<div class="header item">
			<a href="{{pathFor 'home'}}"><img class="ui centered image" height="14" src="/images/InformaBrain.png"></a>
		</div>
		<a class="{{isActiveRoute '^courseListPage'}} item" href="{{pathFor 'courseListPage'}}">Courses</a>
		{{#if course}}
  		<a class="item" href="/course/{{course._id}}">
  			{{course.abbreviation}} {{course.instance}}
  		</a>
		{{/if}}
		<div class="right menu">
			{{#if currentUser}}
  			<!--<div class="header item">{{getUserStatusInfo}}</div>-->
  			{{#if isAdmin}}
    			<div class="header item">Admin:</div>
    			<a class="{{isActiveRoute 'adminCourseListPage'}} item" href="{{pathFor 'adminCourseListPage'}}">Courses</a>
    			<a class="{{isActiveRoute 'adminUserListPage|adminUserPage'}} item" href="{{pathFor 'adminUserListPage'}}">Users</a>
					<a class="{{isActiveRoute 'adminDashboardPage'}} item" href="{{pathFor 'adminDashboardPage'}}">Dashboard</a>
  			{{/if}}
  			<span class="vertically fitted item" style="{padding-top:1px}">
  				<a href="{{pathFor 'profilePage'}}">
  					<img class="ui avatar image" src="{{gravatarUrl}}">
  					{{currentUserEmail}}
  				</a>
  				{{#if impersonating}}
    				&nbsp;
    				<button class="red small compact ui button stopImpersonating"><i class="user icon"></i>Stop Impersonating</button>
  				{{/if}}
  			</span>
			{{/if}}
			{{> atNavButton}}
      {{> connectionStatusIndicator}}
		</div>
	</nav>
</template>
