<template name="clickablePracticeProblemTitle">
	<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}">
		{{#if title}}
			{{title}}
		{{else}}
			<i>no title</i>
		{{/if}}
	</a>
	{{#if clonedFromPracticeProblemId}}
		<i class="copy icon"></i>
	{{/if}}
</template>
