<template name="coursePracticeProblemListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="university icon"></i>
			<div class="content">
				Community Practice Problems
				<div class="sub header">
					The community published
					{{countPracticeProblems courseId}} practice problems in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
		</h1>
		{{#if countPracticeProblems courseId}}
			<p>
				These are <b>all</b> the practice problems
				the students and teaching team published for this course.
				Go to the various topic pages of the course
				to see the subset of practice problems relevant for that topic.
			</p>
			{{#with findPracticeProblems courseId}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			<p>
				There currently are no published practice problems in this course.
			</p>
		{{/if}}
	</div>
</template>
