<template name="editPracticeProblemPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		{{>topicPageMenu}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>topicPracticeProblemMenu}}
	</div>
	<div class="ui top attached info message">
		<h3 class="ui dividing header">
			Edit Practice Problem
		</h3>
		{{#unless practiceProblem.published}}
			{{#unless practiceProblem.archived}}
				This practice problem is not yet visible to your peers.
				You can save and edit it as many times as you want, until you are happy with it.
				To make it visible to your peers, you have to save and then <i>publish</i> it.
			{{/unless}}
		{{/unless}}
	</div>
	<div class="ui attached warning message">
		<p>
			A practice problem should help others practice one or more of the skills of this topic.
			Please formulate it in a positive tone.
		</p>
	</div>
	<div class="ui attached feature segment">
		<form class="ui form">
			<div class="ui grid">
				<div class="one wide column">
					<i class="big bullseye icon"></i>
				</div>
				<div class="fifteen wide column">
					<h3 class="ui header">
						<div class="content">
							Skills
							<div class="sub header">Which skills does your practice problem cover? Check all that apply.</div>
						</div>
					</h3>
					<div class="field">
						<div class="ui celled list">
							{{#each getSkillsByTopic topic._id}}
								<div class="item">
									<div class="right floated compact {{#if containsElement ../practiceProblem.skillIds _id}}green active{{/if}} icon ui button skill-toggle-button" name="{{_id}}"><i class="check icon"></i></div>
									<i class="bullseye icon"></i>
									<div class="content">
										<div class="header">{{title}}</div>
										<div class="description">{{#markdownFix}}{{description}}{{/markdownFix}}</div>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="one wide column">
					<i class="big announcement icon"></i>
				</div>
				<div class="fifteen wide column">
					<h3 class="ui header">
						<div class="content">
							Title
							<div class="sub header">Use a very short title that clearly describes the problem.</div>
						</div>
					</h3>
					<div class="field">
						<input type="text" name="title" placeholder="Short title" value="{{practiceProblem.title}}">
					</div>
				</div>
				<div class="one wide column">
					<i class="big help circle icon"></i>
				</div>
				<div class="fifteen wide column">
					<h3 class="ui header">
						<div class="content">
							Question
							<div class="sub header">Make sure your question is very clear.</div>
						</div>
					</h3>
					<div class="field">
						{{>markdownLabel}}
						<textarea name="question" placeholder="Write your question">{{practiceProblem.question}}</textarea>
					</div>
				</div>
				<div class="one wide column">
					<i class="big check circle icon"></i>
				</div>
				<div class="fifteen wide column">
					<h3 class="ui header">
						<div class="content">
							Choices
							<div class="sub header">
								Fill in at least two choices, and select all the correct ones.
							</div>
						</div>
					</h3>
					{{#each practiceProblem.choices}}
						<div class="ui grid choice-container">
							<div class="four wide center aligned column">
								<div class="ui statistic">
									<div class="label">
										Choice
									</div>
									<div class="value">
										{{label}}
									</div>
									<div class="ui toggle button choice-toggle-button {{activeIfTrue isCorrect}}" name="{{label}}">
										{{#if isCorrect}}
											<i class="checkmark icon"></i> Correct
										{{else}}
											<i class='minus icon'></i> Wrong
										{{/if}}
									</div>
								</div>
							</div>
							<div class="twelve wide column">
								<div class="field">
									{{>markdownLabel}}
									<textarea class="choice-text" placeholder="Describe this choice">{{text}}</textarea>
								</div>
							</div>
						</div>
					{{/each}}
				</div>
				<div class="one wide column">
					<i class="big info circle icon"></i>
				</div>
				<div class="fifteen wide column">
					<h3 class="ui header">
						<div class="content">
							Explanation
							<div class="sub header">
								Help those who answer your question incorrectly to understand their mistakes.
							</div>
						</div>
					</h3>
					<div class="field">
						<p>
							Your explanation is very important.
							Consider providing an explanation for each distractor of your question
							(i.e., for each incorrect choice, explain why it is incorrect).
						</p>
						{{>markdownLabel}}
						<textarea name="explanation" placeholder="Explain how to solve the problem">{{practiceProblem.explanation}}</textarea>
					</div>
				</div>
				<div class="one wide column">
				</div>
				<div class="fifteen wide column">
					<button class="ui blue submit button">Save</button>
				</div>
			</div>
		</form>
	</div>
</template>
