<template name="practiceProblemEditButton">
	{{#unless published}}
		{{#unless archived}}
			<a href="{{pathFor 'editPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}" class="compact blue icon ui button"><i class="edit icon"></i></a>
		{{/unless}}
	{{/unless}}
</template>
