<template name="practiceProblemTopic">
	{{#with getTopic topicId}}
		{{#with getTheme themeId}}
			<i class="circular inverted {{color}} {{icon}} icon"></i>
		{{/with}}
		{{title}}
	{{/with}}
</template>
