<template name="practiceProblemTopicAndTitle">
  {{#with getTopic topicId}}
    {{title}}
  {{/with}}
  <br>
	<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}">
		{{#if title}}
			<strong>{{title}}</strong>
		{{else}}
			<i>no title</i>
		{{/if}}
	</a>
</template>
