<template name="solvePracticeProblemPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		<h2 class="ui dividing header">
			{{practiceProblem.title}} - Practice Problem
		</h2>
		{{#unless practiceProblem.published}}
			<div class="ui info message">
				This practice problem has not yet been published.
				It will only become visible to your peers after you <i>publish</i> it.
			</div>
		{{/unless}}
		{{#if practiceProblem.archived}}
			<div class="ui warning message">
				This problem has already been archived.
				Your peers cannot solve it anymore.
			</div>
		{{/if}}
		{{#markdownFix}}{{practiceProblem.question}}{{/markdownFix}}
		{{#each practiceProblem.choices}}
			<div class="ui grid choice-container">
				<div class="four wide center aligned column">
					<div class="ui statistic">
						<div class="label">
							Choice
						</div>
						<div class="value">
							{{label}}
						</div>
						<div class="ui toggle button choice-toggle-button {{activeIfTrue isCorrect}}" name="{{label}}">
							{{#if isCorrect}}
								<i class="checkmark icon"></i> Correct
							{{else}}
								<i class='minus icon'></i> Wrong
							{{/if}}
						</div>
					</div>
				</div>
				<div class="twelve wide column">
					{{#markdownFix}}{{text}}{{/markdownFix}}
				</div>
			</div>
		{{/each}}
	</div>
</template>
