<template name="studentPracticeProblemMenu">
	<div class="ui secondary  menu">
		<a class="{{isActiveRoute "studentUnsolvedPracticeProblemListPage"}} item" href="{{pathFor 'studentUnsolvedPracticeProblemListPage' courseId=courseId _id=_id}}">
			<i class="file outline icon"></i> Unsolved
			<div class="floating ui teal label">{{countStudentUnsolvedPracticeProblems studentId}}</div>
		</a>
		<a class="{{isActiveRoute "studentSolvedPracticeProblemListPage"}} item" href="{{pathFor 'studentSolvedPracticeProblemListPage' courseId=courseId _id=_id}}">
			<i class="file excel outline icon"></i> Solved
			<div class="floating ui teal label">{{countStudentSolvedPracticeProblems studentId}}</div>
		</a>
		<a class="{{isActiveRoute "studentOwnPracticeProblemListPage"}} item" href="{{pathFor 'studentOwnPracticeProblemListPage' courseId=courseId _id=_id}}">
			<i class="user icon"></i> Own
			<div class="floating ui teal label">{{countStudentOwnPublishedUnarchivedPracticeProblems studentId}}</div>
		</a>
	</div>
</template>
