<template name="studentUnsolvedPracticeProblemListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>studentPracticeProblemMenu}}
		<h3 class="ui dividing header">Practice Problems I Could Solve</h3>
		{{#if countStudentUnsolvedPracticeProblems studentId}}
			{{#with findStudentUnsolvedPracticeProblems studentId}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			There currently are no practice problems you could solve.
			Why not <a href="{{pathFor 'studentOwnPracticeProblemListPage' courseId=course._id _id=_id}}">create your own</a>?
		{{/if}}
	</div>
</template>
