<template name="studentSolvedPracticeProblemListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>studentPracticeProblemMenu}}
		<h3 class="ui dividing header">Practice Problems Solved by Me</h3>
		{{#if countStudentPracticeProblemSolutions studentId}}
			{{#with findStudentPracticeProblemSolutions studentId}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			You have not yet solved any practice problems.
			Why not <a href="{{pathFor 'studentUnsolvedPracticeProblemListPage' courseId=course._id _id=_id}}">solve one</a>?
		{{/if}}
	</div>
</template>
