<template name="topicUnsolvedPracticeProblemListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		{{>topicPageMenu}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>topicPracticeProblemMenu}}
		<h3 class="ui dividing header">
			<div class="content">
				Practice Problems You Could Solve
				<div class="sub header">
					On topic "{{topic.title}}"
				</div>
			</div>
		</h3>
		{{#if countUnsolvedPracticeProblems topic._id}}
			{{#with findUnsolvedPracticeProblems topic._id}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			There currently are no practice problems you could solve for this topic.
			Why not <a href="{{pathFor 'topicOwnPracticeProblemListPage' courseId=course._id topicId=topic._id}}">create your own</a>?
		{{/if}}
	</div>
</template>
