<template name="ttPracticeProblemsPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="university icon"></i>
			<div class="content">
				Teaching Team Practice Problems
				<div class="sub header">
					The teaching team created {{countUnarchivedTeachingTeamPracticeProblems courseId}} practice problems in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
		</h1>
		{{#if countUnarchivedTeachingTeamPracticeProblems courseId}}
			{{#with findUnarchivedTeachingTeamPracticeProblems courseId}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			<p>
				There currently are no practice problems created by the teaching team.
			</p>
		{{/if}}
	</div>
</template>
