<template name="viewPracticeProblemPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		{{>topicPageMenu}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>topicPracticeProblemMenu}}
	</div>
	<div class="ui top attached info message">
		{{#if isOnTeachingTeam courseId}}
			<div class="sixteen wide column">
				<h4 class="ui header">&nbsp;</h4>
			</div>
			<div class="ui grid">
				<div class="four wide column">
					{{#if practiceProblem.featured}}
						<button class="unfeature-practice-problem-button fluid compact yellow labeled icon ui button"><i class="ui checkmark icon"></i> Featured</button>
					{{else}}
						<button class="feature-practice-problem-button fluid compact labeled icon ui button"><i class="ui checkmark icon"></i> Not Featured</button>
					{{/if}}
				</div>
				<div class="twelve wide column">
					<p>
						Featured problems are directly listed on the topic page,
						so chances are high that students will solve them.
						Pick a set of the best problems that together cover the skills of the topic.
					</p>
				</div>
			</div>
		{{/if}}
		{{#if isMine practiceProblem.userId}}
			<div class="sixteen wide column">
				<h4 class="ui header">&nbsp;</h4>
			</div>
			{{#if practiceProblem.published}}
				<div class="top left attached teal ui label">
					<i class="ui unhide icon"></i> Published
				</div>
			{{/if}}
			{{#if practiceProblem.archived}}
				<div class="top right attached red ui label">
					<i class="ui minus icon"></i> Archived
				</div>
			{{/if}}
			<div class="ui grid">
				{{#if practiceProblem.published}}
					{{#if practiceProblem.archived}}
						<div class="four wide column">
							<button class="clone-practice-problem-button fluid compact green labeled icon ui button"><i class="ui edit icon"></i> Clone</button>
						</div>
						<div class="twelve wide column">
							<p>
								This practice problem has been published and archived.
								You cannot edit it anymore, but you can <i>clone</i> it and edit the clone.
							</p>
						</div>
					{{else}}
						<div class="four wide column">
							<button class="clone-practice-problem-button fluid compact green labeled icon ui button"><i class="ui edit icon"></i> Clone</button>
						</div>
						<div class="twelve wide column">
							<p>
								This practice problem has been published.
								You cannot edit it anymore, but you can <i>clone</i> it and edit the clone.
								Cloning will automatically archive the original.
							</p>
						</div>
					{{/if}}
				{{else}}
					{{#if practiceProblem.archived}}
						<div class="four wide column">
							<button class="clone-practice-problem-button fluid compact green labeled icon ui button"><i class="ui edit icon"></i> Clone</button>
						</div>
						<div class="twelve wide column">
							<p>
								This practice problem has been archived.
								You cannot edit it anymore, but you can <i>clone</i> it and edit the clone.
							</p>
						</div>
					{{else}}
						<div class="four wide column">
							<a class="fluid compact blue labeled icon ui button" href="{{pathFor 'editPracticeProblemPage' courseId=courseId topicId=topic._id practiceProblemId=practiceProblem._id}}"><i class="ui edit icon"></i> Edit</a>
						</div>
						<div class="twelve wide column">
							<p>
								This practice problem is not yet visible to your peers.
								Feel free to <i>edit</i> it until you are happy with it.
							</p>
						</div>
						<div class="four wide column">
							<button class="publish-practice-problem-button fluid compact teal labeled icon ui button"><i class="unhide icon"></i> Publish</button>
						</div>
						<div class="twelve wide column">
							<p>
								To make it visible to your peers, you have to <i>publish</i> it.
							</p>
						</div>
					{{/if}}
				{{/if}}
				{{#unless practiceProblem.archived}}
					<div class="four wide column">
						<button class="archive-practice-problem-button fluid compact red labeled icon ui button"><i class="minus icon"></i> Archive</button>
					</div>
					<div class="twelve wide column">
						<p>
							You cannot delete a problem. But you can <i>archive</i> it.
							This way your peers will not see it
							(except for those who already solved it).
						</p>
					</div>
				{{/unless}}
			</div>
		{{else}}
			{{#if mySolution practiceProblem._id}}
				{{#with mySolution practiceProblem._id}}
					{{#if feedbackDate}}
						You solved this problem
						{{formatDateFromNow createdDate}}.
					{{else}}
						Thanks for the solution.
						Please check whether your solution (green buttons)
						corresponds to the author's expectation (light green backgrounds).
						Read the explanation provided by the author.
						Then please rate the problem and provide feedback!
					{{/if}}
				{{/with}}
			{{else}}
					Please pick all the correct choices and then submit.
			{{/if}}
		{{/if}}
	</div>

	{{#if practiceProblem.published}}
		<div class="ui attached segment">
			<div class="ui grid">
				<div class="six wide column">
					<table>
						{{#if isOnTeachingTeam courseId}}
							<tr>
								<td>Author:&nbsp;&nbsp;</td>
								<td>
									{{#with getUser practiceProblem.userId}}
										{{> userStatusLabel user=this courseId=../practiceProblem.courseId}}
									{{/with}}
								</td>
							</tr>
						{{/if}}
						<tr>
							<td>Created:&nbsp;&nbsp;</td>
							<td><strong>{{formatDateFromNow practiceProblem.createdDate}}</strong></td>
						</tr>
						<tr>
							<td>Solutions:&nbsp;&nbsp;</td>
							<td><strong>{{>practiceProblemSolutionCount practiceProblem}}</strong></td>
						</tr>
						<tr>
							<td>Comments:&nbsp;&nbsp;</td>
							<td>
								<strong>{{>practiceProblemCommentCount practiceProblem}}</strong>
								{{#if isMineOrHaveSolved practiceProblem.userId practiceProblem._id}}
									&mdash;
									<a href="#comments">See comments</a>
								{{/if}}
							</td>
						</tr>
					</table>
				</div>
				<div class="five wide column">
					Quality: <strong>{{>practiceProblemQualityRating practiceProblem}}</strong>
					{{>practiceProblemQualityHistogram practiceProblem}}
				</div>
				<div class="five wide column">
					Difficulty: <strong>{{>practiceProblemDifficultyRating practiceProblem}}</strong>
					{{>practiceProblemDifficultyHistogram practiceProblem}}
				</div>
			</div>
		</div>
	{{/if}}

	{{#if practiceProblem.skillIds}}
		<div class="ui attached secondary segment">
			<h3 class="ui header">
				<div class="content">
					Skills
					<div class="sub header">This problem helps to practice the following skills.</div>
				</div>
			</h3>
			<div class="ui list">
				{{#each practiceProblem.skillIds}}
					{{#with getSkill this}}
						<div class="item">
							<i class="bullseye icon"></i>
							<div class="content">
								<div class="header">{{title}}</div>
								<div class="description">{{#markdownFix}}{{description}}{{/markdownFix}}</div>
							</div>
						</div>
					{{/with}}
				{{/each}}
			</div>
		</div>
	{{/if}}
	<div class="ui attached feature segment">
		<h2 class="ui dividing header">{{practiceProblem.title}}{{#if practiceProblem.clonedFromPracticeProblemId}} <i class="copy icon" style="font-size: 80%;"></i>{{/if}}</h2>
		{{#markdownFix}}{{practiceProblem.question}}{{/markdownFix}}
		{{#each practiceProblem.choices}}
			{{#if text}}
				<div class="ui divider"></div>
				<div class="ui {{#unless allowedToSolve ../practiceProblem.userId ../practiceProblem._id}}{{#if isCorrect}}tertiary inverted green{{/if}}{{/unless}} basic segment choice-container">
					<div class="ui grid">
						<div class="four wide center aligned column">
							<div class="ui statistic">
								<div class="label">
									Choice
								</div>
								<div class="value">
									{{label}}
								</div>
								{{#if allowedToSolve ../practiceProblem.userId ../practiceProblem._id}}
									<div class="ui toggle button choice-toggle-button" name="{{label}}">
										<i class='minus icon'></i> Wrong
									</div>
								{{else}}
									{{#if mySolution ../practiceProblem._id}}
										{{#with mySolution ../practiceProblem._id}}
											<div class="ui toggle button {{activeIfFieldTrue selectedChoices ../label}}" name="{{../label}}">
												{{#if isFieldTrue selectedChoices ../label}}
													<i class="checkmark icon"></i> Correct
												{{else}}
													<i class='minus icon'></i> Wrong
												{{/if}}
											</div>
										{{/with}}
									{{else}}
										<!-- I have not solved, and I am not allowed to solve => this is my own problem-->
										<div class="ui toggle button {{activeIfTrue isCorrect}}" name="{{label}}">
											{{#if isCorrect}}
												<i class="checkmark icon"></i> Correct
											{{else}}
												<i class='minus icon'></i> Wrong
											{{/if}}
										</div>
									{{/if}}
								{{/if}}
							</div>
						</div>
						<div class="twelve wide column">
							{{#markdownFix}}{{text}}{{/markdownFix}}
						</div>
					</div>
				</div>
			{{/if}}
		{{/each}}
		<div class="ui divider"></div>
		{{#if allowedToSolve practiceProblem.userId practiceProblem._id}}
			<button class="submit-practice-problem-solution-button ui blue submit button">Submit my Solution</button>
		{{/if}}
		{{#if isMineOrHaveSolved practiceProblem.userId practiceProblem._id}}
			<h3>Explanation</h3>
			{{#markdownFix}}{{practiceProblem.explanation}}{{/markdownFix}}
		{{/if}}
	</div>
	{{#if mySolution practiceProblem._id}}
		{{#with mySolution practiceProblem._id}}
			{{#unless feedbackDate}}
				<div class="ui attached info message">
					<h3>Please Rate This Problem</h3>
					<p>
						Your rating helps others to find the best problems to solve,
						and it may help the author to fix or improve the problem.
					</p>
					<div class="ui form">
						<div class="ui grid">
							<div class="two wide column">
								<strong>Difficulty:</strong>
							</div>
							<div class="fourteen wide column">
								<div class="green ui inverted buttons">
								  <div class="ui inverted button difficulty-button" name="0">Easy</div>
								  <div class="ui inverted button difficulty-button" name="1">Medium</div>
								  <div class="ui inverted button difficulty-button" name="2">Hard</div>
								</div>
							</div>
							<div class="two wide column">
								<strong>Quality:</strong>
							</div>
							<div class="fourteen wide column">
								<div class="blue ui inverted buttons">
									<div class="ui inverted button quality-button" name="0">Very Poor</div>
									<div class="ui inverted button quality-button" name="1">Poor</div>
								  <div class="ui inverted button quality-button" name="2">Fair</div>
									<div class="ui inverted button quality-button" name="3">Good</div>
									<div class="ui inverted button quality-button" name="4">Very Good</div>
									<div class="ui inverted button quality-button" name="5">Excellent</div>
								</div>
							</div>
							<div class="two wide column">
								<strong>Comment:</strong>
							</div>
							<div class="fourteen wide column">
								<div class="field">
									<textarea class="comment-field" name="comment" placeholder="Write a comment"></textarea>
								</div>
							</div>
						</div>
						<div class="ui divider"></div>
						<button class="submit-practice-problem-feedback-button ui blue submit button">Submit my Feedback</button>
					</div>
				</div>
			{{/unless}}
		{{/with}}
	{{/if}}
	{{#if myProblemOrMySolution practiceProblem}}
		<div class="ui attached info message">
			<a id="comments"></a>
			<h3>Comments</h3>
			<p>
				A comment on the problem and its explanation can be provided after solving the problem.
			</p>
			<div class="ui comments">
				{{#each getSolutions practiceProblem._id}}
					{{#if comment}}
						<div class="comment">
							<div class="content">
									<a class="author">{{#if isMe userId}}Me{{else}}Someone{{/if}}</a>
									<div class="metadata">
									<div class="date">
										{{formatDateFromNow feedbackDate}}
									</div>
									<div class="rating">
										<i class="thumbs up icon"></i> {{getArrayLength commentAgreeingUserIds}}
									</div>
									<div class="rating">
										<i class="thumbs down icon"></i> {{getArrayLength commentDisagreeingUserIds}}
									</div>
								</div>
								<div class="text">
									{{comment}}
								</div>
								{{#unless isMe userId}}
									<div class="actions">
										{{#if containsMe commentAgreeingUserIds}}
											<i class="thumbs up icon"></i> Agree&nbsp;&nbsp;&nbsp;&nbsp;
										{{else}}
											<a class="agree-with-comment-link"><i class="thumbs outline up icon"></i> Agree</a>
										{{/if}}
										{{#if containsMe commentDisagreeingUserIds}}
											<i class="thumbs down icon"></i> Disagree&nbsp;&nbsp;&nbsp;&nbsp;
										{{else}}
											<a class="disagree-with-comment-link"><i class="thumbs outline down icon"></i> Disagree</a>
										{{/if}}
									</div>
								{{/unless}}
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	{{/if}}
</template>
