<template name="studyTaskPageMenu">
  {{#if isOnTeachingTeam courseId}}
    <div class="ui attached feature segment">
    	<div class="ui secondary  menu">
    		<a class="{{isActiveRoute "studyTaskPage"}} item" href="{{pathFor 'studyTaskPage' courseId=courseId studyTaskId=studyTask._id}}">
    			<i class="home icon"></i> Show
    		</a>
        <a class="{{isActiveRoute "studyTaskRecallsPage"}} item" href="{{pathFor 'studyTaskRecallsPage' courseId=courseId studyTaskId=studyTask._id}}">
          <i class="quote right icon"></i> Recalls
    		</a>
    	</div>
    </div>
  {{/if}}
</template>
