<template name="studyTaskPage">
	{{>studyTaskPageHeader}}
	{{>studyTaskPageMenu}}

	{{#if equals studyTask.kind "Textbook"}}
		<div class="ui attached feature segment">
			<h3 class="ui header">Sections</h3>
			<p>
				Read and recall the following sections of
				{{#with getChapter studyTask.detail.chapterId}}
				<a href="{{pathFor 'chapterPage' courseId=courseId bookId=bookId chapterId=_id}}">Chapter {{number}} '{{title}}'</a>
				{{/with}}
				in
				{{#with getBook studyTask.detail.bookId}}
				<a href="{{pathFor 'bookPage' courseId=courseId bookId=_id}}">{{title}}</a>.
				{{/with}}
			</p>
			<div class="ui celled list">
				{{#each studyTask.detail.sectionIds}}
					{{#with getSection .}}
						<div class="item">
							<a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=_id}}"><div class="right floated compact ui button">More...</div></a>
							{{#if getOwnSectionStatus _id}}
								<i class="right floated big green check circle icon"></i>
							{{else}}
								{{#if duration}}
									<span class="right floated ui disabled compact basic button"><i class="clock icon"></i>{{duration}} min</span>
								{{/if}}
							{{/if}}
							<i class="book icon"></i>
							<div class="content">
								<a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=_id}}">Section {{number}}</a>
								<div class="header"><a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=_id}}">{{title}}</a></div>
							</div>
						</div>
					{{/with}}
				{{/each}}
			</div>
			{{#each studyTask.detail.sectionIds}}
			{{else}}
				<p>
					This study task does not yet have any sections to read.
				</p>
			{{/each}}
		</div>
	{{else}}
		{{#if equals studyTask.kind "ClassSession"}}
			<div class="ui attached feature segment">
				{{#with getClassSession studyTask.detail.classSessionId}}
					<div class="ui two cards">
						{{>classSessionCard}}
					</div>
				{{/with}}
			</div>
		{{else}}
				<!-- Neither "Textbook" nor "ClassSession", so track status -->
				{{#if isRegisteredAsAnything course._id}}
					<div class="ui attached secondary feature segment">
						{{#with getOwnStatusOrNullObject studyTask._id}}
							<div class="ui ordered steps">
							  <div class="{{prepareState this}} step">
							    <div class="content">
							      <div class="title">Prepare</div>
							      <div class="description">Get ready to study</div>
							    </div>
							  </div>
							  <div class="{{studyState this}} step">
							    <div class="content">
							      <div class="title">Study</div>
							      <div class="description">Work through the task</div>
							    </div>
							  </div>
								<div class="{{recallState this}} step">
							    <div class="content">
							      <div class="title">Recall</div>
							      <div class="description">Recall from memory</div>
							    </div>
							  </div>
							  <div class="{{reviewState this}} step">
							    <div class="content">
							      <div class="title">Review</div>
							      <div class="description">Review task and recall</div>
							    </div>
							  </div>
							</div>
						{{/with}}
					</div>

					<!-- Show contents depending on current state -->
					{{#with getOwnStatusOrNullObject studyTask._id}}
						{{#if stageIs this "prepare"}}
							<div class="ui attached feature segment">
								<p>
									Do you have
									{{#if ../studyTask.duration}}
										about {{../studyTask.duration}} minutes of
									{{else}}
										some
									{{/if}}
									uninterrupted time to study?
								</p>
								<button type="submit" class="start-button ui primary submit button">Start</button>
							</div>
						{{/if}}
						{{#if stageIs this "study"}}
							<div class="ui attached info message">
								<p>
									Please focus for a few minutes to work through this.
								</p>
							</div>
							{{#with ..}}
								{{>studyTaskPageContents}}
							{{/with}}
                            {{#if selectedKindIs "Coding"}}
                                <div class="ui attached feature segment">
                                    {{> React component=StudyTaskCoding }}
                                </div>
                            {{/if}}
							<div class="ui attached feature segment">
								<button type="submit" class="finish-button ui primary submit button">Done. Ready to recall!</button>
							</div>
						{{/if}}
						{{#if stageIs this "recall"}}
							<div class="ui attached info message">
								<p>
									Please recall, from your brain, what you just learned.
									This recalling helps to commit things into your long-term memory.
								</p>
								<form class="ui form">
									<div class="ui field">
										<textarea name="recallText" placeholder="What do you remember about this study task?">{{recallText}}</textarea>
									</div>
									<button type="submit" class="save-recall-text-button ui primary submit button">Save Recall Statement</button>
								</form>
							</div>
						{{/if}}
						{{#if stageIs this "review"}}
							<div class="ui attached info message">
								<p>
									Feel free to review this study task and update your recall statement at any time.
								</p>
                                {{#if selectedKindIs "Coding"}}
                                    <div >
                                        {{> React
                                                component=StudyTaskCodingRecall }}
                                    </div>
                                {{/if}}
								<form class="ui form">
									<div class="ui field">
										<textarea name="recallText" placeholder="What do you remember about this study task?">{{recallText}}</textarea>
									</div>
									<button type="submit" class="save-recall-text-button ui primary submit button">Update Recall Statement</button>
									Last saved: <strong>{{formatDate modificationDate}}</strong> at {{formatTime modificationDate}}
								</form>
							</div>
							{{#with ..}}
								{{>studyTaskPageContents}}
							{{/with}}
						{{/if}}
					{{/with}}
				{{/if}}
		{{/if}}
	{{/if}}



	{{#if isRegisteredAsAnything course._id}}
		{{#if equals studyTask.kind "Textbook"}}
		{{else}}
			{{#if equals studyTask.kind "ClassSession"}}
			{{else}}
				{{#with getOwnStatusOrNullObject studyTask._id}}
					{{#if stageIs this "prepare"}}
						<div class="ui bottom attached info message">
							<h2 class="ui dividing header">
								<i class="idea icon"></i>
								<div class="content">
									Learning Tip
									<div class="sub header">
										Recalling helps you to commit information to your long-term memory
									</div>
								</div>
							</h2>
							<p>
								Simply recalling what you studied, right after studying, without looking at the material,
								has been shown to be more effective than more complicated learning techniques.
							</p>
							<p>
								For this to work, though, you have to <strong>focus</strong> while you study.
								Ideally do your studying in a <strong>pomodoro</strong>
								(you may be able to do a small number of study tasks in a 25-minute pomodoro).
								While doing a study task,
								always think that right after you finish with it
								you will have to recall what you just learned.
							</p>
							<p>
								Right after you finish, recall what you just learned,
								but do <strong>NOT</strong> look at the material
								(otherwise it won't help your learning)!
								Recalling is not about rereading or scanning the material to extract the highlights.
								Recalling is about
								<i>pulling facts out of your own memory</i>,
								and thereby helping to <i>burn them into your long-term memory</i>.
								If you just scan the material, pull out the facts from there,
								and write them down, your memory won't be involved,
								and you won't learn much.
							</p>
						</div>
					{{/if}}
				{{/with}}
			{{/if}}
		{{/if}}
	{{/if}}

</template>
