<template name="studyTaskClassSessionDetail">
	<div class="field">
		<label>Class Session:</label>
		<div class="class-session-dropdown ui fluid search selection dropdown">
			<input type="hidden" name="book" class="class-session-input">
			<i class="dropdown icon"></i>
			<div class="default text">Select Class Session</div>
			<div class="menu">
					<div class="item" data-value="">No class session</div>
					{{#each getClassSessions studyTask.courseId}}
						<div class="item" data-value="{{_id}}"><i class="small student icon"></i>{{title}}</div>
					{{/each}}
			</div>
			{{updateClassSessionDropdown}}
		</div>
	</div>
</template>
