<template name="studyTaskItem">
  <div class="item">
    <a href="{{pathFor 'studyTaskPage' courseId=course._id studyTaskId=_id}}"><div class="right floated compact ui button">More...</div></a>
    {{#if equals kind "Textbook"}}
      {{#if bookStudyTaskCompleted _id}}
        <i class="right floated big green check circle icon"></i>
      {{else}}
      {{#if getSumOfDurationsOfRemainingSections detail.sectionIds}}
        <span class="right floated ui disabled compact basic button"><i class="clock icon"></i> {{getSumOfDurationsOfRemainingSections detail.sectionIds}} min</span>
      {{/if}}
        <div class="right floated ui label">
          {{countOwnRecalledStudyTaskSections _id}} of {{countStudyTaskSections _id}}
        </div>
      {{/if}}
    {{else}}
      {{#if studyTaskCompleted _id}}
        <i class="right floated big green check circle icon"></i>
      {{else}}
        {{#if duration}}
          <span class="right floated ui disabled compact basic button"><i class="clock icon"></i>{{duration}} min</span>
        {{/if}}
      {{/if}}
    {{/if}}
    <i class="{{iconForStudyTaskKind kind}} icon"></i>
    <div class="content">
      <div class="header"><a href="{{pathFor 'studyTaskPage' courseId=course._id studyTaskId=_id}}">{{title}}</a></div>
      <div>{{description}}</div>
    </div>
  </div>
</template>
