<template name="communityPageMenu">
  {{#if isOnTeachingTeam courseId}}
  	<div class="ui secondary  menu">
  		<a class="{{isActiveRoute "communityPage"}} item" href="{{pathFor 'communityPage' courseId=courseId}}">
  			<i class="home icon"></i> Show
  		</a>
  		<a class="{{isActiveRoute "communityStudentTablePage"}} item" href="{{pathFor 'communityStudentTablePage' courseId=courseId}}">
        <i class="table icon"></i> Students
  		</a>
      <a class="{{isActiveRoute "communityAddStudentsPage"}} item" href="{{pathFor 'communityAddStudentsPage' courseId=courseId}}">
        <i class="add user icon"></i> Add Students
  		</a>
      <a class="{{isActiveRoute "communityStudentPhotosPage"}} item" href="{{pathFor 'communityStudentPhotosPage' courseId=courseId}}">
        <i class="photo icon"></i> Photos
      </a>
      <a class="{{isActiveRoute "communityGetToKnowStudentsPage"}} item" href="{{pathFor 'communityGetToKnowStudentsPage' courseId=courseId}}">
        <i class="random icon"></i> Get to Know
      </a>
  	</div>
  {{/if}}
</template>
