<template name="communityStudentPhotosPage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="users icon"></i>
			<div class="content">
				Community
				<div class="sub header">
					The {{getStudentCount _id}}
					students and the teaching team of
					{{abbreviation}} {{instance}}
				</div>
			</div>
		</h1>
		{{>communityPageMenu}}
    <h2 class="ui dividing header">
      <div class="content">
        Student Photos
      </div>
    </h2>
    <p>
      Students can use Gravatar to set their photo used throughout Informa
      (they can do so from their profile page).
      However, students may not want to put their photo on Gravatar,
      and they may not want to use a photo in which they can easily be identified.
    </p>
    <p>
      For this reason, the teaching team can upload official student photos for a course here.
      Unlike the Gravatar photos, those official photos will only be visible to the teaching team.
      This helps the teaching team learn the students' names.
    </p>
    <div class="ui special four cards">
      {{#each getNotWithdrawnStudentregistrations _id}}
        {{>communityStudentPhotoCard studentRegistration=this courseId=../_id}}
      {{/each}}
    </div>
  </div>
</template>
