<!-- context:
students
courseId
-->
<template name="communityBulkStudentRegistrationPreview">
  <h3>Preview</h3>
	{{#unless students}}
		<p>
			Enter a table of students above to preview what Informa would do here.
		</p>
	{{else}}
		<p>
			Would you like to create, register, and approve the following students
      for {{../abbreviation}} {{../instance}}?
		</p>
		<table class="ui compact striped table">
      <thead>
        <tr>
          <th>Gravatar</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Existing</th>
          <th>Registered</th>
          <th>Approved</th>
        </tr>
      </thead>
      <tbody>
  			{{#each students}}
  				<tr>
            <td><img src="{{gravatarUrl email}}"></td>
            <td>{{first}}</td>
            <td>{{last}}</td>
            <td>{{email}}</td>
            <td>{{#if user}}<i class="checkmark icon"></i>{{/if}}</td>
            <td>{{#if registration}}<i class="checkmark icon"></i>{{/if}}</td>
            <td>{{#if registration}}{{#if registration.approved}}<i class="checkmark icon"></i>{{/if}}{{/if}}</td>
  				</tr>
          {{#if otherUsersWithSameName}}
            <tr>
              <td class="error"></td>
              <td class="error" colspan="6">
                <i class="attention icon"></i>
                At least one user with the given name already exists:
                {{#each otherUsersWithSameName}}
                  {{#each emails}}
                    {{address}}
                  {{/each}}
                {{/each}}
              </td>
            </tr>
          {{/if}}
          {{#if user}}
            {{#unless equals last user.profile.lastName}}
              <tr>
                <td class="error"></td>
                <td class="error" colspan="6">
                  <i class="attention icon"></i>
                  Existing user's last name ({{user.profile.lastName}}) differs!
                </td>
              </tr>
            {{/unless}}
            {{#unless equals first user.profile.firstName}}
              <tr>
                <td class="error"></td>
                <td class="error" colspan="6">
                  <i class="attention icon"></i>
                  Existing user's first name ({{user.profile.firstName}}) differs!
                </td>
              </tr>
            {{/unless}}
          {{/if}}
  			{{/each}}
      </tbody>
		</table>
		<button class="bulk-register-button ui primary button">Create, Register, and Approve these Students</button>
    Before doing this, check the list above for errors.
	{{/unless}}
</template>
