<template name="communityGetToKnowResultsPane">
  <h3 class="ui dividing header">
    <div class="content">
      Your Knowledge So Far
    </div>
  </h3>
  <div class="ui special four cards">
    {{#each getStudentRegistrations _id}}
      {{#if getPhoto _id}}
        <div class="card">
          <div class="image">
            {{#with getPhoto _id}}
              <img src="{{getPhotoLink}}">
            {{/with}}
          </div>
          <div class="content">
            {{#with getUser studentId}}
              <a href="{{pathFor 'userPage' courseId=courseId userId=_id}}" class="ui {{#if status.pomodoroOngoing}}red{{else}}{{#if status.idle}}yellow{{else}}{{#if status.online}}green{{/if}}{{/if}}{{/if}} label">
                {{profile.firstName}} {{profile.lastName}}
              </a>
            {{/with}}
          </div>
          {{#with getKnowledgeForUser studentId}}
            <div class="extra content">
              <span>
                <i class="tag icon"></i><i class="caret right icon"></i><i class="photo icon"></i>
              </span>
              <span class="right floated">
                {{undefinedToZero pictureByName.correct}} / {{add pictureByName.incorrect pictureByName.correct}}
              </span>
            </div>
            <div class="extra content">
              <span>
                <i class="photo icon"></i><i class="caret right icon"></i><i class="tag icon"></i>
              </span>
              <span class="right floated">
                {{undefinedToZero nameByPicture.correct}} / {{add nameByPicture.incorrect nameByPicture.correct}}
              </span>
            </div>
          {{/with}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</template>
