<template name="communityGetToKnowStudentsPage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="users icon"></i>
			<div class="content">
				Community
				<div class="sub header">
					The {{getStudentCount _id}}
					students and the teaching team of
					{{abbreviation}} {{instance}}
				</div>
			</div>
		</h1>
		{{>communityPageMenu}}
    {{#if getChallenge}}
      {{#with getChallenge}}
        {{#if pictureByName}}
          {{>communityGetToKnowPictureByNamePane}}
        {{else}}
          {{>communityGetToKnowNameByPicturePane}}
        {{/if}}
      {{/with}}
    {{else}}
      <h2 class="ui dividing header">
        <div class="content">
          Get to Know Students
        </div>
      </h2>
      <p>
        Learn to associate pictures to names and names to pictures.
      </p>
      <button class="ui primary button start-button">Start Practice</button>
      {{>communityGetToKnowResultsPane}}
    {{/if}}
  </div>
</template>
