<template name="communityGetToKnowNameByPicturePane">
  <h2 class="ui center aligned header">
    Who is this?
  </h2>

  <div class="ui grid">
    <div class="three wide column">
    </div>
    <div class="ten wide column">
      <div class="ui two cards">
        <div class="ui fluid card" style="{{#if guessed}}{{#if equals userIds.[0] requestedUserId}}{{else}}opacity: 0.4{{/if}}{{/if}}">
          <div class="image">
            {{#if guessed}}
              <img class="fluid image" src="{{getPhotoLink userIds.[0]}}">
            {{else}}
              <img class="fluid image" src="{{getPhotoLink requestedUserId}}">
            {{/if}}
          </div>
          <div class="content">
            {{#if guessed}}
              {{#with getUser userIds.[0]}}
                <span class="header">
                  {{profile.firstName}}
                  {{profile.lastName}}
                </span>
                {{> userStatusLabel user=this courseId=courseId}}
              {{/with}}
            {{/if}}
          </div>
          {{#unless guessed}}
            <button class="ui bottom attached primary button left-button">
              {{#with getUser userIds.[0]}}
                {{profile.firstName}}
                {{profile.lastName}}
              {{/with}}
            </button>
          {{/unless}}
        </div>
        <div class="ui fluid card" style="{{#if guessed}}{{#if equals userIds.[1] requestedUserId}}{{else}}opacity: 0.4{{/if}}{{/if}}">
          <div class="image">
            {{#if guessed}}
              <img class="fluid image" src="{{getPhotoLink userIds.[1]}}">
            {{else}}
              <img class="fluid image" src="{{getPhotoLink requestedUserId}}">
            {{/if}}
          </div>
          <div class="content">
            {{#if guessed}}
              {{#with getUser userIds.[1]}}
                <span class="header">
                  {{profile.firstName}}
                  {{profile.lastName}}
                </span>
                {{> userStatusLabel user=this courseId=courseId}}
              {{/with}}
            {{/if}}
          </div>
          {{#unless guessed}}
            <button class="ui bottom attached primary button right-button">
              {{#with getUser userIds.[1]}}
                {{profile.firstName}}
                {{profile.lastName}}
              {{/with}}
            </button>
          {{/unless}}
        </div>
      </div>
    </div>
    <div class="three wide column">
    </div>
  </div>

  {{#if correct}}
    <div class="ui green inverted segment">
      Correct!
      <button class="ui right floated button next-button">Next</button>
    </div>
  {{else}}
    {{#if incorrect}}
      <div class="ui red inverted segment">
        Incorrect!
        <button class="ui right floated button next-button">Next</button>
      </div>
    {{/if}}
  {{/if}}
</template>
