<template name="communityPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="users icon"></i>
			<div class="content">
				Community
				<div class="sub header">
					The {{getStudentCount _id}}
					students and the teaching team of
					{{abbreviation}} {{instance}}
				</div>
			</div>
		</h1>
		{{>communityPageMenu}}
		<div class="ui grid">
			<div class="twelve wide column">
				<h3 class="ui dividing header">
					<div class="content">
						Students
					</div>
				</h3>

				{{#unless isOnTeachingTeam _id}}
					<h4 class="ui dividing header">
						<div class="content">
							Buddies
		          <div class="sub header">
		            Students with whom you would like to work
		          </div>
						</div>
					</h4>
	        <div class="ui labels students buddy-students">
	          {{#each getBuddyPreferences _id}}
	            {{#with getUser buddyId}}
	              {{> userStatusLabel user=this courseId=../../_id}}
	            {{/with}}
	          {{else}}
	            <span style="color: #808080">Drop approved students here to make them your buddies</span>
	          {{/each}}
	        </div>
				{{/unless}}
				<h4 class="ui dividing header">
					<div class="content">
						Approved Students
	          <div class="sub header">
	            Students approved by instructor
	          </div>
					</div>
				</h4>
				{{#if isOnTeachingTeam _id}}
					<div class="ui labels">
						{{#each getApprovedNotWithdrawnStudentUsersWhoAreNotMyBuddies _id}}
							{{> userStatusLabel user=this courseId=../_id}}
						{{/each}}
					</div>
				{{else}}
					<div class="ui labels students community-students">
						{{#each getApprovedNotWithdrawnStudentUsersWhoAreNotMyBuddies _id}}
							{{> userStatusLabel user=this courseId=../_id}}
						{{else}}
	            <span style="color: #808080">Drop those students here who you'd prefer not to be a buddy.</span>
						{{/each}}
					</div>
				{{/if}}
				<h4 class="ui dividing header">
					<div class="content">
						Other Students
						<div class="sub header">
	            Students who registered but have not (yet) been approved by instructor
	          </div>
					</div>
				</h4>
				<div class="ui labels">
					{{#each getNotApprovedNotWithdrawnStudentUsersWhoAreNotMyBuddies _id}}
						{{> userStatusLabel user=this courseId=../_id}}
					{{/each}}
				</div>
				{{#unless isOnTeachingTeam _id}}
					<div class="ui info message">
						<div class="header">
							What are buddies?
						</div>
						<p>
							Buddies are other students in this course
							with whom you would like to collaborate.
						</p>
						<p>
							When we create a team for a lab,
							we will try to pair you up with your buddies.
							The more buddies you specify,
							the higher your chance of getting paired with one of them.
						</p>
						<p>
							Drag approved students to the buddies area to make them buddies.
							Drag buddies to the approved students area to remove them as buddies.
						</p>
						<p>
							If a student has not yet been approved for the course,
							you cannot make them your buddy.
							Ask the student to complete their profile and to verify their email address,
							and then ask the instructor to approve the student.
							Once the instructor has approved the student, you can add that student as a buddy.
						</p>
					</div>
				{{/unless}}
			</div>
			<div class="four wide column">
				<h3 class="ui dividing header">
					<div class="content">
						Teaching Team
					</div>
				</h3>
				<div class="ui labels">
					{{#each getTeachingTeamUsers _id}}
						{{> userStatusLabel user=this courseId=../_id}}
					{{/each}}
				</div>
				{{#if isOnTeachingTeam _id}}
					{{#if countWithdrawnTeachingTeamUsers _id}}
						<h4 class="ui dividing header">
							<div class="content">
								Withdrawn
							</div>
						</h4>
						<div class="ui labels">
							{{#each getWithdrawnTeachingTeamUsers _id}}
								{{> userStatusLabel user=this courseId=../_id}}
							{{/each}}
						</div>
					{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</template>
