<template name="communityStudentTablePage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="users icon"></i>
			<div class="content">
				Community
				<div class="sub header">
					The {{getStudentCount _id}}
					students and the teaching team of
					{{abbreviation}} {{instance}}
				</div>
			</div>
		</h1>
		{{>communityPageMenu}}
    <h3 class="ui dividing header">
      <div class="content">
        All Students
      </div>
    </h3>
    <p>
      All students in the course, including those not yet approved or those withdrawn.
    </p>
    {{#with makeSettings _id}}
      {{#with findUsers ../_id}}
        {{> reactiveTable collection=this settings=..}}
      {{/with}}
    {{/with}}
  </div>
</template>
