<template name="registerStudentButtonCell">
  {{#if getStudentRegistration _id courseId}} <!--registered as student-->
    {{#with getStudentRegistration _id courseId}}
      {{formatDate creationDate}}&nbsp;&nbsp;
      {{#if approved}}
        <button class="ui compact disabled icon button"><i class="checkmark icon"></i></button>
      {{else}}
        <button class="unregister-student-button ui compact disabled red icon button"><i class="help circle icon"></i></button>
      {{/if}}
    {{/with}}
  {{else}}
    <button class="register-student-button ui compact green icon button"><i class="add user icon"></i></button>
  {{/if}}
</template>
