<!-- arguments: {courseId, user} -->
<template name="userStatusLabel">
	<!--
	{{#with findStudentRegistrationByCourseAndUser courseId user._id}}
		<a href="{{pathFor "studentPage" courseId=../courseId _id=_id}}" class="ui {{#if ../user.status.pomodoroOngoing}}red{{else}}{{#if ../user.status.idle}}yellow{{else}}{{#if ../user.status.online}}green{{/if}}{{/if}}{{/if}} label">
			{{../user.profile.firstName}}
		</a>
	{{/with}}
	{{#with findInstructorRegistrationByCourseAndUser courseId user._id}}
		<a href="{{pathFor "instructorPage" courseId=../courseId _id=_id}}" class="ui {{#if ../user.status.pomodoroOngoing}}red{{else}}{{#if ../user.status.idle}}yellow{{else}}{{#if ../user.status.online}}green{{/if}}{{/if}}{{/if}} label">
			{{../user.profile.firstName}}
		</a>
	{{/with}}
	{{#with findAssistantRegistrationByCourseAndUser courseId user._id}}
		<a href="{{pathFor "assistantPage" courseId=../courseId _id=_id}}" class="ui {{#if ../user.status.pomodoroOngoing}}red{{else}}{{#if ../user.status.idle}}yellow{{else}}{{#if ../user.status.online}}green{{/if}}{{/if}}{{/if}} label">
			{{../user.profile.firstName}}
		</a>
	{{/with}}
	-->
	<a href="{{pathFor 'userPage' courseId=courseId userId=user._id}}" class="ui {{#if user.status.pomodoroOngoing}}red{{else}}{{#if user.status.idle}}yellow{{else}}{{#if user.status.online}}green{{/if}}{{/if}}{{/if}} label">
		{{user.profile.firstName}}
	</a>
	<div class="ui popup">
		{{#if isOnTeachingTeam courseId}}
			<img class="image" width="100" style="width: 100px; height: auto" src="{{getPhotoUrl user}}">
		{{else}}
			<img class="image" width="100" style="width: 100px; height: auto" src="{{getGravatarUrl user}}">
		{{/if}}
  	<div class="header">{{user.profile.firstName}} {{user.profile.lastName}}</div>
	</div>
</template>
