<!--
	Context: user
	This should go inside the H1 element of a student, assistant, or instructor page.
-->
<template name="userStatusIndicator">
	<div class="top right attached ui {{#if status.pomodoroOngoing}}red{{else}}{{#if status.idle}}yellow{{else}}{{#if status.online}}green{{/if}}{{/if}}{{/if}} label">
		{{profile.firstName}} is
		<i>
			{{#if status.pomodoroOngoing}}
				in a Pomodoro (for {{getMinutesLeftInOngoingPomodoro this}} more minutes)
			{{else}}
				{{#if status.idle}}
					Online but Idle
				{{else}}
					{{#if status.online}}
						Online
					{{else}}
						Offline
					{{/if}}
				{{/if}}
			{{/if}}
		</i>
	</div>
</template>
