<template name="misconceptionListEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="bug icon"></i>
			<div class="content">
				Misconceptions
				<div class="sub header">Misconceptions for {{abbreviation}} {{instance}}</div>
			</div>
		</h1>
  </div>
	<div class="ui attached feature segment">
    <p>
			<button class="add-misconception-button compact green ui button"><i class="plus icon"></i> Add Misconception</button>
      <a href="{{pathFor 'misconceptionListPage' courseId=courseId}}" class="right floated compact blue ui button">Done</a>
		</p>
  </div>
	<div class="ui attached feature segment">
		<h2 class="ui header">Edit Misconceptions</h2>
		<div class="ui celled list">
			{{#each getMisconceptionsForCourse _id}}
				<div class="item">
					<a href="{{pathFor 'misconceptionEditPage' courseId=courseId misconceptionId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="bug icon"></i>
					<div class="content">
						<div class="header">
              <a href="{{pathFor 'misconceptionPage' courseId=courseId misconceptionId=_id}}">
                {{#if title}}
                  {{title}}
                {{else}}
                  <i>no name</i>
                {{/if}}
              </a>
            </div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each getMisconceptionsForCourse _id}}
		{{else}}
      <h2 class="ui center aligned disabled icon header">
        <i class="bug icon"></i>
        No Misconceptions Yet
        {{#if isRegisteredAsInstructor courseId}}
          <div class="sub header">Add some</div>
        {{/if}}
      </h2>
		{{/each}}
	</div>
</template>
