<template name="misconceptionPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
      {{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'misconceptionEditPage' courseId=course._id misconceptionId=misconception._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="bug icon"></i>
			<div class="content">
        <a href="{{pathFor 'misconceptionListPage' courseId=course._id}}">Misconception</a>
			</div>
		</h1>
	</div>
	<div class="ui attached inverted segment">
    <h3 class="ui header">
      {{misconception.title}}
    </h3>
    <p>
      {{#markdownFix}}{{misconception.description}}{{/markdownFix}}
    </p>
  </div>
  {{#if misconception.correction}}
    <div class="ui attached inverted green segment">
      <h3 class="ui header">
        Correction
      </h3>
      <p>
        {{#markdownFix}}{{misconception.correction}}{{/markdownFix}}
      </p>
    </div>
  {{/if}}
  <div class="ui attached feature segment">
    {{#if getTopicCountForMisconception misconception}}
	    <div class="ui grid">
				{{#each getTopicsForMisconception misconception}}
	        <div class="sixteen wide column">
	          <div class="ui header">
	            {{#with getTheme themeId}}
	              <i class="circular inverted {{color}} {{icon}} icon"></i>
	            {{/with}}
	            <div class="content">
	        			<a href="{{pathFor 'topicPage' courseId=courseId topicId=_id}}">
	        				{{#if title}}
	        					{{title}}
	        				{{else}}
	        					<i>Untitled topic</i>
	        				{{/if}}
	        			</a>
	              <div class="sub header">
	                {{#with getTheme themeId}}
	                  {{title}}
	                {{/with}}
	              </div>
	            </div>
	          </div>
            <!--
            <h4 class="ui header">
              Skills
            </h4>
            -->
	          <div class="ui celled list">
	            {{#each getSkillsForMisconceptionAndTopic ../misconception _id}}
	              <div class="item">
	                <i class="large bullseye icon"></i>
	                <div class="content">
	                  <div class="header">
                      <a href="{{pathFor 'topicPage' courseId=courseId topicId=topicId}}#skill_{{_id}}">
                        {{title}}
                      </a>
                    </div>
	                  <div>{{description}}</div>
	                </div>
	              </div>
	            {{/each}}
	          </div>
            <!--
            <h4 class="ui header">
              Study Tasks
            </h4>
            -->
	          <div class="ui celled list">
	            {{#each getStudyTasksForMisconceptionAndTopic ../misconception _id}}
	              <div class="item">
                  <i class="{{iconForStudyTaskKind kind}} icon"></i>
	                <div class="content">
	                  <div class="header">
                      <a href="{{pathFor 'studyTaskPage' courseId=courseId studyTaskId=_id}}">
                        {{title}}
                      </a>
                    </div>
	                  <div>{{description}}</div>
	                </div>
	              </div>
	            {{/each}}
	          </div>
            <!--
            <h4 class="ui header">
              Practice Problems
            </h4>
            -->
	          <div class="ui celled list">
	            {{#each getPracticeProblemsForMisconceptionAndTopic ../misconception _id}}
	              <div class="item">
	                <i class="large checkmark box icon"></i>
	                <div class="content">
	                  <div class="header">
                      <a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}">
                        {{title}}
                      </a>
                    </div>
	                  <div>Published {{formatDateFromNow publishedDate}}</div>
	                </div>
	              </div>
	            {{/each}}
	          </div>
	        </div>
				{{/each}}
			</div>
		{{else}}
			<h2 class="ui center aligned disabled icon header">
				<i class="marker icon"></i>
				No Topics Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit to connect to topics, skills, study tasks, and practice problems</div>
				{{/if}}
			</h2>
		{{/if}}
  </div>
</template>
