<template name="topicCheckRow">
	<tr>
		<td>
			{{#with getMasteryCheck masteryCheckId}}
				<a href="/masteryCheck/{{_id}}">
					<strong>
						Week {{formatWeekInCourse courseId startDate}}<br>
						{{formatWeekday startDate}}<br>
					</strong>
					{{formatTime startDate}}
				</a>
			{{/with}}
		</td>
		<td>
			{{#with getUser studentId}}
				{{> userStatusLabel user=this courseId=../courseId}}
			{{/with}}
		</td>
		<td>
			{{#with getUser testerId}}
				{{> userStatusLabel user=this courseId=../courseId}}
			{{/with}}
		</td>
		<td>
			{{#if feedback}}
				<div class="ui warning message">
					{{#markdownFix}}{{feedback}}{{/markdownFix}}
				</div>
			{{/if}}
		</td>
	</tr>
</template>
