<template name="topicEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{#if topic.title}}
					{{topic.title}}
				{{else}}
					<i>Untitled topic</i>
				{{/if}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">
						{{#if theme.title}}
							{{theme.title}}
						{{else}}
							<i>Untitled theme</i>
						{{/if}}
					</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		<h2 class="ui header">Information</h2>
		<form class="ui form">
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" placeholder="Short title" value="{{topic.title}}">
			</div>
			<div class="field">
				<label>Short Description:</label>
				<input type="text" name="description" placeholder="One-sentence description of the contents of this topic" value="{{topic.description}}">
			</div>
			<div class="field">
				<label>Why master this topic?</label>
				{{>markdownLabel}}
				<div class="why-pedagogy-label ui blue label">
					<i class="why-pedagogy-label idea icon"></i> Pedagogy
				</div>
				<div class="ui popup">
					<p>
						<strong>A good rationale boosts motivation</strong>
					</p>
					<p>
						Providing a good rationale that promotes the value of this topic,
						a value that students may not actually be aware of initially,
						helps students to generate the motivation they need
						to engage in and learn from material they may initially deem "uninteresting".
					</p>
					<p>
						<i>Hyungshim Jang. Supporting students' motivation, engagement, and learning during an uninteresting activity. Journal of Educational Psychology, 2008.</i>
					</p>
				</div>
				<textarea name="why" placeholder="Provide describe why this topic matters to students">{{topic.why}}</textarea>
			</div>
			<div class="field">
				<label>Study Guide:</label>
				{{>markdownLabel}}
				<textarea name="studyGuide" placeholder="Describe how the students can best study this topic (refer to specific study tasks and labs)">{{topic.studyGuide}}</textarea>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Theme:</label>
					<div class="theme-dropdown fluid ui selection dropdown">
						<input type="hidden" name="themeId" value="{{theme._id}}">
						<i class="dropdown icon"></i>
						<div class="default text">Select a theme</div>
						<div class="menu">
							{{#each getThemes courseId}}
								<div class="item" data-value="{{_id}}">
									<i class="circular inverted {{color}} {{icon}} icon"></i>
									{{#if title}}
										{{title}}
									{{else}}
										<i>Untitled theme</i>
									{{/if}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="field">
					<label>Grade:</label>
					<input type="text" name="masteryRequiredForGrade" placeholder="Grade requiring this topic" value="{{topic.masteryRequiredForGrade}}">
				</div>
			</div>
			<button class="ui blue submit button">Update Topic Information</button>
		</form>

		<h2 class="ui header">Skills</h2>
		<div class="ui celled list">
			{{#each getSkillsByTopic topic._id}}
				<div class="item">
					<button class="remove-skill-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor "skillEditPage" courseId=course._id skillId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="bullseye icon"></i>
					<div class="content">
						<div class="header">{{title}}</div>
						<div class="description">{{#markdownFix}}{{description}}{{/markdownFix}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		<button class="add-skill-button compact green ui button"><i class="plus icon"></i> Add Skill</button>


		<h2 class="ui header">Study Tasks</h2>
		<div class="ui celled list">
			{{#each getStudyTasksByTopic topic._id}}
				<div class="item">
					<button class="remove-study-task-button right floated compact ui red icon button"><i class="minus icon"></i></button>
					<a href="{{pathFor "studyTaskEditPage" courseId=course._id studyTaskId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="{{iconForStudyTaskKind kind}} icon"></i>
					<div class="content">
						<div class="header"><a href="{{pathFor "studyTaskPage" courseId=course._id studyTaskId=_id}}">{{title}}</a></div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		<button class="add-study-task-button compact green ui button"><i class="plus icon"></i> Add Study Task</button>
	</div>
</template>
