<template name="topicCardExtraContent">
  {{#if isRegisteredAsStudent courseId}}
    <div class="extra content">
      {{#if isTopicMastered _id}}
        <div class="right floated"><i class="trophy icon"></i> Mastered</div>
      {{else}}
        <div class="ui small progress">
          <div class="bar">
            <div class="progress"></div>
          </div>
        </div>
      {{/if}}
    </div>
    {{updateProgressBar _id}}
  {{/if}}
  {{#if isOnTeachingTeam courseId}}
    <div class="extra content">
      {{#if equals status "hidden"}}
        <i class="hide icon"></i> Hidden
      {{else}}
        <!--status is either "showing" or not defined -->
        <i class="yellow unhide icon"></i> Showing
      {{/if}}
    </div>
    <div class="extra content">
      <div class="ui four column grid">
        <div class="column">
          <i class="green check square icon"></i> {{countAllStudentsPassedTopicChecksForTopic _id}}
        </div>
        <div class="column">
          <i class="red minus circle icon"></i> {{countAllStudentsFailedTopicChecksForTopic _id}}
        </div>
        <div class="column">
          <i class="blue help circle icon"></i> {{countAllQuestionsForTopic _id}}
        </div>
        <div class="column">
          <i class="teal university icon"></i> {{countAllPublishedUnarchivedPracticeProblemsForTopic _id}}
        </div>
      </div>
    </div>
  {{/if}}
</template>
