<template name="topicPageMenu">
	<div class="ui secondary  menu">
		<a class="{{isActiveRoute "topicPage"}} item" href="{{pathFor 'topicPage' courseId=courseId topicId=topic._id}}">
			<i class="home icon"></i> Description
		</a>
		{{#if isOnTeachingTeam courseId}}
			<a class="{{isActiveRoute "topicPassedChecksPage"}} item" href="{{pathFor 'topicPassedChecksPage' courseId=courseId topicId=topic._id}}">
				<i class="check square icon"></i> Passed Checks
				<div class="floating ui green label">{{countAllStudentsPassedTopicChecksForTopic topic._id}}</div>
			</a>
			<a class="{{isActiveRoute "topicFailedChecksPage"}} item" href="{{pathFor 'topicFailedChecksPage' courseId=courseId topicId=topic._id}}">
				<i class="minus circle icon"></i> Failed Checks
				<div class="floating ui red label">{{countAllStudentsFailedTopicChecksForTopic topic._id}}</div>
			</a>
		{{/if}}
		<a class="{{isActiveRoute "topicQuestionsPage"}} item" href="{{pathFor 'topicQuestionsPage' courseId=courseId topicId=topic._id}}">
			<i class="help icon"></i> Questions
			<div class="floating ui blue label">{{countAllStudentsQuestionsForTopic topic._id}}</div>
		</a>
		<a class="{{isActiveRoute "topicOwnPracticeProblemListPage|topicSolvedPracticeProblemListPage|topicUnsolvedPracticeProblemListPage|viewPracticeProblemPage|editPracticeProblemPage"}} item" href="{{pathFor 'topicUnsolvedPracticeProblemListPage' courseId=courseId topicId=topic._id}}">
			<i class="university icon"></i> Problems
			<div class="floating ui teal label">{{countUnsolvedPracticeProblems topic._id}},{{countSolvedPracticeProblems topic._id}},{{countOwnPublishedUnarchivedPracticeProblems topic._id}}/{{countOwnUnarchivedPracticeProblems topic._id}}</div>
		</a>
	</div>
</template>
