<template name="topicPrint">
	<h1 class="ui dividing header">
		<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
		<div class="content">
			{{topic.title}}
			<div class="sub header">
				<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
			</div>
			<div class="sub header">
				Grade: {{topic.masteryRequiredForGrade}}+
			</div>
		</div>
	</h1>
	<p>
		<strong>Contents: </strong>
		{{topic.description}}.
	</p>
	<h2 class="ui header">Skills</h2>
	<div class="ui celled list">
		{{#each skills topic._id}}
			<div class="item">
				<i class="bullseye icon"></i>
				<div class="content">
					<div class="header">{{title}}</div>
					<div class="description">{{#markdownFix}}{{description}}{{/markdownFix}}</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>
