<template name="topicCard">
	<a class="ui card" href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">
		<div class="content">
			{{#with getTheme themeId}}
				<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
			{{/with}}
			<div class="header">
				{{#if title}}
					{{title}}
				{{else}}
					<i>Untitled topic</i>
				{{/if}}
			</div>
			<div class="meta">
				{{#with getTheme themeId}}
					{{title}}
				{{/with}}
			</div>
			{{#with getCourse courseId}}
				{{#if masteryChecksDetermineGrade}}
					<div class="meta">Grade: {{../masteryRequiredForGrade}}+</div>
				{{/if}}
			{{/with}}
			<div class="description">
				{{description}}
			</div>
		</div>
		{{>topicCardExtraContent}}
	</a>
</template>
