<template name="topicToBeCheckedRow">
	<tr>
		<td>
			{{#with getTheme themeId}}
				<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
			{{/with}}
			<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">{{title}}</a>
		</td>
		<td class="collapsing">
			<button class="remove-topic-to-check-button compact red ui button">Remove</button>
		</td>
		<td class="right aligned collapsing">
			{{masteryRequiredForGrade}}+
		</td>
	</tr>
</template>
