<template name="adminLabSubmissionFilesPage">
	<div class="ui top attached feature segment">
		<h2 class="ui dividing header">
			<div class="content">
				Lab Submission Files
			</div>
		</h2>
    <p>
      This shows all files (in LabSubmissionFiles)
      you are currently subscribed to.
      If you switch to a different course,
      that will change your subscription.
    </p>
    <p>
      Files: <strong>{{getLabSubmissionFilesCount}}</strong>
    </p>
    <p>
      Size: <strong>{{getLabSubmissionFilesSize}}</strong>
    </p>
    <p>
      Files with size 0 are shown as "(incomplete)".
      They may indeed have had size 0,
      or their upload may have failed.
    </p>

    {{> reactiveTableFilter id="myFilter" class="ui input" label="Filter (by 'File Name', can use regex):" fields=["length"]}}
    {{> reactiveTable collection=getLabSubmissionFiles rowsPerPage=10 settings=settings}}

  </div>
</template>
