<template name="adminDashboardPage">
	<div class="ui top attached feature segment">
		<h2 class="ui dividing header">
			<div class="content">
				Dashboard
			</div>
		</h2>
    <div class="ui two column grid">
      <div class="column">
        <h3 class="ui header">Database Information</h3>
        <p>
          This is information
          based on whatever you are currently subscribed to
          (i.e., the collections on the server may be larger
          if not all of their documents are published to you at this time).
          If you switch to a different course,
          that will change your subscription.
        </p>
        <table class="ui collapsing compact celled striped table">
          <thead>
            <tr>
              <th>Collection</th>
              <th>Documents</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Users</td>
              <td class="right aligned">{{MeteorUsersCount}}</td>
              <td><a class="ui compact button" href="{{pathFor 'adminUserListPage'}}">Manage</a></td>
            </tr>
            <tr>
              <td>Courses</td>
              <td class="right aligned">{{CoursesCount}}</td>
              <td><a class="ui compact button" href="{{pathFor 'adminCourseListPage'}}">Manage</a></td>
            </tr>
            <tr>
              <td>LabSubmissionFiles</td>
              <td class="right aligned">{{LabSubmissionFilesCount}}</td>
              <td><a class="ui compact button" href="{{pathFor 'adminLabSubmissionFilesPage'}}">Manage</a></td>
            </tr>
          </tbody>
        </table>
        <h3 class="ui header">Debug Information</h3>
				<p>
					These are various configuration variables and states.
				</p>
        <table class="ui collapsing compact celled striped table">
    			<thead>
    				<tr>
    					<th>Info</th>
    					<th>Value</th>
    				</tr>
    			</thead>
    			<tbody>
						<tr>
							<td>Meteor.release</td>
							<td>{{release}}</td>
						</tr>
						<tr>
							<td>Meteor.settings.public</td>
							<td>{{publicSettings}}</td>
						</tr>
    				<tr>
    					<td>ROOT_URL / Meteor.absoluteUrl()</td>
    					<td>"{{absoluteUrl}}"</td>
    				</tr>
    				<tr>
    					<td>window.location.href</td>
    					<td>{{location}}</td>
    				</tr>
    				<tr>
    					<td>window.location.protocol</td>
    					<td>{{protocol}}</td>
    				</tr>
    				<tr>
    					<td>secure?</td>
    					<td>{{secure}}</td>
    				</tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <h3 class="ui header">Meteor Facts</h3>
        <p>
          This is information provided by the meteor facts package.
        </p>
        {{> serverFacts}}
      </div>
    </div>
  </div>
</template>
