<template name="assistantPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser assistantId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Assistant for
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser assistantId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		<p>
			{{#with getUser assistantId}}
				<strong>{{profile.firstName}} {{profile.lastName}}</strong>
			{{/with}}
			joined
			{{#with getCourse courseId}}
				<strong>{{abbreviation}} {{instance}}</strong>
			{{/with}}
			as an assistant on {{formatDate creationDate}}.
		</p>

		<div class="ui grid">
			<div class="ten wide column">
				{{#with getUser assistantId}}
					{{>userBioPane}}
				{{/with}}
			</div>
			<div class="six wide right aligned column">
				{{#with getUser assistantId}}
					{{> userGravatarLarge this}}
				{{/with}}
			</div>
		</div>

		{{#with getUser assistantId}}
			{{>userContactInfoPane}}
		{{/with}}

		{{#if isOnTeachingTeam courseId}}
			<h3 class="ui dividing header">
				<div class="content">
					Mastery Checks Administered
					<div class="sub header">
						Acted as tester in the following mastery checks.
					</div>
				</div>
			</h3>
			{{> masteryCheckTable ofCourseId=courseId ofTesterId=assistantId}}
		{{/if}}
	</div>
</template>
