<!-- data context:
. (assistantRegistration)
-->
<template name="assistantRegistrationModificationPane">
  <div class="ui attached warning message">
    <h3 class="ui dividing header">
      Modify Assistant Registration
    </h3>
    <div class="ui grid">
      {{#unless withdrawn}}
        <div class="four wide column">
          <button class="withdraw-button fluid yellow ui button">Withdraw</button>
        </div>
        <div class="twelve wide column">
          You can withdraw this assistant &mdash;
          {{#with getUser assistantId}}
            {{profile.firstName}} {{profile.lastName}}
          {{/with}}
          &mdash; from this course.
          This does <i>not</i> delete any of the assistant's information.
          You can later undo the withdrawal.
        </div>
      {{/unless}}

      {{#if withdrawn}}
        <div class="four wide column">
          <button class="undo-withdrawal-button fluid yellow ui button">Undo Withdrawal</button>
        </div>
        <div class="twelve wide column">
          This assistant had withdrawn from this course on
          {{formatDate withdrawalDate}}.
          You can undo this withdrawal.
          The assistant will then again show up on the community page.
        </div>
      {{/if}}
    </div>
  </div>
</template>
