<template name="syllabusEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="protect icon"></i>
			<div class="content">
				Syllabus
				<div class="sub header">
					Contract between teaching team and students of {{abbreviation}} {{instance}}
				</div>
			</div>
		</h1>
		<h3 class="ui dividing header">
			Edit Syllabus
		</h3>
		<form class="ui form">
			<div class="field">
				<label>Syllabus:</label>
				{{>markdownLabel}}
				<textarea name="syllabus" placeholder="Enter the syllabus of your course here">{{syllabus}}</textarea>
			</div>
			<button class="ui blue submit button">Update Syllabus</button>
			<a class="ui button" href="{{pathFor 'syllabusPage' courseId=_id}}">Cancel</a>
		</form>
	</div>
</template>
