<template name="computeQuizScoreSummaryPane">
  <div class="ui bottom attached warning message">
		{{#with getQuizScoreSummary course._id}}
      <div class="ui grid">
        <div class="eleven wide column">
  				Summary computed on {{formatDate date}} at {{formatTime date}} by
  				{{#with getUser createdBy}}
  					{{> userStatusLabel user=this courseId=../course._id}}
  				{{/with}}
        </div>
        <div class="five wide column">
          <a href="#" class="recompute-summary-button ui yellow icon button"><i class="refresh icon"></i> Recompute Summary</a>
        </div>
			</div>
    {{else}}
      <div class="ui grid">
        <div class="eleven wide column">
  				Nobody has computed a summary yet. Be the first to do so!
        </div>
        <div class="five wide column">
          <a href="#" class="recompute-summary-button ui yellow icon button"><i class="refresh icon"></i> Compute Summary</a>
        </div>
			</div>
    {{/with}}
  </div>
</template>
