<!-- data context:
course
quiz
-->
<template name="quizOutcomePage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="checkmark box icon"></i>
			<div class="content">
				{{quiz.title}}
				<div class="sub header">{{quiz.description}}</div>
			</div>
		</h1>
    <div class="ui grid">
			{{#if quiz.ongoing}}
				<div class="ten wide column">
					Started: <strong>{{formatDate quiz.startDate}}</strong> at <strong>{{formatTime quiz.startDate}}</strong> by
					{{log2 'outside; quiz.startedBy=' quiz.startedBy}}
					{{#with getUser quiz.startedBy}}
						{{log2 'within #with getUser' this}}
						{{#if this}}
							{{>userStatusLabel user=this courseId=../course._id}}
						{{/if}}
					{{/with}}
				</div>
			{{else}}
				<div class="ten wide column">
					Scheduled for: <strong>{{formatDate quiz.date}}</strong> (~ {{formatDateFromNow quiz.date}})
				</div>
			{{/if}}
			<div class="six wide right aligned column">
				Duration: <strong>{{quiz.duration}} minutes</strong>
			</div>
    </div>
		{{>quizPageMenu}}
    <h2>Quiz Outcome</h2>
    <h3>TODO</h3>
    <p>
      ...
    </p>
  </div>
</template>
