<template name="quizTakeProblem">
  <h2 class="ui dividing header">{{practiceProblem.title}}</h2>
  {{#markdownFix}}{{practiceProblem.question}}{{/markdownFix}}
  {{#each practiceProblem.choices}}
    {{#if text}}
      <div class="ui divider"></div>
      <div class="ui basic segment choice-container">
        <div class="ui grid">
          <div class="four wide center aligned column">
            <div class="ui statistic">
              <div class="label">
                Choice
              </div>
              <div class="value">
                {{label}}
              </div>
              <div class="ui toggle button choice-toggle-button" name="{{label}}">
                <i class='minus icon'></i> Wrong
              </div>
            </div>
          </div>
          <div class="twelve wide column">
            {{#markdownFix}}{{text}}{{/markdownFix}}
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</template>
