<template name="quizTakeProblemList">
  <div class="ui list">
    {{#each quiz.practiceProblemIds}}
      {{#with getPracticeProblem this}}
        <div class="item">
          <i class="help circle icon"></i>
          <div class="content">
              {{title}}
          </div>
        </div>
      {{/with}}
    {{/each}}
  </div>
</template>
