<!-- data context:
course
quizzes
-->
<template name="quizListOutcomePage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'quizListEditPage' courseId=course._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="checkmark box icon"></i>
			<div class="content">
				Quizzes
				<div class="sub header">Check your understanding of {{course.abbreviation}} {{course.instance}} topics</div>
			</div>
		</h1>
	</div>
	{{>quizListPageMenu}}
	<div class="ui attached feature segment">
		{{#with getQuizScoreSummary courseId}}
			<table class="ui table">
				<thead>
					<tr>
						<th>Quiz:</th>
						{{#each getPastNonHiddenQuizzes courseId}}
							<th><a href="{{pathFor 'quizOutcomePage' courseId=courseId quizId=_id}}">{{title}}</a></th>
						{{/each}}
					</tr>
					<tr>
						<th>Max Score:</th>
						{{#each getPastNonHiddenQuizzes courseId}}
							<th>{{extractMaxScore .. _id}}</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each getApprovedNotWithdrawnUsers courseId}}
						<tr>
							<td>{{> userStatusLabel user=this courseId=../courseId}}</td>
							{{#each getPastNonHiddenQuizzes ../courseId}}
								<td>
									{{#with getQuizAttempt _id ../_id}}
										<a href="{{pathFor 'userQuizAttemptPage' courseId=courseId userId=studentId quizAttemptId=_id}}">
											{{extractScore ../../.. quizId studentId}}
										</a>
									{{/with}}
								</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/with}}
  </div>
  {{>computeQuizScoreSummaryPane}}
</template>
