<template name="quizTakePage">
  <div class="ui top fixed green inverted menu">
    <!--<div class="header item">
			<img class="ui centered image" height="14" src="/images/InformaBrain.png">
		</div>-->
    <span class="header item"><i class="checkmark box icon"></i> {{quiz.title}}</span>
    <span class="item">{{quiz.description}}</span>
    <div class="right menu">
			{{#if currentUser}}
        {{#if getSecondsRemaining}}
          <span class="item">Time remaining: <strong>{{getMinutesAndSecondsRemaining}}</strong></span>
        {{/if}}
  			<span class="vertically fitted item" style="{padding-top:1px}">
					<img class="ui avatar image" style="display: inline" src="{{gravatarUrl}}">&nbsp;{{currentUserEmail}}
  			</span>
			{{/if}}
		</div>
  </div>
  <div style="padding-top: 36px">
    <div style="margin: 20px">
      {{#if haveFreshQuizAttempt quiz._id quiz.startDate}}
        <div class="ui green inverted center aligned top attached segment" style="border-color: #5bbd72 !important">
          <h2 class="ui center aligned icon header">
            <i class="wait icon"></i>
            The Quiz is Ready for You
          </h2>
          <p>
            You have been approved to take this quiz.
          </p>
          <p>
            You have a total of <strong>{{quiz.duration}} minutes</strong>
            to answer the <strong>{{length quiz.practiceProblemIds}} problems</strong> in this quiz.
          </p>
          <p>
            Your time starts running once you click the 'Start Quiz' button.
          </p>
          <p>
            Submit your answers by clicking the 'Submit Quiz' button at the bottom of the quiz.
            If you don't submit on time,
            Informa will automatically submit when your time runs out.
          </p>
          <p>
            Do not leave the quiz page before submitting, or you will lose all the answers.
          </p>
        </div>
        <div class="ui green center aligned bottom attached segment">
          <p>
            <button class="begin-quiz-attempt-button green ui icon button"><i class="wait icon"></i> Start Quiz</button>
          </p>
        </div>
      {{else}}
        {{#if haveOngoingQuizAttempt quiz._id quiz.startDate}}
          <h1 class="ui dividing header">
      			<i class="checkmark box icon"></i>
      			<div class="content">
      				{{quiz.title}}
      				<div class="sub header">{{quiz.description}}</div>
      			</div>
      		</h1>
          <p>
            You have a total of <strong>{{quiz.duration}} minutes</strong>
            to answer the following <strong>{{length quiz.practiceProblemIds}} problems</strong>.
          </p>
          <p>
            Submit your answers by clicking the 'Submit Quiz' button at the bottom of the page.
            If you don't submit on time,
            Informa will automatically submit when your time runs out.
          </p>
          <p>
            Do not leave this page before submitting, or you will lose all the answers.
          </p>
          <!--{{>quizTakeProblemList}}-->
          {{#each shuffle quiz.practiceProblemIds}}
  					{{#with getPracticeProblem this}}
            <div class="ui segment problem-container" name="{{_id}}">
              {{>quizTakeProblem practiceProblem=this}}
            </div>
            {{/with}}
          {{/each}}
          <div class="ui segment">
            <button class="finish-quiz-attempt-button red ui icon button">Submit Quiz</button>
          </div>
        {{else}}
          {{#if haveFinishedQuizAttempt quiz._id quiz.startDate}}
            <div class="ui blue inverted center aligned top attached segment" style="border-color: #3b83c0 !important">
              <h2 class="ui center aligned icon header">
                <i class="checkered flag icon"></i>
                You Finished the Quiz
              </h2>
              <p class="center aligned">
                Relax and take a short break. You will receive the results of the quiz later.
              </p>
            </div>
            {{#unless quiz.ongoing}}
              <div class="ui blue center aligned bottom attached segment">
                <p>
                  <a href="{{pathFor 'quizPage' courseId=course._id quizId=quiz._id}}" class="blue ui icon button">Back to Informa</a>
                </p>
              </div>
            {{/unless}}
          {{else}}
            {{#with currentUser}}
              <div class="ui grid">
                <div class="three wide column">
                  <img class="ui medium circular image" style="display: inline" src="{{largeGravatarUrl this}}">
                </div>
                <div class="thirteen wide column">
                  First name:<br>
                  <span style="font-size: 40pt">
                    {{profile.firstName}}
                  </span>
                  <br>&nbsp;<br>
                  Last name:<br>
                  <span style="font-size: 40pt">
                    {{profile.lastName}}
                  </span>
                </div>
              </div>
            {{/with}}
            <div class="ui red inverted center aligned segment">
              <h2 class="ui center aligned icon header">
                <i class="users icon"></i>
                Please check in with a TA
              </h2>
              <p>
                You have to take the quiz in the classroom.
                If you are in the classroom,
                <strong>talk to a TA</strong> so they add you to the quiz.
                If you are <i>not</i> in the classroom, you cannot take the quiz.
              </p>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
