<template name="quizRunStudentCard">
  <div class="card">
    <div class="image">
      <img src="{{gravatarUrl user}}">
    </div>
    <div class="content">
  		<div class="ui {{#if user.status.pomodoroOngoing}}red{{else}}{{#if user.status.idle}}yellow{{else}}{{#if user.status.online}}green{{/if}}{{/if}}{{/if}} label">
  			{{user.profile.firstName}} {{user.profile.lastName}}
  		</div>
    </div>
    {{#if getQuizAttempt user._id quiz._id quiz.startDate}}
      <div class="extra content">
        {{#with getQuizAttempt user._id quiz._id quiz.startDate}}
          {{#if fresh}}
            <i class="green wait icon"></i> Added
          {{else}}
            {{#if ongoing}}
              <i class="red edit icon"></i> Ongoing
            {{else}}
              <i class="blue checkered flag icon"></i> Finished
            {{/if}}
          {{/if}}
        {{/with}}
      </div>
    {{else}}
      <div class="add-to-quiz-button ui bottom attached button">
        <i class="add icon"></i>
        Add
      </div>
    {{/if}}
  </div>
</template>
