<template name="quizPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'quizEditPage' courseId=course._id quizId=quiz._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="checkmark box icon"></i>
			<div class="content">
				{{quiz.title}}
				<div class="sub header">{{quiz.description}}</div>
			</div>
		</h1>
    <div class="ui grid">
			{{#if quiz.ongoing}}
				<div class="ten wide column">
					Started: <strong>{{formatDate quiz.startDate}}</strong> at <strong>{{formatTime quiz.startDate}}</strong> by
					{{log2 'outside; quiz.startedBy=' quiz.startedBy}}
					{{#with getUser quiz.startedBy}}
						{{log2 'within #with getUser' this}}
						{{#if this}}
							{{>userStatusLabel user=this courseId=../course._id}}
						{{/if}}
					{{/with}}
				</div>
			{{else}}
				<div class="ten wide column">
					Scheduled for: <strong>{{formatDate quiz.date}}</strong> (~ {{formatDateFromNow quiz.date}})
				</div>
			{{/if}}
			<div class="six wide right aligned column">
				Duration: <strong>{{quiz.duration}} minutes</strong>
			</div>
    </div>
		{{>quizPageMenu}}
		{{>quizStatusPanel}}
    <h2 class="ui dividing header">
      <div class="content">
        Covered Topics
        <div class="sub header">This quiz covers the following topics</div>
      </div>
    </h2>
    <div id="topic-card-container" class="ui two cards">
			{{#each getTopics quiz.topicIds}}
				{{>topicCardWithoutDescription}}
			{{/each}}
		</div>
		{{#if isOnTeachingTeam courseId}}
			<h2 class="ui header">
	      <div class="content">
	        Problems
	        <div class="sub header">This quiz includes the following problems</div>
	      </div>
	    </h2>
			<div class="ui celled list">
				{{log2 "outer-this" this}}
				{{#each quiz.practiceProblemIds}}
					{{log2 "middle-this" this}}
					{{#with getPracticeProblem this}}
						{{log2 "inner-this" this}}
						<div class="item">
							{{#with getTopic topicId}}
								{{#with getTheme themeId}}
									<i class="circular inverted {{color}} {{icon}} icon"></i>
								{{/with}}
							{{/with}}
		          <div class="content">
								<div class="description">
									{{#with getTopic topicId}}
										{{title}}
									{{/with}}
								</div>
								<div class="header">
									{{>clickablePracticeProblemTitle}}
								</div>
								<div class="extra">
									<div class="ui list">
										{{#each skillIds}}
											{{#with getSkill this}}
												<div class="item">
													<i class="target icon"></i>
													<div class="content">
														{{title}}
													</div>
												</div>
											{{/with}}
										{{/each}}
									</div>
								</div>
		          </div>
						</div>
					{{/with}}
				{{/each}}
			</div>
		{{/if}}
  </div>
</template>
