<template name="quizListPageMenu">
  {{#if isOnTeachingTeam courseId}}
    <div class="ui attached feature segment">
    	<div class="ui secondary  menu">
        <a class="{{isActiveRoute 'quizListPage'}} item" href="{{pathFor 'quizListPage' courseId=courseId}}">
          <i class="home icon"></i> Show
        </a>
        <a class="{{isActiveRoute 'quizListOutcomePage'}} item" href="{{pathFor 'quizListOutcomePage' courseId=courseId}}">
          <i class="bar chart icon"></i> Outcome
        </a>
    	</div>
    </div>
  {{/if}}
</template>
