<template name="quizEditPageUsePracticeProblem">
  {{#if isPracticeProblemInQuiz}}
    <button class="clear-use-button right floated compact green ui icon button"><i class="checkmark icon"></i></button>
  {{else}}
    <button class="set-use-button right floated compact ui icon button"><i class="checkmark icon"></i></button>
  {{/if}}
</template>
