<template name="quizEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="checkmark box icon"></i>
			<div class="content">
				{{quiz.title}}
				<div class="sub header">{{quiz.description}}</div>
			</div>
		</h1>

		<h2>Edit Quiz Information</h2>
		<form class="update-form ui form">
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" class="title-field" placeholder="Short title" value="{{quiz.title}}">
			</div>
			<div class="field">
				<label>Description:</label>
				<input type="text" name="description" class="description-field" placeholder="One-sentence description of this quiz" value="{{quiz.description}}">
			</div>
      <div class="two fields">
        <div class="field">
          <label>Date:</label>
          <div class="ui icon input">
            <i class="calendar icon"></i>
            <input class="datepicker date" type="text" name="date" data-value="{{formatDateForPickadate quiz.date}}">
          </div>
        </div>
        <div class="field">
  				<label>Duration:</label>
          <div class="ui right labeled input">
    				<input type="text" name="duration" class="duration-field" placeholder="duration" value="{{quiz.duration}}">
            <div class="ui basic label">minutes</div>
          </div>
  			</div>
      </div>
			<button class="ui blue submit button">Submit</button>
		</form>
	</div>

	<div class="ui attached feature segment">
		<h2>Define Quiz Topics</h2>
		<p>
			Pick the topics you intend to test in this quiz.
		</p>
		<div class="ui celled list">
			{{#each getTopics quiz.topicIds}}
				<div class="item">
					<button class="remove-topic-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					{{#with getTheme themeId}}
						<i class="circular inverted {{color}} {{icon}} icon"></i>
					{{/with}}
					<div class="content">
						<div class="header">
							<a href="{{pathFor 'topicPage' courseId=courseId topicId=_id}}">
								{{#if title}}
									{{title}}
								{{else}}
									<i>Untitled topic</i>
								{{/if}}
							</a>
						</div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each getTopics quiz.topicIds}}
		{{else}}
			<p>
				This quiz is not yet related to any topics.
			</p>
		{{/each}}
		<p>
			<div class="add-topic-dropdown ui compact green floating dropdown labeled icon button">
				<i class="plus icon"></i>
				<span class="text">Add Topic</span>
				<div class="menu">
					<div class="ui icon search input">
						<i class="search icon"></i>
						<input type="text" name="search" placeholder="Search topics...">
					</div>
					<div class="divider"></div>
					{{#each getCourseTopics courseId}}
						<div class="item" data-value="{{_id}}">
							{{#with getTheme themeId}}
								<i class="circular inverted {{color}} {{icon}} icon"></i>
							{{/with}}
							{{#if title}}
								{{title}}
							{{else}}
								<i>Untitled topic</i>
							{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
		</p>
	</div>

  <div class="ui attached feature segment">
		<h2>Select Problems</h2>
		<p>
			Here are all the problems available for the above topics.
      Pick the ones you want to include in this quiz.
		</p>
    {{#with getPracticeProblems quiz.topicIds}}
      {{> reactiveTable collection=this settings=makeSettings}}
    {{/with}}
  </div>

  <div class="ui attached feature segment">
		<h2>Check Skill Coverage</h2>
		<p>
			Here are all the skills of the above topics,
      and an indication of which skills are covered by the problems in this quiz.
		</p>
    <div class="ui celled list">
      {{#each getSkills quiz.topicIds}}
        <div class="item">
          <!--<div class="right floated compact blue icon ui label"><i class="checkmark icon"></i></div>-->
					{{#if isSkillCoveredInQuiz _id ../quiz}}
          	<i class="right floated checkmark icon"></i>
					{{/if}}
          <i class="bullseye icon"></i>
          <div class="content">
            <div class="description">
              {{#with getTopic topicId}}
                {{title}}
              {{/with}}
            </div>
            <div class="header"><a href="{{pathFor "skillPage" courseId=courseId skillId=_id}}">{{title}}</a></div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</template>
