<template name="quizListEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="checkmark box icon"></i>
			<div class="content">
				Quizzes
				<div class="sub header">Quizzes for {{course.abbreviation}} {{course.instance}}</div>
			</div>
		</h1>
		<form class="ui form">
			<div class="field">
				<label>Why do the quizzes?</label>
				{{>markdownLabel}}
				<textarea name="introduction" class="introduction-field">{{course.quizListIntroduction}}</textarea>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>
		<h2>Edit the List of Quizzes</h2>
		<div class="ui celled list">
			{{#each quizzes}}
				<div class="item">
					<button class="remove-quiz-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor "quizEditPage" courseId=courseId quizId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="checkmark box icon"></i>
					<div class="content">
						<div class="header"><a href="{{pathFor 'quizPage' courseId=courseId quizId=_id}}">{{title}}</a></div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each quizzes}}
		{{else}}
			<p>
				This course does not yet have any quizzes.
			</p>
		{{/each}}
		<p>
			<button class="add-quiz-button compact green ui button"><i class="plus icon"></i> Add Quiz</button>
		</p>
	</div>
</template>
