<template name="masteryCheckListPage">
	{{>masteryCheckListPageHeader}}
	{{>masteryCheckListPageMenu}}
	<div class="ui attached feature segment">
		{{#if isOnTeachingTeam courseId}}
			<h3 class="ui header">
				<div class="content">All Finished Checks</div>
			</h3>
			{{> masteryCheckTable ofCourseId=_id ofStudentId=undefined ofTesterId=undefined ongoing=false}}
    {{else}}
			<h3 class="ui header">
				<div class="content">Finished Checks</div>
			</h3>
			{{> masteryCheckTable ofCourseId=_id ofStudentId=currentUser._id ofTesterId=undefined ongoing=false}}
    {{/if}}
	</div>
</template>
