<template name="masteryCheckListPageMenu">
  <div class="ui attached feature segment">
  	<div class="ui secondary  menu">
      {{#if isOnTeachingTeam courseId}}
        <a class="{{isActiveRoute "masteryCheckRegistrationListPage"}} item" href="{{pathFor 'masteryCheckRegistrationListPage' courseId=courseId}}">
          <i class="sign in icon"></i> Prepared
        </a>
        <a class="{{isActiveRoute "masteryCheckQueuePage"}} item" href="{{pathFor 'masteryCheckQueuePage' courseId=courseId}}">
          <i class="wait icon"></i> Queued
        </a>
        <a class="{{isActiveRoute "masteryCheckOngoingListPage"}} item" href="{{pathFor 'masteryCheckOngoingListPage' courseId=courseId}}">
          <i class="play icon"></i> Ongoing
        </a>
      {{else}}
        <a class="{{isActiveRoute "masteryCheckPreparationPage"}} item" href="{{pathFor 'masteryCheckPreparationPage' courseId=courseId}}">
          <i class="sign in icon"></i> Prepare
        </a>
      {{/if}}
      <a class="{{isActiveRoute "masteryCheckListPage"}} item" href="{{pathFor 'masteryCheckListPage' courseId=courseId}}">
        <i class="sign out icon"></i> Finished
      </a>
  	</div>
  </div>
</template>
