<!--
all existing registrations in the course
for teaching team only
-->
<template name="masteryCheckPreparationPage">
  {{>masteryCheckListPageHeader}}
	{{>masteryCheckListPageMenu}}
  <div class="ui attached feature segment">
    {{#if getMyMasteryCheckRegistration courseId}}
      {{#with getMyMasteryCheckRegistration courseId}}
        {{#if isRegistrationEnqueued _id}}
          <h3 class="ui header">
            <div class="content">Wait for Check</div>
          </h3>
          <p>
            Your request is in the queue.
            You will be called by a teaching team member for your check.
          </p>
          <p>
            <button class="dequeue-mastery-check-registration-button ui red button">Leave Queue</button>
          </p>
        {{else}}
          {{#if doesRegistrationHaveCheck _id}}
            <h3 class="ui header">
              <div class="content">Your Check is Ongoing</div>
            </h3>
            {{#with getRegistrationCheck _id}}
              Please go to
              {{#with getUser testerId}}
                {{> userStatusLabel user=this courseId=../courseId}}
              {{/with}}
              for the mastery check.
            {{/with}}
          {{else}}
            <h3 class="ui header">
              <div class="content">Prepare for Check</div>
            </h3>
            {{#if getLab labId}}
              <h4 class="ui header">
                <div class="content">Lab</div>
              </h4>
              <p>
                You will demonstrate your skills
                in the context of your solution to this lab:
              </p>
              {{#with getLab labId}}
                <div class="ui celled list">
                  <div class="item">
                    <i class="lab icon"></i>
                    <div class="content">
                      <a href="{{pathFor 'labPage' courseId=courseId labId=_id}}" class="header">{{title}}</a>
                      <div class="description">
                        {{description}}
                      </div>
                    </div>
                  </div>
                </div>
              {{/with}}

              <h4 class="ui header">
                <div class="content">Team</div>
              </h4>
              {{#with getLab labId}}
                {{#with getLabTeam _id}}
                  {{#if moreThanOneElements memberIds}}
                    <p>
                      You will do this mastery check as a team.
                    </p>
                    <p>
                      {{#each memberIds}}
                        {{#with getUser this}}
                          {{> userStatusLabel user=this courseId=courseId}}
                        {{/with}}
                      {{/each}}
                    </p>
                  {{else}}
                    <p>
                      You are a team of one. You won't have any partners in this mastery check.
                    </p>
                  {{/if}}
                {{/with}}
              {{/with}}

            {{/if}}

            <h4 class="ui header">
              <div class="content">Topics</div>
            </h4>
            <table class="ui table">
              <thead>
                <tr>
                  <th>Topic</th>
                  <th class="collapsing"></th>
                </tr>
              </thead>
              <tbody>
                {{#each topicIds}}
                  <tr>
                    <td>
                      {{#with getTopic .}}
                        {{#with getTheme themeId}}
                          <i class="circular inverted {{color}} {{icon}} icon"></i>
                        {{/with}}
                        <a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">{{title}}</a>
                      {{/with}}
                    </td>
                    <td>
                      <button class="remove-topic-button compact red ui button">Remove</button>
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <h3 class="ui center aligned disabled icon header">
                      <i class="marker icon"></i>
                      No Topics Yet
                      <div class="sub header">Add topics on the <a href="{{pathFor 'topicListPage' courseId=courseId}}">topics page</a></div>
                    </h3>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            {{#if topicIds}}
              <p>
                Want to check more topics? Add them on the <a href="{{pathFor 'topicListPage' courseId=courseId}}">topics page</a>.
              </p>
            {{/if}}

            <h4 class="ui header">
              <div class="content">What Next</div>
            </h4>
            <p>
              Once you are done selecting topics,
              and once the mastery check session has started,
              you can enter the queue to get checked.
              Or you can cancel this preparation at any time, and start a new one.
            </p>
            <p>
              <button class="delete-mastery-check-registration-button ui red button">Cancel Preparation</button>
              <button class="enqueue-mastery-check-registration-button ui blue button">Enter Queue</button>
            </p>
          {{/if}}
        {{/if}}
      {{/with}}
    {{else}}
      <h3 class="ui header">
        <div class="content">Prepare for a Check</div>
      </h3>
      <p>
        First, pick the lab you want to use for demonstrating your skills.
        You will do the check together with your lab team.
      </p>
      <form class="ui form">
  			<div class="field">
  				<label>Lab:</label>
          <div class="lab-dropdown ui fluid search selection dropdown">
            <input type="hidden" name="lab" class="lab-input">
            <i class="dropdown icon"></i>
            <div class="default text">Select Lab</div>
            <div class="menu">
              <div class="item" data-value="">No lab</div>
              {{#each getLabsWithTeams courseId}}
                <div class="item" data-value="{{_id}}"><i class="small circular lab icon"></i>{{title}}</div>
              {{/each}}
            </div>
          </div>
  			</div>
        <button class="ui blue submit button">Prepare</button>
  		</form>
    {{/if}}
  </div>
</template>
