<template name="masteryCheckListPageHeader">
  <div class="ui top attached feature segment">
    <h1 class="ui header">
      <i class="trophy icon"></i>
      <div class="content">
        Mastery Checks
        <div class="sub header">
          {{#if isOnTeachingTeam courseId}}
            Check students' mastery of topics
          {{else}}
            Have the teaching team check your mastery of topics
          {{/if}}
        </div>
      </div>
    </h1>
  </div>
</template>
