<!--
all existing registrations in the course
for teaching team only
-->
<template name="masteryCheckRegistrationListPage">
  {{>masteryCheckListPageHeader}}
	{{>masteryCheckListPageMenu}}
  <div class="ui attached feature segment">
    {{#if isOnTeachingTeam courseId}}
      <h3 class="ui header">
        <div class="content">All Prepared Checks</div>
      </h3>
      <table class="ui table">
    		<thead>
    			<tr>
    				<th class="collapsing">Date</th>
    				<th class="collapsing">Students</th>
            <th>Lab</th>
    				<th>Topics</th>
    			</tr>
    		</thead>
    		<tbody>
    			{{#each getAllMasteryCheckRegistrations courseId}}
    				<tr>
    					<td>
    						<strong>
    							Week {{formatWeekInCourse courseId creationDate}}<br>
    							{{formatWeekday creationDate}}<br>
    						</strong>
    						{{formatTime creationDate}}
    					</td>
    					<td>
                {{#each studentIds}}
      						{{#with getUser .}}
      							{{> userStatusLabel user=this courseId=courseId}}
      						{{/with}}
                {{/each}}
    					</td>
              <td>
                {{#if getLab labId}}
                  {{#with getLab labId}}
                    <p>
                      <i class="small circular lab icon"></i>
                      <a href="{{pathFor 'labPage' courseId=courseId labId=_id}}">{{title}}</a>
                    </p>
                  {{/with}}
                {{else}}
                  <p><i>No lab</i></p>
                {{/if}}
              </td>
    					<td>
    						<div class="ui divided list">
    							{{#each topicIds}}
    								<div class="item">
    									{{#with getTopic .}}
    										{{#with getTheme themeId}}
    											<i class="circular inverted {{color}} {{icon}} icon"></i>
    										{{/with}}
    									{{/with}}
  										<div class="content">
    										{{#with getTopic .}}
    											<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">{{title}}</a>
    										{{/with}}
    									</div>
    								</div>
    							{{/each}}
    						</div>
    					</td>
    				</tr>
    			{{else}}
    				<tr>
    					<td colspan="4">
    						No mastery check registrations yet.
    					</td>
    				</tr>
    			{{/each}}
    		</tbody>
    	</table>
    {{/if}}
  </div>
</template>
