<template name="newMasteryCheckPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
      <i class="trophy icon"></i>
			<div class="content">
				Mastery Check
				<div class="sub header">
					Week {{formatWeekInCourse courseId startDate}},
					{{formatWeekday startDate}},
					{{formatTime startDate}}
				</div>
			</div>
		</h1>
  </div>
  <div class="ui attached feature segment">
    <div class="ui grid">
      {{#if studentIds}}
        <div class="two wide column">
          Students:
        </div>
        <div class="six wide column">
          {{#each studentIds}}
            {{#with getUser .}}
              {{> userStatusLabel user=this courseId=courseId}}
            {{/with}}
          {{/each}}
        </div>
      {{else}}
        <div class="two wide column">
          Student:
        </div>
        <div class="six wide column">
          {{#with getUser .}}
            {{> userStatusLabel user=this courseId=courseId}}
          {{/with}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="ui attached feature segment">
		{{#if isMeOrOnTeachingTeam studentIds courseId}}
			<div class="ui grid">
      		<div class="two wide column">
  					Tester:
          </div>
          <div class="six wide column">
					{{#with getUser testerId}}
            {{> userStatusLabel user=this courseId=../courseId}}
					{{/with}}
	    		</div>
	    		<div class="eight wide right aligned column">
	    			{{#if finished}}
	    				Duration:
	    				<strong>{{getDurationInMinutes startDate endDate}} minutes</strong>
	    			{{else}}
						<i class="spinner icon"></i>
						Duration so far:
						<strong>{{getMinutesSincePageRendered}} minutes</strong>
					{{/if}}
	    		</div>
	    	</div>
			<table class="ui compact table">
				{{#each getTopicChecksForMasteryCheck _id}}
					{{>newTopicCheckTablePart masteryCheck=.. topicCheck=.}}
				{{/each}}
			</table>
			{{#if isOnTeachingTeam courseId}}
				<div class="ui secondary segment">
					{{#if finished}}
						<h5 class="ui header">Notes for the teaching team (hidden from student):</h5>
						{{#markdownFix}}{{notes}}{{/markdownFix}}
					{{else}}
						<div class="ui form">
							<div class="field">
								<label>Notes for teaching team (hidden from student)</label>
								{{>markdownLabel}}
								<textarea class="mastery-check-notes" placeholder="Enter notes about this mastery check for the teaching team">{{notes}}</textarea>
							</div>
						</div>
					{{/if}}
				</div>
			{{/if}}
			{{#unless finished}}
				<button class="finish-mastery-check-button compact blue ui button">Finish</button>
			{{/unless}}
		{{else}}
			DEBUG: NOPE
		{{/if}}
		{{#if isRegisteredAsInstructor courseId}}
			<div class="ui error message">
				<div class="header">
					Modify Mastery Check Result
				</div>
				<p>
					This mastery check has been finished.
					It shouldn't really be changed.
					However, if some mistake was made, you, as the instructor,
					can reopen (and edit) the check, or you can delete it.
				</p>
				<div class="ui grid">
					{{#if finished}}
						<div class="three wide column">
							<button class="reopen-mastery-check-button fluid yellow ui button">Reopen</button>
						</div>
						<div class="thirteen wide column">
							If you reopen it, you can edit
							the feedback and skills mastered for each topic, and the comment for the teaching team.
							You cannot modify the start or end date or the tester.
						</div>
					{{/if}}
					<div class="three wide column">
						<button class="delete-mastery-check-button fluid red ui button">Delete</button>
					</div>
					<div class="thirteen wide column">
						<strong>Warning!</strong>
						If you delete this check, it will be gone.
						Moreover, if the student had mastered a topic in this check,
						that topic will not be mastered anymore.
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</template>
