<!--
masteryCheck
topicCheck
skillCheck
-->
<template name="newSkillCheckRow">
	<tr>
		{{#with getSkill skillCheck.skillId}}
			<td class="center aligned collapsing"><i class="bullseye icon"></i></td>
			<td><strong>{{title}}</strong><br>{{#markdownFix}}{{description}}{{/markdownFix}}</td>
			<td class="collapsing">
				{{#each ../masteryCheck.studentIds}}
					<div class="ui {{getSkillStatusColor ../_id .}} empty circular label skill-label"></div>
					<div class="ui popup">
						{{#with getUser .}}
					  	<div class="header">{{profile.firstName}} {{profile.lastName}}</div>
						{{/with}}
					</div>
				{{/each}}
			</td>
			<td class="collapsing">
				{{#if ../masteryCheck/finished}}
					{{#if ../skillCheck.mastered}}
						<i class="green checkmark icon"></i>
					{{else}}
						not yet
					{{/if}}
				{{else}}
					{{#if ../skillCheck.mastered}}
						<button class="clear-mastered-button right floated compact green ui icon button"><i class="checkmark icon"></i></button>
					{{else}}
						<button class="set-mastered-button right floated compact ui icon button"><i class="checkmark icon"></i></button>
					{{/if}}
				{{/if}}
			</td>
		{{/with}}
	</tr>
</template>
