<!--
masteryCheck
topicCheck
-->
<template name="newTopicCheckTablePart">
	<thead>
		<tr>
			{{#with getTopic topicCheck.topicId}}
				<th class="collapsing">
					{{#with getTheme themeId}}
						<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
					{{/with}}
				</th>
				<th>
					<strong>{{title}}</strong>
				</th>
				<th colspan="2" class="collapsing">
					{{#if ../topicCheck.mastered}}
						<div class="ui label"><i class="trophy icon"></i>Mastered</div>
					{{else}}
						Mastered?
					{{/if}}
				</th>
			{{/with}}
		</tr>
		{{#if masteryCheck.studentIds}}
			{{#each masteryCheck.studentIds}}
				<tr>
					<th></th>
					<th>
						{{#each getStudyTasksForTopic ../topicCheck.topicId}}
							<div class="ui {{getStudyTaskStatusColor _id ..}} circular icon label study-task-label"><i style="margin: 0em" class="{{iconForStudyTaskKind kind}} icon"></i></div>
							<div class="ui popup">
								<h3 class="ui header">{{title}}</h3>
								{{description}}
							</div>
						{{/each}}
					</th>
					<th colspan="2">
						{{#with getUser .}}
							{{> userStatusLabel user=this courseId=courseId}}
						{{/with}}
					</th>
				</tr>
			{{/each}}
		{{/if}}
	</thead>
	<tbody>
		{{#each getSkillChecksForTopicCheck topicCheck._id}}
			{{>newSkillCheckRow masteryCheck=../masteryCheck topicCheck=../topicCheck skillCheck=.}}
		{{/each}}
		<tr style="color: #7d6c00; background-color: #fffbe6">
			<td></td>
			<td colspan="3">
				{{#if masteryCheck.finished}}
					{{#if topicCheck.feedback}}
						<p>
							<strong>Feedback:</strong>
							<br>
							{{#markdownFix}}{{topicCheck.feedback}}{{/markdownFix}}
						</p>
					{{else}}
						<p><i>No feedback.</i></p>
					{{/if}}
				{{else}}
					<div class="ui form">
						<div class="field">
							{{#with getTopic topicCheck.topicId}}
								<label>Feedback for student on their {{title}} skills</label>
							{{/with}}
							{{>markdownLabel}}
							<textarea class="topic-feedback" placeholder="Enter actionable feedback">{{topicCheck.feedback}}</textarea>
						</div>
					</div>
				{{/if}}
			</td>
		</tr>
	</tbody>
</template>
