<template name="labEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>

		<h2>Edit Lab Information</h2>
		<form class="update-form ui form">
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" class="title-field" placeholder="Short title" value="{{lab.title}}">
			</div>
			<div class="field">
				<label>Description:</label>
				<input type="text" name="description" class="description-field" placeholder="One-sentence description of this lab" value="{{lab.description}}">
			</div>
			<div class="two fields">
        <div class="field">
          <label>Deadline Date:</label>
          <div class="ui icon input">
            <i class="calendar icon"></i>
            <input class="datepicker date" type="text" name="deadlineDate" data-value="{{formatDateForPickadate lab.deadlineDate}}">
          </div>
        </div>
        <div class="field">
  				<label>Time:</label>
          <div class="ui input">
    				<input class="timepicker" type="text" name="deadlineTime" data-value="{{formatDateForPickatime lab.deadlineDate}}">
          </div>
  			</div>
      </div>
			<div class="field">
				<label>Team Size:</label>
				<div class="ui right labeled input">
					<input type="text" name="groupSize" value="{{lab.groupSize}}">
					<div class="ui basic label">students</div>
				</div>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>
	</div>

	<div class="ui attached feature segment">
		<h2>Status</h2>
		{{>labStatusPanel}}
	</div>

	<div class="ui attached feature segment">
		<h2>Define Lab Topics</h2>
		<p>
			The purpose of a lab is for students to practice
			integrating skills from multiple topics
			in the context of a meaningful small project.
		</p>
		<p>
			Include only the most relevant topics covered in this lab.
		</p>
		<div class="ui celled list">
			{{#each getTopics lab.topicIds}}
				<div class="item">
					<button class="remove-topic-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					{{#with getTheme themeId}}
						<i class="circular inverted {{color}} {{icon}} icon"></i>
					{{/with}}
					<div class="content">
						<div class="header">
							<a href="{{pathFor 'topicPage' courseId=courseId topicId=_id}}">
								{{#if title}}
									{{title}}
								{{else}}
									<i>Untitled topic</i>
								{{/if}}
							</a>
						</div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each getTopics lab.topicIds}}
		{{else}}
			<p>
				This lab is not yet related to any topics.
			</p>
		{{/each}}
		<p>
			<div class="add-topic-dropdown ui compact green floating dropdown labeled icon button">
				<i class="plus icon"></i>
				<span class="text">Add Topic</span>
				<div class="menu">
					<div class="ui icon search input">
						<i class="search icon"></i>
						<input type="text" name="search" placeholder="Search topics...">
					</div>
					<div class="divider"></div>
					{{#each getCourseTopics courseId}}
						<div class="item" data-value="{{_id}}">
							{{#with getTheme themeId}}
								<i class="circular inverted {{color}} {{icon}} icon"></i>
							{{/with}}
							{{#if title}}
								{{title}}
							{{else}}
								<i>Untitled topic</i>
							{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
		</p>
	</div>

	<div class="ui bottom attached feature segment">
		<h2>Edit Lab Content</h2>
		<p>
			<div class="insert-item-in-front-dropdown ui compact green icon top left pointing dropdown button">
				<i class="plus icon"></i> Add Content Item
				<div class="menu">
					<div class="header">Insert at Beginning</div>
					<div class="insert-item-in-front item" data-kind="section">Section Header</div>
					<div class="insert-item-in-front item" data-kind="subsection">Subsection Header</div>
					<div class="insert-item-in-front item" data-kind="subsubsection">Subsubsection Header</div>
					<div class="insert-item-in-front item" data-kind="markdown">Markdown Content</div>
					<div class="insert-item-in-front item" data-kind="mathjax">MathJax (Latex Math)</div>
					<div class="insert-item-in-front item" data-kind="code">Code</div>
					<div class="insert-item-in-front item" data-kind="question">Question</div>
					<div class="insert-item-in-front item" data-kind="question-flowchart">Flow Chart Question</div>
					<div class="insert-item-in-front item" data-kind="image">Image</div>
					<div class="insert-item-in-front item" data-kind="fileSubmission">File Submission</div>
				</div>
			</div>
		</p>

		<div id="items">
			{{#each contentItems}}
				{{>labItemEditor}}
			{{/each}}
		</div>

	</div>
</template>
