<template name="labGradingPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
    </h1>
  </div>
  {{>labPageMenu}}
	<div class="ui attached feature segment">
    {{#if isOnTeachingTeam courseId}}
      <h2>Grade Submissions</h2>
      <p>
        You can switch between two different perspectives while grading.
        With <strong>submissions by item</strong> you get one page for each item,
        listing all team's submissions for that item.
        With <strong>submissions by team</strong> you get one page for each team,
        listing all the items submitted by that team.
      </p>
      <h3>Submissions by Items</h3>
      <div class="ui three column grid">
        {{#each getQuestionItems lab._id}}
          <div class="column">
            <a class="ui fluid card" href="{{pathFor 'labItemGradingPage' courseId=courseId labId=../lab._id itemId=_id}}">
              <div class="content">
                <i class="right floated black {{#if equals kind 'question'}}help{{else}}upload{{/if}} icon"></i>
                <div class="header">
                  Item {{index}}
                </div>
                <div class="meta">
                  {{#if equals kind 'question'}}Answers{{else}}Uploads{{/if}}
                </div>
                {{#if equals kind 'question'}}
                  <div>
                    {{truncate text 50}}...
                  </div>
                {{/if}}
              </div>
              <div class="extra content">
                {{#if equals kind 'question'}}
                  <span class="right floated">
                    {{getItemSubmissionCount}} Teams
                  </span>
                {{else}}
                  <span class="right floated">
                    {{getItemUploadCount}} Teams
                  </span>
                {{/if}}
              </div>
            </a>
          </div>
        {{/each}}
      </div>
      <h3>Submissions by Teams</h3>
      <div class="ui three column grid">
        {{#each getTeams lab._id}}
          <div class="column">
            <a class="ui fluid card" href="{{pathFor 'labTeamGradingPage' courseId=courseId labId=../lab._id teamId=_id}}">
              <div class="content">
                <i class="right floated black group icon"></i>
                <div class="header">
                  Team <!--{{_id}}-->
                  &nbsp;&nbsp;<span style="font-weight: normal;">{{creationApproach}}</span>
                </div>
                <div class="meta">
                  Created: <strong>{{formatDateFromNow creationDate}}</strong>
                </div>
                <div class="team existing-team">
                  {{#each memberIds}}
                    {{#with getUser this}}
                      {{> userStatusLabel user=this courseId=../../courseId}}
                    {{/with}}
                  {{/each}}
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  <!--<i class="upload icon"></i>-->
                  {{getUploadCount}} Uploads
                </span>
                <span>
                  <!--<i class="question icon"></i>-->
                  {{getSubmissionCount}} Answers
                </span>
              </div>
            </a>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
