<template name="labItemContents">
	{{#if kindIs "section"}}
		<h2 class="ui dividing header">{{title}}</h2>
	{{/if}}
	{{#if kindIs "subsection"}}
		<h3 class="ui header">{{title}}</h3>
	{{/if}}
	{{#if kindIs "subsubsection"}}
		<h4 class="ui header">{{title}}</h4>
	{{/if}}
	{{#if kindIs "markdown"}}
		{{#markdownFix}}{{text}}{{/markdownFix}}
	{{/if}}
	{{#if kindIs "mathjax"}}
		{{#mathjax}}<p>{{text}}</p>{{/mathjax}}
	{{/if}}
	{{#if kindIs "code"}}
		<!-- using https://atmospherejs.com/simple/highlight.js -->
		{{#markdownFix}}
```{{lang}}
{{text}}
```
		{{/markdownFix}}
	{{/if}}
	{{#if kindIs "question-flowchart"}}
		{{>labItemFlowchartQuestion}}
	{{/if}}
	{{#if kindIs "question"}}
		<div class="ui blue message">
			{{#if typeIs "textarea"}}
				<div class="header">
					<i class="bordered inverted blue question icon"></i>
					Question
				</div>
				{{#markdownFix}}{{text}}{{/markdownFix}}
				{{#if isRegisteredAsAnything courseId}}
					<form class="ui form">
						{{#if hasTeamSubmission _id}}
							{{#with getTeamSubmission _id}}
								{{#with ..}}
									<textarea {{readonlyUnlessLabIsOpen}} class="question-field" style='{font-family: monospace}'>{{../value}}</textarea>
								{{/with}}
								<p>
									Last submitted {{formatDateFromNow modificationDate}} by
									{{#with getUser submitterId}}
										{{> userStatusLabel user=this courseId=../../courseId}}
									{{/with}}
								</p>
							{{/with}}
						{{else}}
							{{#if isOnTeachingTeam courseId}}
								{{#if isActiveRoute "labReferenceSolutionPage|labRubricPage"}}
									{{#if hasReferenceSubmission _id}}
										{{#with getReferenceSubmission _id}}
											{{#with ..}}
												<textarea class="reference-question-field" style='{font-family: monospace}'>{{../value}}</textarea>
											{{/with}}
											<p>
												Last submitted {{formatDateFromNow modificationDate}} by
												{{#with getUser submitterId}}
													{{> userStatusLabel user=this courseId=../../courseId}}
												{{/with}}
											</p>
										{{/with}}
									{{else}}
										<textarea class="reference-question-field" style='{font-family: monospace}'>{{contents}}</textarea>
									{{/if}}
								{{else}}
									<div class="ui message">
										<p>
											The answer would go here.
										</p>
									</div>
								{{/if}}
							{{else}}
								{{#if labIsOpenOrClosed _id}}
									{{#if labHasTeam _id}}
										<textarea {{readonlyUnlessLabIsOpen}} class="question-field" style='{font-family: monospace}'>{{contents}}</textarea>
									{{else}}
										<div class="ui message">
									    <p>
									      You need to be in a team to submit an answer.
									    </p>
									  </div>
									{{/if}}
								{{else}}
									<div class="ui message">
										<p>
											This lab must be open for you to submit an answer.
										</p>
									</div>
								{{/if}}
							{{/if}}
						{{/if}}
						{{#if countOwnSubmissionsOutsideTeam _id}}
							<p>
								The following {{countOwnSubmissionsOutsideTeam _id}} submission(s)
								were created by you or your prior team mates before your current team was set up.
								<strong>They will not be used for grading!</strong>
								We only show them here so you can see them
								and use them for completing the submission to be graded above.
							</p>
							{{#each getOwnSubmissionsOutsideTeam _id}}
								{{#with ..}}
									<textarea readonly style='{color: grey; background-color: #e0e0e0; font-family: monospace}'>{{../value}}</textarea>
								{{/with}}
								<p>
									Submitted {{formatDateFromNow modificationDate}} by
									{{#with getUser submitterId}}
										{{> userStatusLabel user=this courseId=../../courseId}}
									{{/with}}
								</p>
							{{/each}}
						{{/if}}
					</form>
				{{else}}
					{{>labLoginAndRegisterMessage}}
				{{/if}}
			{{/if}}
		</div>
	{{/if}}
	{{#if kindIs "image"}}
		<div class="ui segment">
			<img class="ui centered image" src="{{url}}">
		</div>
	{{/if}}
	{{#if kindIs "fileSubmission"}}
		{{>labSubmissionUploadArea}}
		{{>labSubmissionFileList}}
	{{/if}}
</template>
