<template name="labItemFlowchartQuestion">
  <div class="ui blue message">
    <div class="header">
      <i class="bordered inverted blue question icon"></i>
      Question
    </div>
    {{#markdownFix}}{{text}}{{/markdownFix}}

    <div class="stencil"></div>
    <div class="paper" style="position: relative"></div>
    <span class="ui button save-button">Save</span>

  </div>
</template>
