<template name="labListEditPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circled lab icon"></i>
			<div class="content">
				Labs
				<div class="sub header">Labs to Complete in {{course.abbreviation}} {{course.instance}}</div>
			</div>
		</h1>
		<form class="ui form">
			<div class="field">
				<label>Why do the labs?</label>
				{{>markdownLabel}}
				<textarea name="introduction" class="introduction-field">{{course.labListIntroduction}}</textarea>
			</div>
			<button class="ui blue submit button">Submit</button>
		</form>
		<h2>Edit the List of Labs</h2>
		<div class="ui celled list">
			{{#each labs}}
				<div class="item">
					<button class="remove-lab-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					<a href="{{pathFor "labEditPage" courseId=courseId labId=_id}}"><div class="right floated compact blue icon ui button"><i class="edit icon"></i></div></a>
					<i class="lab icon"></i>
					<div class="content">
						<div class="header"><a href="{{pathFor 'labPage' courseId=courseId labId=_id}}">{{title}}</a></div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		{{#each labs}}
		{{else}}
			<p>
				This course does not yet have any labs.
			</p>
		{{/each}}
		<p>
			<button class="add-lab-button compact green ui button"><i class="plus icon"></i> Add Lab</button>
		</p>
	</div>
</template>
