<template name="labListOutcomePage">
	{{>labListPageHeader}}
	{{>labListPageMenu}}
	{{#with getLabScoreSummary courseId}}
  	<div class="ui attached feature segment">
	    <table class="ui table">
	      <thead>
	        <tr>
	          <th>Lab:</th>
	          {{#each getPastNonHiddenLabs courseId}}
	            <th><a href="{{pathFor 'labOutcomePage' courseId=courseId labId=_id}}">{{title}}</a></th>
	          {{/each}}
	        </tr>
	        <tr>
	          <th>Max Score:</th>
	          {{#each getPastNonHiddenLabs courseId}}
	            <th>{{extractMaxScore .. _id}}</th>
	          {{/each}}
	        </tr>
	      </thead>
	      <tbody>
	        {{#each getApprovedNotWithdrawnUsers courseId}}
	          <tr>
	            <td>{{> userStatusLabel user=this courseId=../courseId}}</td>
	            {{#each getPastNonHiddenLabs ../courseId}}
                <td><a href="{{pathFor 'userLabPage' courseId=courseId userId=../_id labId=_id}}">{{extractScore ../.. _id ../_id}}</a></td>
	            {{/each}}
	          </tr>
	        {{/each}}
	      </tbody>
	    </table>
  	</div>
	{{/with}}
	{{>computeLabScoreSummaryPane}}
</template>
