<template name="labListPageHeader">
  <div class="ui top attached feature segment">
    <h1 class="ui header">
      {{#if isRegisteredAsInstructor courseId}}
        <div class="top right attached ui blue label">
          <a href="{{pathFor 'labListEditPage' courseId=course._id}}"><i class="ui edit icon"></i> Edit</a>
        </div>
      {{/if}}
      <i class="circled lab icon"></i>
      <div class="content">
        Labs
        <div class="sub header">Labs to Complete in {{course.abbreviation}} {{course.instance}}</div>
      </div>
    </h1>
  </div>
</template>
