<template name="labListPage">
	{{>labListPageHeader}}
	{{>labListPageMenu}}
	<div class="ui attached feature segment">
		{{#if course.labListIntroduction}}
			<p class="ui blue ribbon label"><strong>Why</strong> do the labs?</p>
			<p>
				{{#markdownFix}}{{course.labListIntroduction}}{{/markdownFix}}
			</p>
		{{/if}}

		{{#if countLabs course._id}}
		{{else}}
			<h2 class="ui center aligned disabled icon header">
				<i class="lab icon"></i>
				No Labs Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit to create one</div>
				{{/if}}
			</h2>
		{{/if}}

    {{#if countFutureLabs course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Upcoming Labs
          <div class="sub header">There are {{countFutureLabs course._id}} upcoming labs</div>
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getFutureLabs course._id}}
          {{>labCard}}
        {{/each}}
      </div>
    {{/if}}

		{{#if countPastLabs course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Past Labs
          <div class="sub header">There are {{countPastLabs course._id}} past labs</div>
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getPastLabs course._id}}
          {{>labCard}}
        {{/each}}
      </div>
    {{/if}}

    {{#if countUnscheduledLabs course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Labs Without Deadline
          <div class="sub header">There are {{countUnscheduledLabs course._id}} labs without deadline</div>
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getUnscheduledLabs course._id}}
          {{>labCard}}
        {{/each}}
      </div>
    {{/if}}

	</div>
</template>
