<!-- data context:
course
lab
-->
<template name="labOutcomePage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>
	</div>
	{{>labPageMenu}}
	<div class="ui attached feature segment">
		<h2>Lab Outcome</h2>
    <h3>TODO</h3>
    <p>
      Show average score and percentage for each content item question/submission,
      average score and percentage for each rubric category in there, and
      average score and percentage for each rubric item in there.
    </p>
    <p>
      Show number of grade adjustments, average adjustement, and list of comments.
    </p>
  </div>
</template>
