<template name="labReferenceSolutionPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>
	</div>
	{{>labPageMenu}}
	<div class="ui attached feature segment">
		{{#if isOnTeachingTeam courseId}}
      <h2>Edit Reference Solution</h2>
      <p>
        Teaching team members can enter their reference solution here.
        That solution will be shared amongst the teaching team,
        but will not be visible to the students.
      </p>
      <div class="ui info message">
        <div class="header">Don't share this with students</div>
        Do not share reference solutions with the students, even if they ask for it!
        We don't want students to memorize solutions.
        We want them to understand how to come up with a good solution.
      </div>
      <div class="ui basic segment">
  			<div class="ui grid">
  				<div class="sixteen wide column">
  					<h2 class="ui dividing header">Contents</h2>
  				</div>
  			</div>
  		</div>
  		<div class="ui basic segment">
  			<div class="ui grid">
  				<div class="ten wide column">
  					<div class="ui fluid vertical menu">
  						{{#each getContentItems lab._id}}
  							{{#if equals kind "section"}}
  								<a class="item" href="#item_{{_id}}"><strong>{{title}}</strong></a>
  							{{/if}}
  							{{#if equals kind "subsection"}}
  								<a class="item" href="#item_{{_id}}">{{title}}</a>
  							{{/if}}
  						{{/each}}
  					</div>
  				</div>
  				<div class="six wide center aligned column">
  					<div class="ui statistic">
  						<div class="value">
  							{{getNumberOfReferenceSubmissions lab._id}}/{{getNumberOfQuestionItems lab._id}}
  						</div>
  						<div class="label">
  							Answers Provided
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  		{{#each getContentItems lab._id}}
  			{{>labItem}}
  		{{/each}}
    {{/if}}
  </div>
</template>
