<template name="labStatusStudentPanel">
  {{#if equals lab.status "hidden"}}
    <div class="ui warning message">
      <div class="header">
        <i class="hide icon"></i> Hidden
      </div>
      <p>
        This lab is still hidden and cannot be seen by you.
      </p>
    </div>
  {{else}}
    {{#if equals lab.status "open"}}
      <div class="ui positive message">
        <div class="header">
          <i class="unlock icon"></i> Open
        </div>
        <p>
          This lab is open. Please work on it and submit your answers by the deadline.
        </p>
      </div>
    {{else}}
      {{#if equals lab.status "closed"}}
        <div class="ui negative message">
          <div class="header">
            <i class="lock icon"></i> Closed
          </div>
          <p>
            This lab is closed. You can see your answers,
            but you cannot update them anymore.
          </p>
        </div>
      {{else}}
        <!--status is either "preview" or not defined -->
        <div class="ui warning message">
          <div class="header">
            <i class="unhide icon"></i> Preview: Lab May Still Change
          </div>
          <p>
            While you cannot submit anything yet
						and the contents of the lab still might change,
						you still may want to look at the lab to get a head start.
          </p>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</template>
