<template name="labTeamStudentStatusPanel">
  {{#if isPreviewOrOpenOrClosed lab.status}}
    {{#if getTeam lab}}
      <div class="ui info message">
        <div class="header">
          <i class="group icon"></i> Your Team for this Lab
        </div>
        <p>
          {{#with getTeam lab}}
            {{#each memberIds}}
              {{#with getUser this}}
                {{> userStatusLabel user=this courseId=../../courseId}}
              {{/with}}
            {{/each}}
          {{/with}}
        </p>
        {{#if equals lab.status "open"}}
          {{#with getTeam lab}}
            {{#if moreThanOneMember}}
              <p>
                You all see and edit the same answers.
                We recommend you sit together in front of one computer to collaborate on this lab.
              </p>
            {{else}}
              <p>
                In this lab you are your own team.
              </p>
            {{/if}}
          {{/with}}
        {{/if}}
      </div>
    {{else}}
    <div class="ui warning message">
      <div class="header">
        <i class="group icon"></i> You Are in No Team!
      </div>
      <p>
        To submit anything in this lab, you have to be assigned to a team.
        Ask a teaching team member to assign you.
      </p>
    </div>
    {{/if}}
  {{/if}}
</template>
