<template name="labTeamsPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
    </h1>
  </div>
  {{>labPageMenu}}
	<div class="ui attached feature segment">
    {{#if isOnTeachingTeam courseId}}
      <h2>Assign Teams</h2>
      <p>
        {{#if greaterThan lab.groupSize 1}}
          This is a collaborative lab for teams of {{lab.groupSize}}.
          However, you can manually create teams that have fewer or more than {{lab.groupSize}} students.
        {{else}}
          {{#if equals lab.groupSize 1}}
            This is an individual lab (with one-student "teams").
            However, you can manually create teams with more than one student.
          {{else}}
            The team size of this lab is not defined.
          {{/if}}
        {{/if}}
      </p>
      <div class="ui three column grid">
        {{#each getTeams lab}}
          <div class="column">
            <a class="ui fluid card" href="{{pathFor 'labTeamGradingPage' courseId=courseId labId=../lab._id teamId=_id}}">
              <div class="content">
                <div class="header">
                  Team <!--{{_id}}-->
									&nbsp;&nbsp;<span style="font-weight: normal;">{{creationApproach}}</span>
                </div>
                <div class="meta">
                  Created: <strong>{{formatDateFromNow creationDate}}</strong>
                </div>
                <div class="team existing-team">
                  {{reattachSortable}}
                  {{#each memberIds}}
                    {{#with getUser this}}
                      {{> userStatusLabel user=this courseId=../../courseId}}
                    {{/with}}
                  {{/each}}
                </div>
              </div>
              <div class="extra content">
                {{#if getUploadCount}}
                  <span class="right floated">
                    <!--<i class="upload icon"></i>-->
                    {{getUploadCount}} Uploads
                  </span>
                {{/if}}
                {{#if getSubmissionCount}}
                  <span>
                    <!--<i class="question icon"></i>-->
                    {{getSubmissionCount}} Answers
                  </span>
                {{/if}}
              </div>
              {{#unless memberIds}}
                <div class="remove-team-button ui bottom attached button">
                  <i class="remove icon"></i>
                  Delete Team
                </div>
              {{/unless}}
            </a>
          </div>
        {{/each}}
        <div class="column">
          <div class="ui fluid card new-team-card">
            <div class="content">
              <div class="header">
                New Team
              </div>
              <div class="meta">
                Drop student here to create new team
              </div>
              <div class="team new-team">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="ui fluid card unassigned-team-card">
        <div class="content ">
          <div class="header">
            Unassigned Students
          </div>
          <div class="meta">
            Drop students here to remove them from a team
          </div>
          <div class="team unassigned-team">
            {{#each getUnassignedStudentIds lab}}
              {{#with getUser this}}
                {{> userStatusLabel user=this courseId=../../courseId}}
              {{/with}}
            {{else}}
              All eligible students have been assigned to a team.
            {{/each}}
          </div>
        </div>
        {{#if getUnassignedStudentIds lab}}
          {{#if lab.groupSize}}
            <div class="randomly-assign-unassigned-students-button ui bottom attached button">
              <i class="random icon"></i>
              Randomly Assign Unassigned Students
              {{#if greaterThan lab.groupSize 1}}
                into Teams of {{lab.groupSize}}
              {{else}}
                into One-Student "Teams"
              {{/if}}
            </div>
						{{#if greaterThan lab.groupSize 1}}
							<div class="buddy-assign-unassigned-students-button ui bottom attached button">
	              <i class="heart icon"></i>
	              Assign Unassigned Students into Teams of {{lab.groupSize}} Based on Buddy Preferences
	            </div>
						{{/if}}
						{{#with getPriorLab lab}}
							<div class="copy-previous-lab-assignment-button ui bottom attached button">
								<i class="lab icon"></i>
								Copy Teams from Lab {{title}}
							</div>
						{{/with}}
          {{/if}}
        {{/if}}
      </div>
		{{/if}}
  </div>
</template>
