<template name="rubricCategoryEditPane">
  {{>rubricCategoryEditModal}}
  {{#unless equals name ""}}
    <div class="ui header" style="margin: 0px">{{name}}</div>
  {{/unless}}
  <div class="ui header" style="margin: 0px">
    {{maxPoints}} Points
    &nbsp;&nbsp;<span class="sub header">{{#if additive}}Additive{{else}}Subtractive{{/if}}</span>
    <div class="ui small compact right floated icon button configure-rubric-category-button" style="font-size: 1rem;"><i class="setting icon" style="margin-right: 0; font-size: 1rem"></i></div>
    <div class="ui small compact right floated red icon button remove-rubric-category-button" style="font-size: 1rem;"><i class="minus icon" style="margin-right: 0; font-size: 1rem"></i></div>
  </div>
  <div class="ui items">
    {{#each getRubricItems _id}}
      {{>rubricItemEditPane}}
    {{/each}}
  </div>
  <div class="ui fluid small compact button add-rubric-item-button" style="margin-bottom: 15px;"><i class="plus icon"></i>Add Rubric Item</div>
</template>
