<template name="scoreItemShowPane">
  <div class="item">
    <div class="image" style="width:20px; vertical-align: middle;">
      <a class="item-circle ui {{#if isSelected itemId ../../../team._id _id}}blue{{else}}grey{{/if}} circular label">{{index}}</a>
    </div>
    <div class="top aligned content">
      <div class="description">
        <form class="ui form item-name-form">
          <div class="ui transparent input">
            <input readonly class="item-name-input" type="text" value="{{name}}"/>
          </div>
        </form>
      </div>
      <div class="extra">
        <form class="ui inline form item-points-form">
          <div class="inline fields">
            {{#if ../additive}}+{{else}}-{{/if}}
            <div class="field" style="margin: 0;">
              <div class="ui transparent input">
                <input readonly class="item-points-input" type="text" style="width: 20px; color: rgba(0, 0, 0, 0.4); margin-bottom: 2px;" value="{{points}}"/>
              </div>
            </div>
            Points
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
