<!-- data context:
contentItem
team
-->
<template name="scoreShowPane">
  {{#if hasRubric contentItem._id}}
    {{#with getRubric contentItem._id}}
      {{#with getContentItemScore ../contentItem._id ../team._id}}
        {{#if multipleCateogoriesOrPointAdjustment .. pointAdjustment}}
          <div class="ui header" style="margin: 0 0 15px 0;">
            {{computeRubricPoints .. ../../team._id}}
            /
            {{computeMaxRubricPoints .. }}
            Points Total
            {{#if pointAdjustment}}
              &nbsp;&nbsp;<span class="sub header">Adjusted</span>
            {{/if}}
          </div>
        {{/if}}
      {{/with}}
      {{#each getRubricCategories _id}}
        {{>scoreCategoryShowPane}}
      {{/each}}
    {{/with}}
    {{#with getContentItemScore contentItem._id team._id}}
      {{#if pointAdjustment}}
        <p>
          <strong>Point Adjustment:</strong>
          {{pointAdjustment}} Points
        </p>
      {{/if}}
      {{#if comment}}
        <p>
          {{#markdownFix}}{{comment}}{{/markdownFix}}
        </p>
      {{/if}}
    {{/with}}
  {{else}}
    <p>
      This item has not been graded yet.
    </p>
  {{/if}}
</template>
