<template name="scoreCategoryShowPane">
  {{#unless equals name ""}}
    <div class="ui header" style="margin: 0px">{{name}}</div>
  {{/unless}}
  <div class="ui header" style="margin: 0px">
    {{computePoints this ../../team._id}} / {{maxPoints}} Points
    &nbsp;&nbsp;<span class="sub header">{{#if additive}}Additive{{else}}Subtractive{{/if}}</span>
  </div>
  <div class="ui items">
    {{#each getRubricItems _id}}
      {{>scoreItemShowPane}}
    {{/each}}
  </div>
</template>
