<!-- data context:
. (instructorRegistration)
-->
<template name="instructorInfoPane">
  <!--
    <a class="ui button" href="{{pathFor 'instructorPage' courseId=courseId _id=_id}}">Old Instructor Page</a>
  -->

  <div class="ui grid">
    <div class="ten wide column">
      Registered: <strong>{{formatDate creationDate}}</strong>
      {{#if withdrawn}}
        <br>
        <strong>Withdrawn</strong>: <strong>{{formatDate withdrawalDate}}</strong>
      {{/if}}
      {{#if isOnTeachingTeam courseId}}
        {{#with getUser instructorId}}
          {{#if emails.[0]}}
            <br>
            {{#if emails.[0].verified}}
              <i class="green check square icon"></i>
            {{else}}
              <i class="red minus circle icon"></i>
            {{/if}}
            <a href="mailto:{{emails.[0].address}}">{{emails.[0].address}}</a>
          {{/if}}
        {{/with}}
        <br>
      {{/if}}
      {{#if isMe instructorId}}
        <div class="ui horizontal label">
          <a href="{{pathFor 'profilePage'}}"><i class="edit icon"></i> Edit Profile</a>
        </div>
      {{/if}}
    </div>
    <div class="six wide column">
      {{#with getUser instructorId}}
        {{> userGravatarLarge this}}
      {{/with}}
    </div>
  </div>
</template>
